<script type="text/javascript">

/* 
 * global variable for hat options - 1902mp
 * deprecate all the other usage of global variables
 * all global variables exclusively using by hatviews
 * must be stored in this variable namespace
 * @var collection 
 * @scope global
 * @author 1902mp
 */
window.hatviewops = [];

</script>

<?php $product = Mage::registry('product'); ?>

<!--  INITIALS START -->
<?php 
$initial = array();

for($i = 1; $i <= 8; $i++){	
	foreach(Mage::getSingleton('core/resource')
		->getConnection('core_read')
		->fetchAll('SELECT hash_options FROM custom_options_group WHERE title = :title',
				array('title'=>'Initial '.strval($i)))
		as $rowl){
		$rawdata = unserialize($rowl['hash_options']);
		//iterate to get a data
		foreach($rawdata as $fdata){
			$initial[strval($i)] = $fdata;
			break; //we need to the get the first data
		}
		break;
	}
}

?>

<script type="text/javascript">
        window.hatviewops.productskutrue = "<?php echo $product->getSku(); ?>";
        
	hatviewops.initials = [];
	hatviewops.curinitials = [];
	hatviewops.initials['1'] = [];
	hatviewops.initials['1']['select'] = 'initial1';
	hatviewops.initials['1']['values'] = <?php echo json_encode($initial['1']['values']); ?>;
	
	hatviewops.initials['2'] = [];
	hatviewops.initials['2']['select'] = 'initial2';
	hatviewops.initials['2']['values'] = <?php echo json_encode($initial['2']['values']); ?>;

	hatviewops.initials['3'] = [];
	hatviewops.initials['3']['select'] = 'initial3';
	hatviewops.initials['3']['values'] = <?php echo json_encode($initial['3']['values']); ?>;

	hatviewops.initials['4'] = [];
	hatviewops.initials['4']['select'] = 'initial4';
	hatviewops.initials['4']['values'] = <?php echo json_encode($initial['4']['values']); ?>;

	hatviewops.initials['5'] = [];
	hatviewops.initials['5']['select'] = 'initial5';
	hatviewops.initials['5']['values'] = <?php echo json_encode($initial['5']['values']); ?>;

	hatviewops.initials['6'] = [];
	hatviewops.initials['6']['select'] = 'initial6';
	hatviewops.initials['6']['values'] = <?php echo json_encode($initial['6']['values']); ?>;

	hatviewops.initials['7'] = [];
	hatviewops.initials['7']['select'] = 'initial7';
	hatviewops.initials['7']['values'] = <?php echo json_encode($initial['7']['values']); ?>;

	hatviewops.initials['8'] = [];
	hatviewops.initials['8']['select'] = 'initial8';
	hatviewops.initials['8']['values'] = <?php echo json_encode($initial['8']['values']); ?>;
</script>

<!--  INITIALS END -->

<?php $hatTextInfos = Mage::getSingleton('core/session')->getHatTextInfo(); ?>
<?php $hatViewOptions = $this->getHatViewOptions($product->getAttributeText('hat_model')) ?>
<?php $defaultSelected = false; ?>
<?php $defaultHatView = 'front'; ?>
<div class="hat-view-wrapper">
    <div class="hat-view-wrapper-inner">
		<?php foreach ($hatViewOptions as $hatViewOption): ?>
	<?php $hatView = strtolower(str_replace('/ /', '', $hatViewOption->getHatView())); ?>
	<?php if ($hatViewOption->getHatViewIsDefault()) $defaultHatView = $hatView; ?>
	<div class="hat-view-box hat-view-box-<?php echo $hatView ?> <?php echo ($hatViewOption->getHatViewIsDefault())? ' hat-view-box-selected': ''; ?>">
		
		<a href="#<?php echo $hatView ?>" class="">
			<?php if ($hatViewOption->getHatViewIcon()): ?>
			<img src="<?php echo Mage::getBaseUrl('media').$hatViewOption->getHatViewIcon() ?>" width="56" height="56" alt="<?php echo $hatViewOption->getHatView() ?>" />
			<?php else: ?>
			<?php echo $hatViewOption->getHatView() ?>
			<?php endif; ?>
		</a>
	</div>
	<?php endforeach; ?>
    </div>
</div>

<script type="text/javascript">
var productHatAttributeDefaults = false;
var hatViewOptionsHatAttributes = false;
var currentHatView = false;

function getCurrentHatView() 
{
    if (jQuery(".hat-view-box-selected").length) 
	{
	    currentHatView = jQuery(".hat-view-box-selected").children('a').attr("href").replace('#', '');
		return currentHatView;
	}
	return false;
}

function setHatView(hatView) 
{
	jQuery.ajax({
		url: "<?php echo $this->getUrl('hatviewoptions/hatviewoptions/setHatView', array('_store' => 1)) ?>",
		data: {'img' : getHatPreviewImage(), 'view' : hatView },
		type: "post",
		success: function(response) 
		{	
			var resp = jQuery.parseJSON(response);			
			if (resp.status) 
			{
				jQuery(".product-view .product-essential img#image_temp").attr("src", '<?php echo $this->getUrl('hatviewoptions/hatviewoptions/productImage', array('_store' => 1)) ?>'+'?img='+resp.url+'&view='+getCurrentHatView()+'&product=<?php echo $product->getId() ?>'+'&model='+window.hatModel+'&ctr='+resp.ctr);
			}
			else 
			{
			    jQuery(".product-view .product-essential img#image_temp").attr("src", getHatPreviewImage());
			}
		}
	});
}

function hatBaseColorFallback(prodCountry,fallback){
	if(prodCountry == 'fi'){
		return '100';
	}
	else{
		return fallback;
	}
}


function hatCockadeFallback(prodCountry,fallback){
	if(prodCountry === 'fi'){
		return '4901';
	}
	else{
		return fallback;
	}
}

function hatBandColorFallback(prodCountry,fallback){
	if(prodCountry === 'fi'){
		return '3-995';
	}
	else{
		return fallback;
	}
}

function hatShadeBandFallback(prodCountry, fallback){
	if(prodCountry === 'fi'){
		return '1';
	}
        else if('<?php echo $product->getSku(); ?>' === '8086'){
                return '1';
        }
	else{
		return fallback;
	}
}

function hatShadow(prodCountry, fallback){
    if(prodCountry === 'fi'){
        return getHatViewOptionHatAttributeValue(currentHatView, 'hat_shadow', jQuery(".type-shadow input[data-sku]:checked").attr("data-sku"), window.hatShade);
    }
    if(prodCountry === 'sv'){
		if(currentHatView === 'back'){
			return '300';
		}
		else{
			return getHatViewOptionHatAttributeValue(currentHatView, 'hat_shadow', jQuery(".type-shadow input[data-sku]:checked").attr("data-sku"), window.hatShade);
		}
    }
    else{
        return fallback;
    }
}

function getHatPreviewImage() 
{
    <?php $langcode = explode('_',Mage::app()->getLocale()->getLocaleCode()); ?>
    window.pCountry = '<?php echo $langcode[0];  ?>'; /* 1902mp duplicated code of productCountry*/
    
    var model = window.hatModel;
    //var baseColor = getHatViewOptionHatAttributeValue(currentHatView, 'hat_base_color', jQuery(".base-color input:checked").attr("data-sku"), false);
    var baseColor = getHatViewOptionHatAttributeValue(currentHatView, 'hat_base_color', jQuery(".base-color input:checked").attr("data-sku"), hatBaseColorFallback(window.pCountry,false));
    
    var shadow = getHatViewOptionHatAttributeValue(currentHatView, 'hat_shade', jQuery(".type-shadow input[data-sku]:checked").attr("data-sku"), window.hatShade);
    shadow = hatShadow(window.pCountry,getHatViewOptionHatAttributeValue(currentHatView, 'hat_shade', jQuery(".type-shadow input[data-sku]:checked").attr("data-sku"), window.hatShade));
    //var cockade = getHatViewOptionHatAttributeValue(currentHatView, 'hat_cockade', jQuery(".type-cockade input[data-sku]:checked").attr("data-sku"), "0");
    var cockade = getHatViewOptionHatAttributeValue(currentHatView, 'hat_cockade', jQuery(".type-cockade input[data-sku]:checked").attr("data-sku"), hatCockadeFallback(window.pCountry,"0"));
    var roset = getHatViewOptionHatAttributeValue(currentHatView, 'hat_roset', jQuery(".type-roset input[data-sku]:checked").attr("data-sku"), "0");
	if ("0" != roset) { roset = roset + "-" + baseColor; }    
    //var colorBand = getHatViewOptionHatAttributeValue(currentHatView, 'hat_band_color', jQuery(".type-colorband option[data-sku]:selected").attr("data-sku"), "1004-995");
     var colorBand = getHatViewOptionHatAttributeValue(currentHatView, 'hat_band_color', jQuery(".type-colorband option[data-sku]:selected").attr("data-sku"), hatBandColorFallback(window.pCountry,'1004-995'));
    var buttons = getHatViewOptionHatAttributeValue(currentHatView, 'hat_buttons', jQuery(".type-buttons input[data-sku]:checked").attr("data-sku"), "0");
    if ("0" != buttons) { buttons = buttons + "-" + baseColor; }    
    var upholstery = getHatViewOptionHatAttributeValue(currentHatView, 'hat_upholstery', jQuery(".type-upholstery input[data-sku]:checked").attr("data-sku"), window.hatUpholstery);
    var stripe = getHatViewOptionHatAttributeValue(currentHatView, 'hat_stripe', jQuery(".type-stripe input[data-sku]:checked").attr("data-sku"), "0");
    stripe = ("0" == stripe) ? getHatViewOptionHatAttributeValue(currentHatView, 'hat_stripe', jQuery(".type-stripe option[data-sku]:checked").attr("data-sku"), "0") : stripe;
    //var shadeBand = getHatViewOptionHatAttributeValue(currentHatView, 'hat_shadeband', jQuery(".type-shadeband option[data-sku]:checked").attr("data-sku"), "0");
    var shadeBand = getHatViewOptionHatAttributeValue(currentHatView, 'hat_shadeband', jQuery(".type-shadeband option[data-sku]:checked").attr("data-sku"), hatShadeBandFallback(window.pCountry,'0'));
	/*
    var baseColor = jQuery(".base-color input:checked").attr("data-sku");
    var shadow = jQuery(".type-shadow input[data-sku]:checked").attr("data-sku") || window.hatShade || "0";
    var cockade = jQuery(".type-cockade input[data-sku]:checked").attr("data-sku");
    var roset = "0";
    if (jQuery(".type-roset input[data-sku]:checked").attr("data-sku")) {
        roset = jQuery(".type-roset input[data-sku]:checked").attr("data-sku") + "-" + baseColor;
    }
    var colorBand = jQuery(".type-colorband option[data-sku]:selected").attr("data-sku") || "1004-995";
    var buttons = "0";
    if (window.hatButtons) {
        buttons = window.hatButtons + "-" + baseColor;
    }
    if (jQuery(".type-buttons input[data-sku]:checked").attr("data-sku")) {
        buttons = jQuery(".type-buttons input[data-sku]:checked").attr("data-sku") + "-" + baseColor;
    }
    var upholstery = jQuery(".type-upholstery input[data-sku]:checked").attr("data-sku") || window.hatUpholstery || "1-1-205";
    var stripe = jQuery(".type-stripe input[data-sku]:checked").attr("data-sku") || "0";
    var shadeBand = jQuery(".type-shadeband option[data-sku]:checked").attr("data-sku") || "0";
	*/
    currentHatView = ('right' == currentHatView.replace('/','')) ? "" : currentHatView.replace('/','') + "/"; // 1902 esantos - 20140129 added to force right view to old view
    var productCountry = ('' == window.hatCountry || typeof window.hatCountry === 'undefined') ? '' : window.hatCountry + "/" ; /* 1902 esantos 20141023 - added for country option */


    //console.log('shadow:' + shadow);
    if(baseColor == false && pCountry == 'fi'){
        baseColor = '100';
    }
    var tempHatPreview = "http://media.clseifert.com/hats/" + productCountry + currentHatView + model + "-" + shadow + "-" + cockade + "-" + baseColor + "-" + roset + "-" + colorBand + "-" + buttons + "-" + upholstery + "-" + stripe + "-" + shadeBand + ".png";

    return tempHatPreview;

}

function getHatViewHatAttributeDefaults() 
{

	jQuery.ajax({
		url: "<?php echo $this->getUrl('hatviewoptions/hatviewdefaultoptions/index', array('_store' => 1)) ?>",
		data: {'product' : '<?php echo $product->getId() ?>'},
		type: "post",
		success: function(response) 
		{	
			var resp = jQuery.parseJSON(response);			
			
			hatViewOptionsHatAttributes = resp.hat_view_default_options;
			productHatAttributeDefaults = resp.product_hat_attributes;
		}
	});
}

function getHatViewOptionHatAttributeValue(hatView, hatAttr, customOptionVal, defaultVal) 
{
    if(hatViewOptionsHatAttributes[hatView] !== undefined)
	{
		var hatAttrIsUnderHatViewOption = false;
		
		hatViewOptionsHatAttributes[hatView].forEach(function(hat_attr)
		{
		    if (hatAttr == hat_attr && productHatAttributeDefaults[hatAttr] != null) { hatAttrIsUnderHatViewOption = true; }
		});

		if (hatAttrIsUnderHatViewOption) 
		{
			return productHatAttributeDefaults[hatAttr];
		}
	}

	if(customOptionVal !== undefined) { return customOptionVal; }

	return defaultVal;
}

jQuery(document).ready(function() {

    var defaultHatImageUrl = jQuery('.product-view img#image').attr('src');
	
	if (0 < jQuery('.hat-view-box').length) 
	{
	    currentHatView = jQuery(".hat-view-box-selected").children('a').attr("href").replace('#', '');
	}
	
	jQuery('.hat-view-box').click(function() 
	{
	    jQuery('.hat-view-box').removeClass('hat-view-box-selected');
	    jQuery(this).addClass('hat-view-box-selected');
		//renderPreview();
		currentHatView = jQuery(this).children('a').attr("href").replace('#', '');
		setHatView(currentHatView);
	});
	
	jQuery('.product-view img#image_temp').load(function(){
	    jQuery('.product-view img#image').attr('src',jQuery(this).attr('src'));
	}).error(function(){
	    jQuery('.product-view img#image').attr('src', defaultHatImageUrl);
		logMissingHatImage(jQuery('.product-view img#image_temp').attr('src'), '<?php echo $this->getUrl('missingimagelog/log', array('_store' => 1)) ?>', '<?php echo Mage::app()->getStore()->getCode() ?>');
	});
	
	jQuery('.product-view img#image_temp').load(function() 
	{
		var productImageSrcUrlArr = jQuery(this).attr('src').split("/");
		if ('media.clseifert.com' == productImageSrcUrlArr[2]) 
		{
		    productImageSrc = jQuery(this).attr('src');
			jQuery('.hat-view-box-selected').click();
		}
	});
	
	getHatViewHatAttributeDefaults(currentHatView);
});
</script>