<?php $_description = $this->getProduct()->getShortDescription(); ?>
<?php if ($_description): ?>
    <h2><?php echo $this->__('Description') ?></h2>
    <div class="box-collateral">
        <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'shortDescription'); ?>
    </div>
<?php endif; ?>
