<?php
$storeRootCategoryId = Mage::app()->getStore()->getRootCategoryId();
$categories  = Mage::getModel('catalog/category')
				->getCollection()
				->addAttributeToSelect(array('name'))
				->addAttributeToFilter('is_active', 1)
				->addAttributeToFilter('parent_id', $storeRootCategoryId)
				->addAttributeToSort('position', 'asc');
?>
<div class="landing-collection">
    <div class="container_12">
		
		<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('landing_collection')->toHtml() ?>
		
		<h3 class="landing-section-title"><?php echo $this->__('Sortiment') ?></h3>
		<ul>
		<?php $ctr = 0; ?>
		<?php foreach($categories as $category): ?>
		<?php
		if (3 < $ctr) continue;
		$productId = Mage::getModel('catalog/category')->setStoreId(Mage::app()->getStore()->getStoreId())->load($category->getId())->getProductCollection()->getFirstItem()->getId();
		$product = Mage::getModel('catalog/product')->setStoreId(Mage::app()->getStore()->getStoreId())->load($productId);
		?>
		
		<li>
		<div class="collection-item-wrapper<?php echo (0 == $ctr) ? ' collection-item-wrapper-first' : ''; ?><?php echo (3 == $ctr) ? ' collection-item-wrapper-last' : ''; ?>">
		<a href="<?php echo $this->getBaseUrl().$product->getUrlKey() ?>"><img alt="<?php echo $product->getName() ?>" title="<?php echo $product->getName() ?>" src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(244, null); ?>" class="collection-item"></a>
		</div>
		</li>
		<?php $ctr++; ?>
		<?php endforeach; ?>
		</ul>
		<div class="webshop-button">
		<span><a href="#" class=""><?php echo $this->__('ga till webshop') ?></a></span>
		</div>
	</div>
</div>