<div class="landing-footer">
    <div class="container_12">
		<h3 class="landing-section-title"><?php echo $this->__('Vad tyckte 2013 års studenter?') ?></h3>
		
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('landing_footer')->toHtml() ?>
		
	</div>
</div>

