<div class="landing-review">
    <div class="container_12">
		
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('landing_review')->toHtml() ?>
		
		<div class="webshop-button">
		<span><a href="#" class=""><?php echo $this->__('ga till webshop') ?></a></span>
		</div>
		
	</div>
</div>

