<div class="landing-section3">
    <div class="container_12">
		<h3 class="landing-section-title"><?php echo $this->__('Vad gör vår studentmössa unik?') ?></h3>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('landing_section3')->toHtml() ?>
		
		<div class="webshop-button">
		<span><a href="#" class=""><?php echo $this->__('ga till webshop') ?></a></span>
		</div>
		
		<div class="section3-mobile-bg">
			<div class="webshop-button">
			<span><a href="#" class=""><?php echo $this->__('ga till webshop') ?></a></span>
			</div>
		</div>
		
	</div>
</div>