<?php 
$_helper = $this->helper('catalog/output');
$hasSingleProduct = false;

if ($categoryId = $this->getRequest()->getPost('category_id', false)) :
    
$productCollection = Mage::getModel('catalog/category')->setStoreId(Mage::app()->getStore()->getStoreId())->load($categoryId)->getProductCollection()->addAttributeToSelect(array('product_url'));

if ($productCollection && 0 < count($productCollection)) :

if (1 == count($productCollection)) $hasSingleProduct = true;

foreach ($productCollection as $prod):

$_product = Mage::getModel('catalog/product')->setStoreId(Mage::app()->getStore()->getStoreId())->load($prod->getId());
?>
<?php if($_product->isSaleable()): ?>
<li class="grid_3 item<?php echo ($hasSingleProduct) ? ' single-item':''; ?>">
	<div class="grid-indent">
		<div class="product-box">
			<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>                        
			<?php echo $this->getPriceHtml($_product, true) ?>
			<?php if($_product->getRatingSummary()): ?>
			<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
			<?php endif; ?>
			<div class="clear"></div>
			<div class="product-img-box">
				<?php /* Label New */ echo MAGE::helper('ThemeOptions')->getProductNewLabel($_product); ?>
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
				<div class="hover-box">
				<?php if ($hasSingleProduct) : ?>
				<img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><?php /* Hover Image */ echo MAGE::helper('ThemeOptions')->getHoverImage($_product, null); ?>
				<?php else : ?>
				<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(420, null); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><?php /* Hover Image */ echo MAGE::helper('ThemeOptions')->getHoverImage($_product, 420); ?>
				<?php endif; ?>
				
				
				</div>
				</a>
				<?php  // Fancybox
				if ($fancybox['fancybox_status'] && $fancybox['fancybox_listing'] == 1): ?>
						<a class="fancybox category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>">&nbsp;</a>
					<?php endif;
				// End Fancybox ?>
				<div class="img-shadow"><div><div></div></div></div>
			</div>
			<div class="actions">
				<ul class="add-to-links no-display">
					<?php if ($this->helper('wishlist')->isAllow()) : ?>
						<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
					<?php endif; ?>
					<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
						<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
					<?php endif; ?>
				</ul>
				<?php if($_product->isSaleable()): ?>
					<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><span><?php echo $this->__('Add to Cart') ?></span></span></span></button>
				<?php else: ?>
					<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
				<?php endif; ?>
			</div>
		</div>
	</div>
</li>
<?php 
endif;	
endforeach;
endif;	
endif;
?>