<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h1><?php echo $this->__('Saved Hat Templates') ?></h1>
</div>

<?php 
$id = $this->getRequest()->getParam('id');
$savedSetup = $this->getSavedSetupData($id);
?>

<form action="<?php echo $this->getFormPostAction()?>" method="post" id="form-validate">
    <?php echo $this->getBlockHtml('formkey')?>
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Edit "%s" setup', $savedSetup->getTitle())?></h2>
        <ul class="form-list">
            <li class="fields">
                <label for="title" class="required"><em>*</em><?php echo $this->__('Title') ?></label>
                <div class="input-box">
                    <input type="text" name="title" id="title" title="<?php echo $this->__('Title') ?>" value="<?php echo $savedSetup->getTitle()?>" class="input-text required-entry" />
                </div>
            </li>  
            <?php 
            $src = '';
            $imagePathArr = explode('/', $savedSetup->getImagePath());
            $urlArr = explode('/', Mage::getBaseUrl());
            $baseUrl = $urlArr[0] . '//' . $urlArr[count($urlArr) - 3];
            $src = $baseUrl . '/media/savedcapsetup/' . $imagePathArr[count($imagePathArr) - 1];
            if(!is_null($savedSetup->getImagePath())):
            ?>
            <li class="fields">  
                <p>
                    <br/>
                    <label for="hat_screenshot">
                        <?php echo $this->__('Hat Screenshot');?>
                    </label>
                    <p>
                        <label for="allow_display">
                            <?php 
                            $isChecked = '';
                            if($savedSetup->getAllowDisplay() == '1') {
                                $isChecked = "checked = 'checked'";
                            }
                            ?>
                            <input type="checkbox" name="allow_display" id="allow_display" class="checkbox" value="1" <?php echo $isChecked?>/>
                            <?php echo $this->__('Allow display to Gallery') ?>
                        </label>
                    </p>
                    <img src="<?php echo $src?>"/>
                </p>
            </li>
            <?php else:?>
            <div id="no_screenshot">
                <br/>
                <p><?php echo $this->__('No Screenshot')?></p>
            </div>
            <?php endif;?>
        </ul>
    </div>
    <div class="buttons-set">
        <input type="hidden" name="id" value="<?php echo $savedSetup->getId()?>"/>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->getUrl('*/*/index') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Save Hat Setup') ?>" class="button"><span><span><?php echo $this->__('Save Hat Setup') ?></span></span></button>
    </div>
</form>

<style>
    .fields p {
        display: block;
        clear: both;
    }
    #allow_display {
        margin-left: 0px;
    }
</style>

<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>