<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/webgl/popup/save_hat_setup.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/webgl/popup/save_hat_setup.css') ?>">

<?php $collection = $this->getCollection(); ?>
<div class="page-title">
    <h1><?php echo $this->__('Saved Hat Templates') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($collection->getSize()): ?>
<table class="data-table" id="savedcapsetup_link_table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('#') ?></th>
            <th><?php echo $this->__('Title') ?></th>
            <th><?php echo $this->__('Link') ?></th>
            <th style="width:100px"><span class="nobr"><?php echo $this->__('Action') ?></span></th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; $i = 1;?>
        <?php foreach ($collection as $_obj): ?>
        <tr>
            <td style="text-align: center"><?php echo $i ?></td>
            <td style="text-align: center"><?php echo $_obj->getTitle() ?></td>
            <td style="max-width: 600px">
                <span class="nobr" style="max-width: 600px; overflow: hidden; text-overflow: ellipsis;">
                    <a class="savedcapsetup_link" href="<?php echo $_obj->getLink(); ?>" target="_blank">
                        <?php echo $_obj->getLink(); ?>
                    </a>
                </span>
            </td>
            <td style="text-align: center">
                <a href="<?php echo $this->getUrl('*/*/edit',array('id' => $_obj->getId()))?>">
                    <?php echo $this->__('Edit')?>
                </a>
                 | 
                <a href="javascript:deleteHatSetup('<?php echo $_obj->getId()?>')">
                    <?php echo $this->__('Delete')?>
                </a>
            </td>
        </tr>
        <?php $i++; endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">
    decorateTable('savedcapsetup_link_table');
    function deleteHatSetup(id) {
        if(confirm("<?php echo $this->__('Are you sure you want to delete?')?>")) {
            hatsetup.methods.delete_hatsetup('<?php echo Mage::getBaseUrl()?>',id);
        }
    }
</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('No saved hat templates.'); ?></p>
<?php endif ?>    

<style>
    td a {
        text-decoration: underline;
    }
    td a:hover {
        text-decoration: none;
    }
</style>

<a id="edit-hat-setup-trigger" href="#edit-hat-setup" title="Edit Hat Templates">&nbsp;</a>

<div id="edit-hat-setup" style="display: none;">
    <div class="edit-hat-setup-container">
        <p><?php echo $this->__('Edit')?></p>
        <p style="text-align: center;">
            <label for="allow_display" id="allow_display_wrapper">
                <input type="checkbox" name="allow_display" id="allow_display"/>
                <?php echo $this->__('Display this image in the gallery')?>
            </label>
            <p>
                <input type="text" name="link_title" id="save-hat-setup-link-title" placeholder="Add title to this setup link" value=""/>
            </p>
            <div class="btn-container">
                <a href="javascript:hatsetup.methods.save_hatsetup()" id="fancy-yes"><?php echo $this->__('Yes')?></a>
                <a href="javascript:hatsetup.methods.fancy_hide()" id="fancy-no"><?php echo $this->__('No')?></a>
            </div>
        </p>
    </div>

    <div id="success" style="display: none;">
        <p><?php echo ''?></p>
    </div>
</div>