<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php 
/*****/ 
$custompatern = MAGE::helper('ThemeOptions')->getThemeOptions('custompatern');
if (!$custompatern):
    $bgPatern = MAGE::helper('ThemeOptions')->getThemeOptions('patern');
else:
    $mediaurl = MAGE::helper('ThemeOptions')->getThemeOptions('mediaurl');
    $paternurl = 'style="background:url('.$mediaurl.$custompatern.') center top repeat;"';
endif;
/*****/
?>
<footer id="footer">
    <div class="content-wrapper <?php echo $bgPatern ?> <?php if(isset($paternurl)){echo $paternurl;} ?>">
        <div class="footer-top-wrapper" style="display:none">
            <div class="container_12">
                <div class="grid_12">
                    <div class="checkpoint-5-button"></div>
                    <?php echo $this->getChildHtml('footer.newsletter') ?>
                    <?php // Predefined Static Block
                    if ($static_html = $this->getChildHtml('custom_footer')):
                        echo '<div class="custom-footer">'.$static_html.'</div>';
                    endif; ?>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="footer-links-wrapper" id="checkpoint-5">
        <div class="container_12">
            <div class="grid_12">
                <?php // Predefined Static Block
                if ($static_html = $this->getChildHtml('social_links')):
                    echo $static_html;
                endif; ?>
                <div class="footer-links-box">
                    <?php echo $this->getChildHtml('footer_links') ?>
                    <?php echo $this->getChildHtml('cms_footer_links') ?>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-columns-wrapper" style="display:none">
        <div class="container_12">
            <div class="grid_12">
                <?php // Predefined Static Block
                if ($static_html = $this->getChildHtml('custom_footer_2')):
                    echo $static_html;
                endif; ?>
                <?php echo $this->getChildHtml('contactForm') ?>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-bottom-wrapper">
        <div class="container_12">
            <div class="grid_12">
                <?php echo $this->getChildHtml('footer_text_block') ?>
                <div class="indent">
                    <address><?php echo $this->getCopyright() ?></address>
                    <?php echo $this->getChildHtml('store_switcher') ?>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</footer>