<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php 
/*****/
$appearance = MAGE::helper('ThemeOptions')->getThemeOptions('appearance');
/*****/
?>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
    var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->

<!-- Font Replacement -->
<?php if ($appearance['font'] == 2): ?>
<link href='https://fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $appearance['gfont']); ?>:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<?php endif; ?>
<!-- End Font Replacement -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>

<!-- Font Replacement -->
<?php if ($appearance['font'] == 2): ?>
<?php if ($appearance['default_sizes'] == 0): ?>
<style>
.product-name, button.button span span, header#header .top-cart .block-title a, #nav li a, #footer .footer-columns-wrapper h3, #footer .footer-columns-wrapper ul li a, #footer .footer-top-wrapper h3, .page-title h1, .page-title h2, .category h2, aside.sidebar section header h2, #categories-accordion li.level-top a.level-top, .pager .pages li a.i-previous, .product-view .product-shop .product-name h2, .add-to-cart .qty, .product-options h3, .product-collateral h2, .block-related header h2, .catalog-product-view .box-reviews h2, #cart-accordion h3.accordion-title, .nav-wide#nav li.nav-static-block h3, .nav-wide#nav li.nav-static-block p, .grid-container .grid-text-box h2, .grid-container .grid-text-box p, .slider-container .slider-text-box h2, .slider-container .slider-text-box p, .header-block-wrapper h2, .header-block-wrapper p, .header-slider-container .iosSlider .slides .item h2, .header-slider-container .iosSlider .slides .item h3{font-family: '<?php echo $appearance['gfont']; ?>', sans-serif; font-size:<?php echo $appearance['fontsize']; ?>px !important; line-height: <?php echo $appearance['fontsize']; ?>px !important; font-weight: <?php echo $appearance['fontweight']; ?> !important;}
</style>
<?php else: ?>
<style>
.product-name, button.button span span, header#header .top-cart .block-title a, #nav li a, #footer .footer-columns-wrapper h3, #footer .footer-columns-wrapper ul li a, #footer .footer-top-wrapper h3, .page-title h1, .page-title h2, .category h2, aside.sidebar section header h2, #categories-accordion li.level-top a.level-top, .pager .pages li a.i-previous, .product-view .product-shop .product-name h2, .add-to-cart .qty, .product-options h3, .product-collateral h2, .block-related header h2, .catalog-product-view .box-reviews h2, #cart-accordion h3.accordion-title, .nav-wide#nav li.nav-static-block h3, .nav-wide#nav li.nav-static-block p, .grid-container .grid-text-box h2, .grid-container .grid-text-box p, .slider-container .slider-text-box h2, .slider-container .slider-text-box p, .header-block-wrapper h2, .header-block-wrapper p, .header-slider-container .iosSlider .slides .item h2, .header-slider-container .iosSlider .slides .item h3{font-family: '<?php echo $appearance['gfont']; ?>', sans-serif;}
</style>
<?php endif; ?>
<?php endif; ?>
<!-- End Font Replacement -->
<?php if ($appearance['customcolors'] == 1): ?>
<!-- Theme Colors -->
<?php
	if (!function_exists('HexToRGB')) {
  	function HexToRGB($hex) {
	    $hex = ereg_replace("#", "", $hex);
	    $color = '';
	    
	    if(strlen($hex) == 3) {
		    $color .= hexdec(substr($hex, 0, 1) . $r) . ',';
		    $color .= hexdec(substr($hex, 1, 1) . $g) . ',';
		    $color .= hexdec(substr($hex, 2, 1) . $b);
	    }
	    else if(strlen($hex) == 6) {
		    $color .= hexdec(substr($hex, 0, 2)) . ',';
		    $color .= hexdec(substr($hex, 2, 2)) . ',';
		    $color .= hexdec(substr($hex, 4, 2));
	    }
	    
	    return $color;
    }
	}
?>
<style>
	/*  Site Background */
	header#header .header-block-wrapper,
	.content-wrapper {background-color:#<?php echo $appearance['sitebg']; ?>;}
	
	.checkpoint-3-button,
	.checkpoint-5-button{border-top-color:#<?php echo $appearance['sitebg']; ?>;}
	
	
	/* Skin Color #1 */
	button.button span span,
	header#header .form-currency a:hover,
	header#header .form-language a:hover,
	header#header .top-cart .block-title:hover,
	header#header .top-cart .block-title.active,
	header#header .form-search button,
	#footer ul.social-links li:hover,
	#footer .footer-columns-wrapper ul li a:hover,
	.category h2,
	<?php
	/*
	.sorter .view-mode strong.grid,
	.sorter .view-mode a.grid:hover,
	.sorter .view-mode strong.list,
	.sorter .view-mode a.list:hover,
	*/
	?>
	.toolbar-bottom .pager .pages ol li.current,
	.toolbar-bottom .pager .pages ol li a:hover,
	.add-to-links li a,
	.product-view .product-shop .product-bottom-box .email-friend a,
	.cart-table .link-wishlist,
	.cart-table .cart-edit,
	.btn-remove2,
	.opc .active .step-title .number,
	.my-wishlist .link-edit,
	.product-view .product-prev,
	.product-view .product-next,
	.more-views .prev span,
	.more-views .next span,
	.block-related .prev span,
	.block-related .next span,
	#toTop,
	#toTopHover,
	.block-wishlist .es-nav-prev span,
	.block-wishlist .es-nav-next span,
	.slider-container .prev span,
	.slider-container .next span,
	.header-slider-container .iosSlider .slideSelectors .button-item:hover,
	.header-slider-container .iosSlider .slideSelectors .button-item.selected{background-color:#<?php echo $appearance['maincolor']; ?>;}
	
	header#header .links li:hover{background-color:#<?php echo $appearance['maincolor']; ?>!important;}
	
	.header-slider-container .iosSlider .slides .item h2{color:#<?php echo $appearance['maincolor']; ?>;}
		
	
	/* Skin Color #2 */
	a,
	.price,
	nav.breadcrumbs li strong,
	.pager .limiter ul li a:hover,
	.pager .limiter ul li a.selected,
	.catalog-product-view .box-reviews ul li small span,
	.catalog-product-view .box-reviews .form-add h3 span,
	.product-view .product-prev:hover > span,
	.product-view .product-next:hover > span{color:#<?php echo $appearance['secondcolor']; ?>;}
	
	header#header .nav-container .nav-wide#nav.ul ul.level0 > li > ul > li li > a:hover,
	.nav-container.mobile #nav ul.level0 ul li a:hover,
	header#header .nav-container.mobile #nav ul.level0 ul li li li a:hover,
	#nav.nav-wide ul.level0 > li > ul > li > a:hover{color:#<?php echo $appearance['secondcolor']; ?>!important;}
	
	.nav-wide#nav ul.level1,
	.nav-wide#nav ul.level1 ul,
	<?php
	/*
	.sorter .total,
	*/
	?>
	#cart-accordion h3.accordion-title,
	#nav ul,
	#nav div,
	.nav-wide#nav ul.level1.shown-sub,
	.nav-wide#nav ul.level1 ul.shown-sub,
	#nav.nav-wide li.nav-static-block button span span,
	header#header .menu-button,
	.grid-2-wrapper{background-color:#<?php echo $appearance['secondcolor']; ?>;}
	
	.triangle,
	.meigee-tabs li a:hover,
	.meigee-tabs li.active a,
	.meigee-tabs li.active a:hover,
	.checkpoint-4-button{border-top-color:#<?php echo $appearance['secondcolor']; ?>!important;}
	

	/*====== Header Background =======*/
	header#header .header-bottom-wrapper { background-color: #<?php echo $appearance['headerbackground']; ?>;}

	/*====== Header Color =======*/

	header#header .nav-container > ul li a { color: #<?php echo $appearance['headercolor']; ?>;}

	/*====== Header Hover Color =======*/

	header#header .nav-container > ul li a:hover {color:#<?php echo $appearance['headercolorhover']; ?>;}

	#nav > li.over > a,
	#nav > li.active > a{border-color:#<?php echo $appearance['headercolorhover']; ?>;}
	
</style>
<!-- Theme Colors -->
<?php endif; ?>
<link rel="stylesheet" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>frontend/meigeetheme/default/css/customizations.css?v=20161206" type="text/css" />