<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<?php
$product = Mage::getModel('catalog/product');
$attributes = Mage::getResourceModel('eav/entity_attribute_collection')
->setEntityTypeFilter($product->getResource()->getTypeId())
->addFieldToFilter('attribute_code', 'school');
$attribute = $attributes->getFirstItem()->setEntity($product->getResource());
$schools = $attribute->getSource()->getAllOptions(false);
$urlPath = Mage::getBaseUrl();

$selectedSchoolId = Mage::getSingleton('core/session')->getSelectedSchoolId();
$selectedSchool = Mage::getSingleton('core/session')->getSelectedSchool();
$selectedSchoolLabel = Mage::getSingleton('core/session')->getSchoolOptionLabel();

$currentSchool = $this->getRequest()->getParam('school');

foreach ($schools as $school) 
{
	if ($selectedSchoolId == $school['value']) 
	{
	    $currentSchoolLabel = $school['label'];
	}
}
?>
<?php
    $customlogo = MAGE::helper('ThemeOptions')->getThemeOptions('customlogo');
    $mediaurl = MAGE::helper('ThemeOptions')->getThemeOptions('mediaurl');
    $custompatern = MAGE::helper('ThemeOptions')->getThemeOptions('custompatern');
    if (!$custompatern):
        $bgPatern = MAGE::helper('ThemeOptions')->getThemeOptions('patern');
    else:
        $mediaurl = MAGE::helper('ThemeOptions')->getThemeOptions('mediaurl');
        $paternurl = 'style="background:url('.$mediaurl.$custompatern.') center top repeat;"';
    endif;
?>
<header id="header">
    <div class="header-category-toggle" onclick="toggleProductCategoryItemList()"></div>
	<script type="text/javascript">TopCart.uri = '<?php echo $this->getUrl('ajax/index/getCart', array('_secure' => true))?>';</script>
	<div class="menu-button" onclick="toggleMobileHeader()"></div>

	<div class="checkpoint-wrapper">
        <div id="checkpoint-1"></div>
    </div>  
    <div class="top-wrapper" style="display:none">
        <div class="container_12">
            <div class="grid_12">
                <?php echo $this->getChildHtml('store_language') ?>
                <?php echo $this->getChildHtml('currency') ?>
                <?php //echo $this->getChildHtml('topCart') ?>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="container_12">
            <div class="grid_12">
                <?php /*
				<p class="welcome-msg"><?php echo $this->getWelcome() ?><?php echo $this->getAdditionalHtml() ?></p>
				*/ ?>
				<?php if ($customlogo['logo_status'] == 0): ?>
					<h2 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo Mage::app()->getStore()->getName(); ?>" class="logo"><img src="<?php echo $this->getSkinUrl('images/logo-CLSeifert.png') ?>" alt="<?php echo Mage::app()->getStore()->getName(); ?>" /></a></h2>
					<?php else:?>
					<h2 class="logo"><strong><?php echo $customlogo['logo_alt']; ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo Mage::app()->getStore()->getName(); ?>" class="logo"><img src="<?php echo $this->getSkinUrl('images/logo-CLSeifert.png') ?>" alt="<?php echo $Mage::app()->getStore()->getName(); ?>" /></a></h2>
				<?php endif; ?>
                <?php //echo $this->getChildHtml('topLinks') ?>
                <?php //echo $this->getChildHtml('staticHeaderLinks') ?>
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('static-header-links')->toHtml() ?>
				<ul class="links indent">
                                    <li class="first">
                                        <a href="<?php echo $this->getUrl('checkout') ?>" title="<?php echo $this->__('Checkout') ?>" class="top-link-checkout"><?php echo $this->__('Checkout') ?></a>
                                    </li>
                                    <li class="last">
                                        <?php echo $this->getChildHtml('topCart') ?>
                                    </li>
				</ul>
                <?php //echo $this->getChildHtml('staticHeaderLinks') ?>
				<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('static-header-links')->toHtml() ?>
            </div>
            <div class="clear"></div>
            
            
        <!--  
            ***************** SCHOOL LIST DROPDOWN START ****************************
        -->  
        
        <style type="text/css">
            .schoolslistcolumn{      
                /*margin: 10px;*/
                padding: 1px 0;
                float:left;   
            }
            .schoolslistcolumn div{      
                margin: 5px;
                padding:5px;
            }
            #schoolslistcolumns {
                border: none;
                background-color:#3B3B3B;
                color:#FFF;
                position: absolute;
                width: auto;
                z-index: 10;
                margin-top:60px;
                display: none !important;
                margin-left:10px;
            }
            
            #schoolslistcolumns .schoolslistcolumn:not(:last-child){
                border-right:#333 1px solid;
            }
            
            .schoolslistcolumn > div{
                min-width:222px;
                min-height:28px !important;
                max-height:28px !important;
                overflow:hidden !important;
            }
            
            #schoolslistcolumns a{
                color: #FFF !important;
                padding: 0px 10px;
                margin-left: 0px;
                overflow: hidden !important;
                display: block;
            }
            #schoolslistcolumns a:hover{
                /*background-color:#2A2A2A;*/
                margin-left:5px;
            }
            
            .schoolslistcolumn > div:hover{
                background-color:#2A2A2A;
            }
            
            .school-option-wrapper div.search-shop{
                 font-size:13px;
                 font-weight: bold;
            }
            
            .init-autocomplete-school-span{
                font-size:13px;
            }
            
            .school-option-wrapper{
                top:107px;
            }
            
            .school-option-wrapper div.search-shop{
                 color:#000;
             }
            
            @media only screen and (min-width : 320px) and (max-width : 767px) {
                .school-option-wrapper div.search-shop{
                    line-height: 1;
                    text-indent: 0px;
                    border: none !important;
                }
                
                .school-option-wrapper{
                    margin-left:0px;
                }
                
                #schoolslistcolumns a:hover{
                    margin-left:0px;
                }
                
                .schoolslistcolumn{
                    margin:0px !important;
                    margin:0px !important;
                }
                
                .schoolslistcolumn div {
                    margin: 5px;
                    padding: 5px 0px 5px 5px;
                }
                
                .search-shop-wrapper{
                    margin-left:3px;
                }
                
/*                .search-shop-wrapper{
                    margin-top:14px;
                }*/
                
                .school-option-wrapper{
                    border:none !important;
                }
                
                .school-option-wrapper div.search-shop{
                 color:#FFF;
             }
              
            }
            
            @media only screen and (min-width : 320px) and (max-width : 767px) and (orientation:portrait) {
                .school-option-wrapper{
                    top:108px;
                }
            }
            
            @media only screen and (min-width : 320px) and (max-width : 767px) and (orientation:landscape) {
                .school-option-wrapper{
                    top:104px;
                }
            }

            @media not all and (min-width : 320px),not all and (max-width : 767px) {
                .init-autocomplete-school-span {
                    color: #686868;
                    font-family: "Raleway",sans-serif;
                    font-weight: bold;
                    margin-top: 3px;
                }

                .change-school-button-actual{
                    line-height:150%;
                }
                
                .school-option-wrapper{
                    margin-left:10px;
                }
                
                #schoolslistcolumns a:hover{
                    margin-left:0px;
                }
                
/*                 .search-shop-wrapper{
                    margin-left:0px;
                }*/
                
                .school-option-wrapper{
                    top:115px;
                }
                
                .school-option-wrapper{
                    border:#CCC 1px solid;
                }
                
            }
            
            @media only screen and (min-width : 768px) and (max-width : 1023px) {
                
                #autocomplete-school-span{
                    color:#FFF;
                }
                
                .school-option-wrapper{
                    border:none !important;
                }
                
            }
            
            @media only screen and (min-width : 768px) and (max-width : 1023px) and (orientation: portrait){
                .school-option-wrapper{
                   top:110px;
                }
            }
            
            @media only screen and (min-width : 768px) and (max-width : 1023px) and (orientation: landscape){
                .school-option-wrapper{
                   top:120px;
                   border: #CCC 1px solid;
                }
             
            }
            
            .search-shop{
                left: 5px;
                position: relative;
            }
            
            .lnkgotoschool{
                line-height:30px;
            }
            
            #autocomplete-school-span{
                display:block;
            }
            
            @media only screen and (min-width : 1023px) {
                .init-autocomplete-school-span{
                    font-size:15px;
                }
                
            }
                        
            @media only screen and (min-width : 320px) and (max-width : 480px) and (orientation: landscape){
                .school-option-wrapper{
                   top:110px;
                }
             
            }
            
            
            @media not all and (min-width : 320px),not all and (max-width : 767px) {
               header#header .header-bottom-wrapper .quick-access .delivery-display-wrapper{
                   top:8px;
               }
            }

            @media only screen and (max-width: 977px) and (min-width: 768px){
               header#header .header-bottom-wrapper .quick-access .delivery-display-wrapper{
                   top:0px;
               }
            }
                        
            @media only screen and (max-width: 1279px) and (min-width: 768px){
                header#header .header-bottom-wrapper .quick-access .delivery-display-wrapper {
                    top: -11px;
                    position: relative;
                    text-align: center;
                    padding: 10px 0px;
                    margin-bottom: 15px;
                }
                 #header .header-category-menu{
                    text-align:right;
                }
                .container_12{
                    width:100%;
                }
                
                .school-option-wrapper{
                    top:165px;
                }
                #schoolslistcolumns {
                    margin-top: 110px !important;
                }
                .header-bottom-wrapper .container_12 .grid_12{
                    margin-left: 0px !important;
                    width: 100%;
                }
            }
            
            @media only screen and (max-width: 977px) and (min-width: 768px){
                .school-option-wrapper{
                    top:109px;
                }
                header#header .header-bottom-wrapper .quick-access .delivery-display-wrapper{
                    top:0px;
                }
                
                #header .header-category-menu {
                    text-align: center;
                }
                
                #schoolslistcolumns {
                    margin-top: 107px !important;
                }
            }
            
            @media only screen and (max-width: 1079px) and (min-width: 768px) and (orientation: landscape){
                header#header .header-bottom-wrapper{
                    padding-bottom:-5px;
                }
            }
            
            @media only screen and (max-width: 1279px) and (min-width: 768px) and (orientation: portrait){
                #schoolslistcolumns{
                    margin-top:-7px !important;
                }
            }
            
            @media only screen and (min-width: 992px) and (max-width:1200px){
                #schoolslistcolumns {
                    margin-top: 107px !important;
                }
            }
            
            @media only screen and (max-width: 977px) and (min-width: 768px){
                #schoolslistcolumns {
                    margin-top: -7px !important;
                }
            }
            
            @media only screen and (min-width: 1200px) and (max-width: 1278px){
                #schoolslistcolumns {
                    margin-top: 107px !important;
                }
            }
            
            @media only screen and (min-width: 1279px){
                #schoolslistcolumns {
                    margin-top: 52px !important;
                }
            }
            
            .autocomplete-suggestions { 
                position: relative !important;
                border: 0 none;
                background: #3B3B3B;
                overflow: auto;
                margin: 47px 0px 0 -6px;
                max-height: 510px !important;
            }
            @media only screen and (min-width: 320px) {
                .autocomplete-suggestions { 
                    min-width: 316px;
                }
            }
            @media only screen and (min-width: 360px) {
                .autocomplete-suggestions { 
                    min-width: 356px;
                }
            }
            @media only screen and (min-width: 375px) {
                .autocomplete-suggestions { 
                    min-width: 371px;
                }
            }
            @media only screen and (min-width: 414px) {
                .autocomplete-suggestions { 
                    min-width: 410px;
                }
            }
            .autocomplete-suggestion { 
                padding: 2px 0px;
                white-space: nowrap;
                overflow: hidden;
                font-size: 13px;
                color: #fff;
                font-weight: normal;
            }
            .autocomplete-selected { 
                background: #5a5959; 
            }
            .autocomplete-suggestions strong { font-weight: bold; color: #00beaf; }
            .autocomplete-group { padding: 2px 5px; }
            .autocomplete-group strong { display: block; border-bottom: 1px solid #00beaf; }
            .autocomplete-no-suggestion {
                color: #FFF;
                font-weight: normal;
                text-align: center;
            }
            
         </style>
         
        <script type="text/javascript">
                jQuery(document).ready(function(){
                        window.initSchoolAjaxChanged = false;
                        jQuery(document).ajaxSuccess(function(){
                            if(typeof getCurrentHatView === "undefined"){}
                            else{
                                if(getCurrentHatView() === 'back'){
                                    if(!initSchoolAjaxChanged){
                                        initSchoolAjaxChanged = true;
                                        var schoolistselectbox = null;
                                        if(jQuery("label:contains('Skolebroderi')").parent().next().find("select option:contains('"+schooleduc.school_name+"')").length){
                                            schoolistselectbox = jQuery("label:contains('Skolebroderi')").parent().next().find("select option:contains('"+schooleduc.school_name+"')").val();
                                            jQuery("label:contains('Skolebroderi')").parent().next().find("select").val(schoolistselectbox).trigger('change');
                                        }
                                        else if(jQuery("label:contains('Skolbrodyr')").parent().next().find("select option:contains('"+schooleduc.school_name+"')").lengt){
                                            schoolistselectbox = jQuery("label:contains('Skolbrodyr')").parent().next().find("select option:contains('"+schooleduc.school_name+"')").val();
                                            jQuery("label:contains('Skolbrodyr')").parent().next().find("select").val(schoolistselectbox).trigger('change');
                                        }
                                    }
                                }
                            }
                        });
                        
                       jQuery('#autocomplete-school-input').focus(function(){
                           jQuery(this).val('');
                           hideSchoolListMenu();
                       });
                       
                       jQuery('.search-shop-wrapper').parent().click(function(e){
                           if(!jQuery('#autocomplete-school-span').is(':visible')){
                               jQuery('#autocomplete-school-input').val('');
                               jQuery('#autocomplete-school-input').focus();
                           }
                       });
                       
                });
                
                function bindLinkClickEventOnMobile(){
                    if('ontouchstart' in window || 'onmsgesturechange' in window){
                        window.schoolslisTouchIn = false;
                        
                        jQuery('.lnkgotoschool a').off('touchstart');
                        jQuery('.lnkgotoschool a').off('touchend');
                        jQuery('.lnkgotoschool a').off('touchmove');
                        jQuery('.lnkgotoschool a').on('touchstart',function(){
                            schoolslisTouchIn = true;
                        });
                        
                        jQuery('.lnkgotoschool a').on('touchmove',function(){
                            schoolslisTouchIn = false;
                        });
                        
                        jQuery('.lnkgotoschool a').on('touchend',function(){
                            if(schoolslisTouchIn){
                                location.href = jQuery(this).attr('href');
                                schoolslisTouchIn = false;
                            }
                        });
                    }
                }
                
                window.loadSchoolsListEventListeners = function(){

                    jQuery('.school-option-wrapper').hover(function(){
                        unlockSchooltextfield();
                    },function(){
                        if(jQuery('#autocomplete-school-input').val().length <= 0){
                            jQuery('.keyupdown-selected').removeClass('keyupdown-selected');
                            jQuery(this).removeClass('hovered');
                            jQuery('#autocomplete-school-input').css('display','none');
                            jQuery('.search-shop li').css('display','block');
                        }
                    });
                    
                    jQuery('#autocomplete-school-input').keyup(function(){
                        if(jQuery(this).val().length >= 2){
                            jQuery('#schoolslistcolumns').show();
                            jQuery(".school-option-wrapper ul.search-shop").show();
                            window.divideSchoolMenuContent();
                            bindLinkClickEventOnMobile();
                        }
                        else if(jQuery(this).val().length <= 0){
                            hideSchoolListMenu();
                        }
                    });
                    
                    jQuery('#autocomplete-school-input').hover(function(){
                        if(jQuery(this).val().length >= 2){
                            jQuery('#schoolslistcolumns').show();
                            jQuery(".school-option-wrapper ul.search-shop").show();
                            window.divideSchoolMenuContent();
                            bindLinkClickEventOnMobile();
                        }   
                    });
                    
                    
                    if(function() {
                            return 'ontouchstart' in window || 'onmsgesturechange' in window;
                      }()){
                        
                        jQuery(document).bind('touchstart',function (e){
                            var container = jQuery("#schoolslistcolumns");

                            if (!container.is(e.target)
                                && container.has(e.target).length === 0) 
                            {
                                jQuery('#schoolslistcolumns').hide();
                                jQuery('#longlist').html(jQuery('#longdata').html());
                                jQuery(".school-option-wrapper ul.search-shop").hide();
                            }
                        });
                        
                    }
                    
                    jQuery(document).click(function (e){
                        var container = jQuery("#schoolslistcolumns");

                        if (!container.is(e.target)
                            && container.has(e.target).length === 0) 
                        {
                            jQuery('#schoolslistcolumns').hide();
                            jQuery('#longlist').html(jQuery('#longdata').html());
                            jQuery(".school-option-wrapper ul.search-shop").hide();
                        }
                    });
                                        
                };
                
                function hideSchoolListMenu(){
                    if(jQuery('#autocomplete-school-input').val().length <= 0){
                        jQuery('#schoolslistcolumns').hide();
                        jQuery('#longlist').html(jQuery('#longdata').html());
                        jQuery(".school-option-wrapper ul.search-shop").hide();
                    }
                }
                
                function unlockSchooltextfield(){
                    jQuery('.school-option-wrapper').addClass('hovered');
                    jQuery('#autocomplete-school-span').css('display','none');
                    jQuery('#autocomplete-school-input').css('display','block');
                }
                
                <?php 
                /**
                 * Hide School Search on Checkout/Onepage
                 */
                ?>
                jQuery(document).ready(function(){
                    if(jQuery('body').hasClass('checkout-onepage-index')) {
                        jQuery('#school-search-block').hide();
                    }
                });
        </script>
        
        <?php if(Mage::helper('schoolslist')->getSchoolsByStoreName(Mage::app()->getStore()->getCode())){ ?>
        
            <div id="school-search-block" class="school-option-wrapper" style="z-index:3; width:200px; position: absolute; text-align:left; <?php if(!Mage::getStoreConfig('schoolslist/schoolslist_general/schooldropdownshow')){ ?> display:none; <?php } ?>">
                <label>Select School </label>
                <div class="search-shop-wrapper">
                    <div class="search-shop" style='background-position: 8px 13px;'>
                        <span id="autocomplete-school-span" class="init-autocomplete-school-span"></span> 
                        <span class="change-school-button" style="display:none; color:#CCC;">
                            <p>
                                <span class="change-school-button-actual" style="text-decoration:underline; color: #55c3a4; cursor: pointer; position: relative; font-size:85%;">
                                <?php echo $this->__('Change School'); ?>
                                </span>
                            </p>
                        </span>
                        <input style="display:none; border:none; border-radius:0px; line-height:30px; font-weight: bold; padding-top:4px; font-size:13px; position:absolute; top:6px; left:36px; width:140px; padding-left:3px;" type="text" id="autocomplete-school-input" value=""/>
                        <div id="autocomplete-school-results"></div>
                    </div>
                </div>	
            </div>
        
        <?php } ?>
       
        <script type="text/javascript">
            
            window.schoolslistLoadComplete = new jQuery.Deferred();
             
            window.processRealSchoolData = function(result){
                window.schooleduc = result; 
                window.schoolslistLoadComplete.resolve();
                if(window.schooleduc === null){
                      jQuery('#autocomplete-school-span').removeClass('init-autocomplete-school-span');
                      document.getElementById('autocomplete-school-span').innerHTML = '<?php echo $this->__('Select School'); ?>';
                      document.getElementById('autocomplete-school-input').value = '';
                      jQuery(document).ready(function(){
                          jQuery('.change-school-button').css({'display':'none'});
                          jQuery('#autocomplete-school-input').removeAttr('readonly');
                          window.loadSchoolsListEventListeners();
                      });
                      jQuery('.search-shop').css({'line-height':'47px',
                                                    'min-width':'',
                                                    'max-width':'',
                                                    'border':'none',
                                                    'text-indent':'37px'
                                                  });
                }
                else{
                        document.getElementById('autocomplete-school-span').innerHTML = window.schooleduc.school_name;
                        document.getElementById('autocomplete-school-input').value = window.schooleduc.school_name; 
                        jQuery(document).ready(function(){
                            jQuery('.search-shop').css({'line-height':'1',
                                                          'min-width':'0',
                                                          'text-indent':'0'
                                                        });

                            if(jQuery(window).width() < 767){
                                jQuery('.search-shop').css({ 'max-width':'170px'});
                            }
                            jQuery('.school-option-wrapper div.search-shop').css({'background':'none'});
                            jQuery('.school-option-wrapper').css({'border':'none'});
                            
                            jQuery('.search-shop-wrapper').css({'margin-top':'6px'});
                            
                            if(jQuery('.menu-button').is(':visible')){
                                 jQuery('.search-shop-wrapper').css({'margin-top':'11px'});
                            }
                            
                            jQuery('.change-school-button').css({'display':'inline'});
                            jQuery('#autocomplete-school-input').attr('readonly','readonly');
                            jQuery('.change-school-button-actual').click(function(){
                                jQuery('#autocomplete-school-span').removeClass('init-autocomplete-school-span');
                                jQuery('.school-option-wrapper div.search-shop').css({'background':'url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>frontend/meigeetheme/default/images/search_ico.png") no-repeat scroll 8px 13px rgba(0, 0, 0, 0)'});
                                jQuery('.school-option-wrapper').css({'border':'solid 1px #CCC'});
                                jQuery('.search-shop-wrapper').css({'margin-top':'0px'});

                                jQuery('.change-school-button').remove();
                                jQuery('#autocomplete-school-input').removeAttr('readonly');
                                window.loadSchoolsListEventListeners();
                                jQuery('.search-shop').css({'line-height':'47px',
                                                            'min-width':'',
                                                            'max-width':'',
                                                            'text-indent':'37px'
                                                          });      
                                if(jQuery(window).width() < 767){
                                     jQuery('.school-option-wrapper').css({'border':'none'
                                                          });
                                }
                                else{
                                     jQuery('.school-option-wrapper').css({'border':'1px solid #CCC'
                                                          });
                                }    
                                unlockSchooltextfield();
                            });
                      });
                } 
             };
             
            window.loadRealSchoolSessionStart = function(){                    
                jQuery.ajax({
                    url: "<?php echo rtrim(Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB),'/').'/'.Mage::app()->getStore()->getCode().'/schoolslist/index/realSchoolSession' ?>",
                    dataType: "script",
                    cache: false,
                    data:{
                        url: document.URL
                    },
                    timeout : 10000,
                    success: function(){
                        if(typeof window.schooleduc === 'undefined'){
                            window.loadRealSchoolSessionStart();
                        }
                    },
                    error:function(){
                        if(typeof window.schooleduc === 'undefined'){
                            window.loadRealSchoolSessionStart();
                        }
                    } 
                 });
            };
            
        <?php if(Mage::helper('schoolslist')->getSchoolsByStoreName(Mage::app()->getStore()->getCode())){ ?>
    
            jQuery(window).load(function(){
                  window.loadRealSchoolSessionStart();
            });
            
        <?php } ?>
             
        </script>
         <div style="display:none;" id="longdata"> 
        <?php if(false): // this is DEPRECATED - Uses jQuery.AutoComplete instead?>  
        <?php if(Mage::getStoreConfig('schoolslist/schoolslist_general/schoolslist_source') == 'csv'): ?>  
        <?php foreach($schools = Mage::helper('schoolslist')->readSchoolCheckoutCsv(Mage::app()->getStore()->getCode()) as $rowl){ ?>
		   <div class='lnkgotoschool' data-url="<?php echo Mage::getBaseUrl().$rowl[5]; ?>">
				<a href="<?php echo Mage::getBaseUrl().$rowl[5]; ?>" target="_self">
					<?php echo $rowl[3]; ?>
				</a>
		   </div>
		<?php } ?>
        <?php else: // api ?>
             <?php foreach($schools = Mage::helper('schoolslist')->readSchoolsListFromApi(Mage::app()->getStore()->getCode()) as $rowl){ ?>
               <div class='lnkgotoschool' data-url="<?php echo Mage::getBaseUrl().$rowl['url_key']; ?>">
                    <a href="<?php echo Mage::getBaseUrl().$rowl['url_key']; ?>" target="_self">
                        <?php echo $rowl['name']; ?>
                    </a>
                </div>
            <?php } ?>
        <?php endif;?>   
        <?php endif; // END: this is DEPRECATED - Uses jQuery.AutoComplete instead?>  
         <?php
         /**
          * Schools List
          */
         if(Mage::getStoreConfig('schoolslist/schoolslist_general/schoolslist_source') == 'csv'){
             $schools = Mage::helper('schoolslist')->readSchoolCheckoutCsv(Mage::app()->getStore()->getCode());
         } else { // api
             $schools = Mage::helper('schoolslist')->readSchoolsListFromApi(Mage::app()->getStore()->getCode());
         }
         ?>
         </div>
         <div style="display:none;" id="longlist"></div>
         <div id="schoolslistcolumns"></div>
         
         <script type="text/javascript">
             
            window.divideSchoolMenuContent = function(){
                    jQuery("#schoolslistcolumns").empty();
                    jQuery('#longlist').html(jQuery('#longdata').html());

                    var autocompleteinput = jQuery('#autocomplete-school-input').val();
                    if(autocompleteinput.length > 0){
                        jQuery('#longlist div a').each(function(){
                            
                            var schoolname_splitted = jQuery(this).text().trim().toLowerCase().split(' ');
                            var toberemoved = true;
                            
                            for(var i = 0; i < schoolname_splitted.length; i++){
                                if(schoolname_splitted[i].indexOf(autocompleteinput.toLowerCase()) === 0){
                                    toberemoved = false;
                                    break;
                                }
                            }
                                
                            if(toberemoved){
                                jQuery(this).parent().remove();
                            }
                            
                        });
                    }

                    var columns = jQuery("#schoolslistcolumns");
                    var longlist = jQuery("#longlist");
                    var columnscount = 4;
                    if(jQuery("div", longlist).size() === 3 || jQuery("div", longlist).size() === 5){
                        columnscount = 1;
                    }
                    else if((jQuery("div", longlist).size() % 3) === 0){
                        columnscount = 3;
                    }
                    else if((jQuery("div", longlist).size() % 5) === 0){
                        columnscount = 5;
                    }
                    var columnsize = Math.ceil(jQuery("div", longlist).size() / columnscount);
                    for (var i = 0; i < columnscount; i++) {
                        jQuery("div:lt(" + columnsize + ")", longlist).appendTo(columns).wrapAll("<div class='schoolslistcolumn'/>");
                    }	
            };	
            
            <?php if(Mage::helper('schoolslist')->getSchoolsByStoreName(Mage::app()->getStore()->getCode())){ ?>
             
            jQuery(document).ready(function(){
                divideSchoolMenuContent();
                
                var isIE = function(){
                    var ua = window.navigator.userAgent;
                    var msie = ua.indexOf("MSIE ");
                    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)){
                        return true;
                    }
                    else{
                      return false;
                    } 
                }();
                
                if(isIE){
                    jQuery('#autocomplete-school-input').css({'top':'12px'});
                }
            });
            
            <?php } ?>
            
         </script>
         <!-- ***************** SCHOOL LIST DROPDOWN END **************************** -->          
        </div>

    </div>
	
    <div class="header-bottom-wrapper" id="checkpoint-0">
        <div class="container_12">
            <div class="grid_12">
                <div class="checkpoint-wrapper">
                    <div class="checkpoint-1-button"></div>
                </div>
                <div class="quick-access">
                    <?php if ($deliveryRange = Mage::getStoreConfig('misc_general/delivery/day')) : ?>
                        <div class="delivery-display-wrapper">
                        <span><?php echo $this->__('Delivery time: %s', $deliveryRange) ?></span>
                        </div>
                        <?php endif; ?>

                        <?php if (1 == (int)Mage::app()->getStore()->getId()): ?>

                            <?php if (!is_null($selectedSchool)): ?>

                                <!--<h1 class="logo"><?php echo $this->__('Byt Skola')//$selectedSchoolLabel ?></h1>-->
                                <h1 class="logo"><?php echo $selectedSchool ?></h1>

                            <?php endif; ?>

                            <div class="school-option-wrapper">

                                <label><?php echo $this->__('Select School');?> </label>
                                <?php /*
                                <select id="select-manufacturer" onchange="setLocation(this.value)">
                                <option value="<?php echo $urlPath; ?>" selected="selected"><?php echo $this->__('');?></option>
                                <?php foreach ($schools as $school): ?>

                                <?php $schoolLabel = strtolower(str_replace(' ', '', $school['label'])); ?>
                                <?php if ('standardcollection' != $schoolLabel) : ?>
                                <option value="<?php echo $urlPath.$schoolLabel; ?>" <?php echo ($selectedSchoolId == $school['value'] ) ? "selected='selected'":""; ?>><?php echo $school['label'] ?></option>
                                <?php endif; ?>
                                <?php endforeach; ?>
                                </select>
                                */ ?>
                                <div class="search-shop-wrapper">
                                    <?php /*<div class="search-shop"><?php echo ('standardcollection' == strtolower(str_replace(' ','',$selectedSchool))) ? $this->__('Byt Skola') : $selectedSchoolLabel; ?></div> */ ?>
                                    <div class="search-shop"><?php echo $this->__('Byt Skola') ?></div>
                                    <ul class="search-shop">
                                    <?php foreach ($schools as $school): ?>
                                    <?php
                                    $schoolStatus = Mage::helper('schooloption')->schoolIsVisibleOnSelection($school['value']);
                                    if (!$schoolStatus) continue;
                                    ?>
                                    <?php $schoolLabel = strtolower(str_replace(' ', '', $school['label'])); ?>
                                    <?php if ('standardcollection' != $schoolLabel) : ?>
                                    <li><a href="<?php echo $urlPath.$schoolLabel; ?>"><?php echo $school['label'] ?></a></li>
                                    <?php endif; ?>
                                    <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>
                                
                        <?php endif ?>

                        <?php if ($schoolNoticeDetail = Mage::helper('schooloption')->schoolNoticeIsEnabled($selectedSchoolId)): ?>

                            <?php if ('open' == $schoolNoticeDetail['notice']) : ?>
                            <div class="store-notice">
                            <span class="store-status"><?php echo $this->__('Shoppen &auml;r &ouml;ppen') ?></span>
                            <span class="store-date"><?php echo $this->__('St&auml;nger den %s', date('d/m', strtotime($schoolNoticeDetail['notice_date']))) ?></span>
                            </div>
                            <?php elseif ('close' == $schoolNoticeDetail['notice']) : ?>
                            <div class="store-notice store-notice-close">
                            <span class="store-status"><?php echo $this->__('Shoppen &auml;r st&auml;nged') ?></span>
                            <span class="store-date"><?php echo $this->__('&ouml;ppnar den %s', date('d/m', strtotime($schoolNoticeDetail['notice_date']))) ?></span>
                            </div>
                            <?php endif; ?>

                        <?php endif; ?>
					
					
                    <?php echo $this->getChildHtml('topMenu') ?>
                    <?php echo $this->getChildHtml('topSearch') ?>
						
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
	<?php echo $this->getChildHtml('headerCategoryMenu') ?>
    <?php echo $this->getChildHtml('header_slider_container') ?>
    <?php echo $this->getChildHtml('topContainer'); ?>
    <?php if($this->getChildHtml('header_block') && $this->getIsHomePage()): ?>
        <div class="header-block-wrapper <?php echo $bgPatern ?> <?php if(isset($paternurl)){echo $paternurl;} ?>">
            <div class="container_12">
                <div class="grid_12">
                    <div class="checkpoint-wrapper">
                        <div class="checkpoint-2-button" id="checkpoint-2"></div>
                    </div>
                    <?php echo $this->getChildHtml('header_block'); ?>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    <?php endif; ?>
    <?php if($this->getChildHtml('grid_2') && $this->getIsHomePage()): ?>
        <div class="grid-2-wrapper">
            <div class="container_12">
                <div class="grid_12">
                    <?php echo $this->getChildHtml('grid_2'); ?>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    <?php endif; ?>
    
</header>
<?php echo $this->getChildHtml('customoptioncategory.header');?>
<?php 
$baseurl = Mage::getBaseUrl();
$schoolslist = array();
foreach ($schools as $school) {
    if(Mage::getStoreConfig('schoolslist/schoolslist_general/schoolslist_source') == 'api') {
        $schoolslist[] = array('value' => $school['name'] , 'data' => $baseurl.$school['url_key']);
    } else {
        $schoolslist[] = array('value' => $school[3] , 'data' => $baseurl.$school[5]);
    }
}
?>
<script>
function toggleMobileHeader() 
{
    if (jQuery(".header-category-menu-wrapper").hasClass("visible")) 
	{
	    if (0 < jQuery(".static-header-links").length) {  }
		else {jQuery(".header-category-menu-wrapper").removeAttr('style'); }
		jQuery(".static-header-links").removeClass("visible");
	    jQuery(".header-category-menu-wrapper").removeClass("visible");
	}
	else 
	{
	    if (0 < jQuery(".static-header-links").length) {  }
		else {jQuery(".header-category-menu-wrapper").css('top', '42px'); }
		jQuery(".static-header-links").addClass("visible");
	    jQuery(".header-category-menu-wrapper").addClass("visible");
	}
}
window.schoolslist = <?php echo json_encode($schoolslist)?>;
jQuery('#autocomplete-school-input').autocomplete({
    lookup: window.schoolslist,
    onSelect: function (suggestion) {
        window.location.href = suggestion.data;
    },
    appendTo: '#autocomplete-school-results',
    showNoSuggestionNotice : true,
    noSuggestionNotice: '<?php echo Mage::getStoreConfig('schoolslist/schoolslist_general/schoolsearchnoresult',Mage::app()->getStore()->getId())?>'
});
</script>