<?php
$storeId = Mage::app()->getStore()->getId();
$popupMessage = Mage::getStoreConfig('picaris/picaris_savedcapsetup/picaris_savedcapsetup_popup_message', $storeId);
$popupSuccessMessage = Mage::getStoreConfig('picaris/picaris_savedcapsetup/picaris_savedcapsetup_popup_success_message', $storeId);
$loggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
?>
<script type="text/javascript">
    jQuery(document).ready(function(){        
        hatsetup.methods.initFancy('#facebook-share-trigger');
    });
    
    var clipboard = new Clipboard('.btn-copy-link');

    clipboard.on('success', function(e) {
        jQuery('.notif').addClass('copy-success').html("Copied").show();
        
        setTimeout(function() {
            jQuery('.copy-notif').fadeOut('slow');
            jQuery('.copy-notif').removeAttr('style').html('');
        },1000);
        
    });

    clipboard.on('error', function(e) {
        jQuery('.copy-notif').addClass('copy-error').html("Failed to copy. Please press CTRL + C").show();
        setTimeout(function() {
            jQuery('.copy-notif').fadeOut('slow');
            jQuery('.copy-notif').removeAttr('style').html('');
        },1000);
    });
</script>
<div id="facebook-share-wrapper" style="display: none;">
    <div class="facebook-share-container">
        <div class="sharing-options" style="text-align: center;">
            <p><?php echo $this->__('Share this cap')?></p><br>
            <div class="btn-container">
                <a href="javascript:hatsetup.methods.link_sharing()" id="fancy-yes"><?php echo $this->__('Get Link')?></a>
                <!--<a href="javascript:hatsetup.methods.fb_sharing()" id="fancy-no"><?php echo $this->__('Share on Facebook')?></a>-->
                <a href="javascript:hatsetup.methods.fancy_hide()" id="fancy-no"><?php echo $this->__('Cancel')?></a>
            </div>
        </div>
    </div>

    <div id="sharing-success" style="display: none;">
        <p><?php echo $popupSuccessMessage?></p>
        <p style="text-align: center;">
            <input type="text" name="facebook_share_link" id="facebook-share-link" value=""/>
            <span class="copy-notif"></span>
            <button class="btn-copy-link" data-clipboard-action="copy" data-clipboard-target="#facebook-share-link"><?php echo $this->__('Copy Link')?></button>
        </p>
    </div>
</div>
<style>
#facebook-share-link {
    border: 1px solid #a9a9a9;
    width: 100%;
    height: 33px;
    line-height: 33px;
    padding: 0 4px;
    font-size: 16px;
    margin: 15px 0;
}
</style>