<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>

<ul class="add-to-links">
<?php if ($this->helper('wishlist')->isAllow()) : ?>
    <li><a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
<?php endif; ?>
<?php
    $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
?>
<?php if($_compareUrl) : ?>
    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
<?php endif; ?>
</ul>
<?php if($this->helper('facebookfree')->isActiveLike()):?>
<fb:like href="<?php echo $_product->getProductUrl()?>" layout="<?php echo $this->helper('facebookfree')->getLikeLayout()?>" show_faces="<?php echo $this->helper('facebookfree')->isFacesLikeActive()?>" width="<?php echo $this->helper('facebookfree')->getLikeWidth()?>"  colorscheme="<?php echo $this->helper('facebookfree')->getLikeColor()?>" style="z-index:10000"></fb:like>
<?php endif?>

