<?php

$limit = $this->getData('limit');
$gallery = Mage::helper('savedcapsetup/gallery')->getGalleryImages($limit);

if($gallery):
?>

<link rel="stylesheet" href="<?php echo $this->getSkinUrl('js/owl-carousel/owl.carousel.css')?>">
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('js/owl-carousel/owl.theme.css')?>">
<script src="<?php echo $this->getSkinUrl('js/owl-carousel/owl.carousel.js')?>"></script>

<div id="gallery-container">
    <div class="page-title" id="gallery-title">
        <h2><?php echo $this->__('Gallery')?></h2>
    </div>

    <div id="owl-gallery" class="owl-carousel">
        <?php foreach($gallery as $_gallery):?>
        <?php
            $imagePathArr = explode('/', $_gallery['image_path']);
            $urlArr = explode('/', Mage::getBaseUrl());
            $baseUrl = $urlArr[0] . '//' . $urlArr[count($urlArr) - 3];
            $imgSrc = $baseUrl . '/media/savedcapsetup/' . $imagePathArr[count($imagePathArr) - 1];
        ?>
        <div class="item">
            <a class="fancybox-gallery" rel="webgl-gallery" href="<?php echo $imgSrc?>" title="<?php echo $_gallery['title']?>">
                <img class="lazyOwl" data-src="<?php echo $imgSrc?>" alt="<?php echo $_gallery['title']?>" alt="<?php echo $_gallery['title']?>"/>
            </a>
        </div>
        <?php endforeach;?>
    </div>
</div>

<style type="text/css">
#gallery-container {
    display: block;
    position: static;
    clear: both;
    float: none;
}
#owl-gallery .item {
    margin: 10px;
    padding: 10px 0px;
}
.fancybox-gallery img {
    border: 2px solid #EEE;
}
</style>
<script type="text/javascript">
    jQuery(document).ready(function() {
        
        jQuery(".fancybox-gallery").fancybox({
            openEffect	: 'none',
            closeEffect	: 'none'
        });
        
        jQuery("#owl-gallery").owlCarousel({
            lazyLoad : true,
            autoPlay : true,
            stopOnHover : true,            
            itemsDesktop : [1199,4],
            itemsDesktopSmall : [980,3],
            itemsTablet: [768,2],
            itemsTabletSmall: false,
            itemsMobile : [479,1],
        });
        
    });
</script>
<?php endif;?>