<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
$productpage_collateral = MAGE::helper('ThemeOptions')->getThemeOptions('productpage_collateral');
$productpage_pagelayout = MAGE::helper('ThemeOptions')->getThemeOptions('productpage_pagelayout');
$leftcol = 'grid_6';
$rightcol = 'grid_3';
?>
<script type="text/javascript">
  var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
  <div class="product-essential">

    <div class="<?php echo $leftcol; ?>">
      <?php
      $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($imgSize, null).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
      echo $_helper->productAttribute($_product, $_img, 'image');
      ?>
    </div>


    <div class="<?php echo $rightcol; ?> omega product-shop">
        <div class="product-name">
            <h2><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
        </div>

        <?php echo $this->getChildHtml('product_type_data'); ?>

        <?php if((($_product->isSaleable() && $this->hasOptions()) and $this->getChildChildHtml('container1', '', TRUE, TRUE)) or !($_product->isSaleable() && $this->hasOptions())): ?>
      <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
          <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
          <input type="hidden" name="related_product" id="related-products-field" value=""/>
        </div>
        <?php endif; ?>

        <?php /* echo $this->getChildHtml('alert_urls') */ ?>

        <?php $optionsAvailability = $_product->isSaleable() && $this->hasOptions(); ?>

        <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
          <?php if (($_product->isSaleable() && $this->hasOptions()) and !$this->getChildChildHtml('container1', '', TRUE, TRUE)): ?>
            <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <div class="no-display">
              <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
              <input type="hidden" name="related_product" id="related-products-field" value=""/>
            </div>
          <?php endif; ?>
          <?php echo $this->getChildChildHtml('container2', '', TRUE, TRUE) ?>
          <?php if (($_product->isSaleable() && $this->hasOptions()) and !$this->getChildChildHtml('container1', '', TRUE, TRUE)): ?>
            </form>
          <?php endif; ?>
        <?php endif;?>

        <?php if (!$this->hasOptions()):?>
        <div class="product-type-block">
            <div class="add-to-box">
                <?php if($_product->isSaleable()): ?>
                <?php echo $this->getChildHtml('addtocart') ?>
                <?php endif; ?>
            </div>
            <?php echo $this->getChildHtml('extra_buttons') ?>
        </div>
        <?php endif; ?>

    </div>

    <div class="clear"></div>
    <div class="product-collateral"<?php if ($productpage_collateral == 'collateral_accordion') echo " id='collateral-accordion'"; ?>>

      <?php if ($productpage_collateral == 'collateral_tabs'):
        echo $this->getChildHtml('info_tabs'); else:
        foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
          <?php if ($title = $this->getChildData($alias, 'title')): ?>
            <h2><?php echo $this->escapeHtml($title); ?></h2>
          <?php endif; ?>
          <?php echo $html; ?>
        <?php endforeach;
        echo $this->getChildHtml('upsell_products');
        echo $this->getChildHtml('product_additional_data');
      endif; ?>
    </div>
    <?php echo $this->getChildHtml('catalog.product.related');?>

    <script type="text/javascript">
      //<![CDATA[
      var productAddToCartForm = new VarienForm('product_addtocart_form');
      productAddToCartForm.submit = function (button, url) {
        if (this.validator.validate()) {
          var form = this.form;
          var oldUrl = form.action;

          if (url) {
            form.action = url;
          }
          var e = null;
          try {
            this.form.submit();
          } catch (e) {
          }
          this.form.action = oldUrl;
          if (e) {
            throw e;
          }

          if (button && button != 'undefined') {
            button.disabled = true;
          }
        }
      }.bind(productAddToCartForm);

      productAddToCartForm.submitLight = function (button, url) {
        if (this.validator) {
          var nv = Validation.methods;
          delete Validation.methods['required-entry'];
          delete Validation.methods['validate-one-required'];
          delete Validation.methods['validate-one-required-by-name'];
          if (this.validator.validate()) {
            if (url) {
              this.form.action = url;
            }
            this.form.submit();
          }
          Object.extend(Validation.methods, nv);
        }
      }.bind(productAddToCartForm);
      //]]>
    </script>
  </div>

  <?php // Predefined Static Block
  if ($static_html = $this->getChildHtml('above_product_collateral')):
    echo '<div class="above-product-collateral">' . $static_html . '</div>';
  endif; ?>

  <?php // Predefined Static Block
  if ($static_html = $this->getChildHtml('product_banners')):
    echo '<div class="product-banners">' . $static_html . '</div>';
  endif; ?>
  <?php echo $this->getChildHtml('product.info.review_list'); ?>

</div>

<?php
$allowcharsspecchars = Mage::getStoreConfig('picaris/picaris_attr_group/picaris_attr_group_specchartoallow');
$allowcharsregex = Mage::getStoreConfig('picaris/picaris_attr_group/picaris_attr_group_regexchartoallow');
$supportaccentchars = Mage::getStoreConfig('picaris/picaris_attr_group/picaris_attr_group_supportchars');

if(!empty($allowcharsspecchars) && !empty($allowcharsregex)){ ?>
<script type="text/javascript">
jQuery(document).ready(function(){
    var specialCharacters = "<?php echo $allowcharsspecchars ?>".replace(/[-[\]{}()*+?.,\\/^$|#\s]/g, "\\$&");
    var supportCharacters = "<?php echo $supportaccentchars ?>".replace(/[-[\]{}()*+?.,\\/^$|#\s]/g, "\\$&");
    
    var regexCharacters = "<?php echo $allowcharsregex; ?>";
    var sregex = "^[" + regexCharacters + specialCharacters + supportCharacters + "]+$";
    var regexCompiled = new RegExp(sregex);
    var prevstatetext= [];
        
    var nregex = "^[" + regexCharacters + specialCharacters + "]+$";
    var nregexCompiled = new RegExp(nregex);
    
    var spregex = "^[" + supportCharacters + "]+$";
    var spregexCompiled = new RegExp(spregex);
    
    jQuery('#webgl-form input[type=text], #picaris-custom-options-form input[type=text], #smart-custom-options-form input[type=text], .product-view input[type=text]').each(function(){
        prevstatetext[jQuery(this).attr('id')] = jQuery(this).val();
    });
        
    jQuery('#webgl-form input[type=text], #picaris-custom-options-form input[type=text], #smart-custom-options-form input[type=text], .product-view input[type=text]').bind('input propertychange paste',function(e){   
        var obj = jQuery(this);
        if(!regexCompiled.test(obj.val())){
            if(prevstatetext[obj.attr('id')] < obj.val()){
                var removed_support_chars = '';
                for(var i = 0; i < obj.val().length; i++){
                    if(nregexCompiled.test(obj.val()[i])){
                        removed_support_chars += obj.val()[i];
                    }
                }
                prevstatetext[obj.attr('id')] = removed_support_chars;
                obj.val(prevstatetext[obj.attr('id')]);
            }
        }
        else{
            var count_support_chars = 0;
            for(var i = 0; i < obj.val().length; i++){
                if(spregexCompiled.test(obj.val()[i])){
                    count_support_chars++;
                }
                if(count_support_chars > 1){

                    var removed_support_chars = '';
                    for(var i = 0; i < obj.val().length; i++){
                        if(nregexCompiled.test(obj.val()[i])){
                            removed_support_chars += obj.val()[i];
                        }
                    }
                    prevstatetext[obj.attr('id')] = removed_support_chars;
                    obj.val(prevstatetext[obj.attr('id')]);

                    break;
                }
            }
        }
        obj.trigger('keyup');
    }).blur(function(){
        var obj = jQuery(this);
        var removed_support_chars = '';
        for(var i = 0; i < obj.val().length; i++){
            if(nregexCompiled.test(obj.val()[i])){
                removed_support_chars += obj.val()[i];
            }
        }
        prevstatetext[obj.attr('id')] = removed_support_chars;
        obj.val(prevstatetext[obj.attr('id')]);
        obj.trigger('keyup');
    });  
    
    
});
</script>
<?php }