<?php $store_id = Mage::app()->getStore()->getCode();?>

<style>
#save-hat-trigger {
    background: #25bdae;
    line-height: 45px;
    height: 45px;
    color: #fff;
    border: none;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
    min-width: 150px;
    clear: both;
    margin: 20px 0px 5px;
    display: inline-block;
}
</style>

<a id="save-hat-trigger" href="#save-hat-setup-wrapper">
    <?php echo Mage::getStoreConfig('picaris/picaris_savedcapsetup/picaris_savedcapsetup_button_text',$store_id)?>
</a>

<script>    
jQuery(document).ready(function(){
    hatsetup.methods.initFancy('#save-hat-trigger');
});
</script>