<script src="<?php echo $this->getSkinUrl('js/jquery.min.js')?>"></script>
<script type='text/javascript'>
    
    jQuery(document).ready(function() {
        if (confirm('This will sync the schools from api. Press OK to continue.')) {
            
            <?php 
            $params = Mage::app()->getRequest()->getParams();
            switch ($params['country'])
            {
                case 'da':
                case 'dk':
                    $country = 'dk';
                    break;
                case 'se':
                case 'sv':
                    $country = 'sv';
                    break;
                case 'fi':
                    $country = 'fi';
                    break;

                default:
                    $country = 'dk';
                    break;
            }
            switch ($params['api'])
            {
                case 'asp':
                    $api = 'asp';
                    break;
                
                case 'podio':
                    $api = 'podio';
                    break;
                
                default:
                    $api = 'podio';
                    break;
            }
            ?>
            sync('<?php echo $country?>','<?php echo $api?>');
        } else {
            jQuery('body').css('text-align','center').html('<h1>Cancelled. Refresh the browser to sync again.</h1>');
        }

        function sync(country,api) {
            jQuery.ajax({
                url: "<?php echo $this->getBaseUrl() . 'schoolslist/index/sync'?>",
                type: "get",
                data:{
                    country: country,
                    api: api,
                },
                success: function (res) {
                    if(api == 'asp') {
                        jQuery.ajax({
                            url: "<?php echo $this->getBaseUrl() . 'schoolslist/index/sync'?>",
                            type: "get",
                            data:{
                                country: country,
                                api: 'podio',
                            },
                            success: function (res) {
                                jQuery('body').css('text-align','center').html("<h1 style='color: green'>"+ res +"</h1>");
                            },
                        });
                    } else {
                        jQuery('body').css('text-align','center').html("<h1 style='color: green'>"+ res +"</h1>");
                    }   
                },
            });
        }
    });
            
</script>

<h1>Syncing schools list. Please wait...</h1>
<div class="loader">Loading...</div>

<style>
body {
    text-align: center;
}
.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #0dc5c1, 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.5), -1.8em -1.8em 0 0em rgba(13,197,193, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.7), 1.8em -1.8em 0 0em #0dc5c1, 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.5), 1.8em -1.8em 0 0em rgba(13,197,193, 0.7), 2.5em 0em 0 0em #0dc5c1, 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.5), 2.5em 0em 0 0em rgba(13,197,193, 0.7), 1.75em 1.75em 0 0em #0dc5c1, 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.5), 1.75em 1.75em 0 0em rgba(13,197,193, 0.7), 0em 2.5em 0 0em #0dc5c1, -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.5), 0em 2.5em 0 0em rgba(13,197,193, 0.7), -1.8em 1.8em 0 0em #0dc5c1, -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.5), -1.8em 1.8em 0 0em rgba(13,197,193, 0.7), -2.6em 0em 0 0em #0dc5c1, -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.5), -2.6em 0em 0 0em rgba(13,197,193, 0.7), -1.8em -1.8em 0 0em #0dc5c1;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #0dc5c1, 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.5), -1.8em -1.8em 0 0em rgba(13,197,193, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.7), 1.8em -1.8em 0 0em #0dc5c1, 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.5), 1.8em -1.8em 0 0em rgba(13,197,193, 0.7), 2.5em 0em 0 0em #0dc5c1, 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.5), 2.5em 0em 0 0em rgba(13,197,193, 0.7), 1.75em 1.75em 0 0em #0dc5c1, 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.5), 1.75em 1.75em 0 0em rgba(13,197,193, 0.7), 0em 2.5em 0 0em #0dc5c1, -1.8em 1.8em 0 0em rgba(13,197,193, 0.2), -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.5), 0em 2.5em 0 0em rgba(13,197,193, 0.7), -1.8em 1.8em 0 0em #0dc5c1, -2.6em 0em 0 0em rgba(13,197,193, 0.2), -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.5), -1.8em 1.8em 0 0em rgba(13,197,193, 0.7), -2.6em 0em 0 0em #0dc5c1, -1.8em -1.8em 0 0em rgba(13,197,193, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,197,193, 0.2), 1.8em -1.8em 0 0em rgba(13,197,193, 0.2), 2.5em 0em 0 0em rgba(13,197,193, 0.2), 1.75em 1.75em 0 0em rgba(13,197,193, 0.2), 0em 2.5em 0 0em rgba(13,197,193, 0.2), -1.8em 1.8em 0 0em rgba(13,197,193, 0.5), -2.6em 0em 0 0em rgba(13,197,193, 0.7), -1.8em -1.8em 0 0em #0dc5c1;
    }
  }

</style>