<?php 
/*****/
$sliderConfig = MAGE::helper('ThemeOptions')->getThemeOptions('headerslider');
/*****/
$show = 0;
if ($sliderConfig ['enabled']):

  /**/
  if ($sliderConfig['onlyhome']):
    if (Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms'):
      $show = 1;
    endif;
  else:
    $show = 1;
  endif; 
  /**/

if ($show): ?>
<div class="header-slider-container" style="background-color: #FFF;">
	<div class="container">
		<div class="iosSlider">
			<?php 
			/*
			 *
			 * updates on header slider images is moved to headerslider-content.phtml file.
			 * skolklader.clseifert.com/app/design/frontend/meigeetheme/default/template/meigee/headerslider-content.phtml
			 *
			 *
			 */ ?>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  
  var currentSchool;
  var construct;
  
  jQuery(document).ready(function(){
  
	currentSchool = '<?php echo str_replace(' ', '', strtolower(Mage::getSingleton('core/session')->getSelectedSchool())); ?>';
	
	var temp = jQuery.parseHTML('<?php echo preg_replace( "/\r|\n/", "", utf8_encode($this->getChildHtml())); ?>');
	var slides = jQuery(temp).children('.item');
	var sliderItems = 0;
	construct = '<ul class="slides">';
	
	slides.each(function(i, obj) {
	    
		var school = jQuery(this).attr('school');
		
		if(typeof school != 'undefined')
		{
			school = school.toLowerCase();
			school = school.replace(/\s/g, '');
		}
		
		<?php if ('default' != strtolower(trim(Mage::app()->getStore()->getCode()))) : ?>
		construct = construct + '<li class="item">' + jQuery(obj).html() + '</li>';
		sliderItems++;
		<?php else : ?>
		if (typeof school != 'undefined' && school == currentSchool) 
		{
		    construct = construct + '<li class="item">' + jQuery(obj).html() + '</li>';
			sliderItems++;
		}
		<?php endif ?>
	});
	
	construct = construct + '</ul>';	
	if (1 < sliderItems) construct = construct + '<div class="container_12"><div class ="next"><em>&nbsp;</em><span>&nbsp;</span></div><div class = "prev unselectable"><em>&nbsp;</em><span>&nbsp;</span></div>';
	jQuery('.iosSlider').html(construct);
  
  });
  
  jQuery(window).load(function(){
	
	
	jQuery('.iosSlider').hide();
	//slider_items_length = jQuery('.slides .item').size();
	
	/*
	
	
	jQuery('.iosSlider .slides .item').each(function(i, obj) {
	    
		var school = jQuery(this).attr('school');
		school = school.toLowerCase();
		school = school.replace(/\s/g, '');
		
		if (school != currentSchool) 
		{
		    jQuery(this).remove();
		}
	});
	*/
	slider_items_length = jQuery('.slides .item').size();
	
	if(slider_items_length > 1){
		var slider_bullets = '<ul class="slideSelectors">';
		for(i=1; i<=slider_items_length; i++){
			if(i==1){selected_item = ' selected'}else{selected_item = ''}
			slider_bullets += '<li class="button-item' + selected_item + '" id="item' + i + '">' + i + '</li>'
		}
		slider_bullets += '</ul>';
		jQuery('.header-slider-container .iosSlider .prev').after(slider_bullets);
	}
	if (1 >= slider_items_length) { jQuery('.iosSlider .container_12').hide(); }
	jQuery('.iosSlider').show();
	
	//Slider Container Ratio
	var slider_container = jQuery('.header-slider-container .container');
	var slider_img =  jQuery('.header-slider-container .iosSlider .slides .item img:first');
	var ratio = Math.round((slider_img.height()/slider_img.width())*100);
	slider_container.css('padding-bottom', ratio + '%');
	
	function nav_box(){
		var nav_box = jQuery('.header-slider-container .iosSlider > .container_12');
		nav_box.css('margin-left', '-'+(nav_box.width()/2)+'px');
	}
	
    jQuery('.iosSlider').iosSlider({
      responsiveSlideWidth: true,
      snapToChildren: true,
      desktopClickDrag: true,
      infiniteSlider: false,
      navSlideSelector: '.slideSelectors .button-item',
      navNextSelector: '.iosSlider .next',
      navPrevSelector: '.iosSlider .prev',
      onSlideComplete: slideComplete,
	  onSliderLoaded: sliderLoaded,
	  onSlideChange: slideChange,
      <?php if(isset($sliderConfig ['autoSlide'])): ?>autoSlide: <?php echo $sliderConfig ['autoSlide']; ?><?php endif; ?>
      <?php if(isset($sliderConfig ['autoSlideTimer'])): ?>, autoSlideTimer: <?php echo $sliderConfig ['autoSlideTimer']; ?><?php endif; ?>
	  <?php if(isset($sliderConfig ['autoSlideTransTimer'])): ?>, autoSlideTransTimer: <?php echo $sliderConfig ['autoSlideTransTimer']; endif; ?>
	  <?php if(isset($sliderConfig ['desktopClickDrag'])): ?>, desktopClickDrag: <?php echo $sliderConfig ['desktopClickDrag']; endif; ?>
	  <?php if(isset($sliderConfig ['infiniteSlider'])): ?>, infiniteSlider: <?php echo $sliderConfig ['infiniteSlider']; endif; ?>
    });
    
	nav_box();
	jQuery(window).resize(function(){nav_box();});
	
	function slideChange(args) {
	    jQuery('.slideSelectors .button-item').removeClass('selected');
	    jQuery('.slideSelectors .button-item:eq(' + (args.currentSlideNumber-1) + ')').addClass('selected');
	}
	
	function slideComplete(args) {
			
	  /* animation */
	  jQuery(args.sliderObject).find('h2').attr('style', '');  
	  jQuery(args.currentSlideObject).children('h2').animate({
	    right: '50%',
	    opacity: '1'
	  }, 500, 'easeOutQuint');
		
	  jQuery(args.sliderObject).find('h3').attr('style', '');
	  jQuery(args.currentSlideObject).children('h3').animate({
	    right: '50%',
	    opacity: '1'
	  }, 800, 'easeOutQuint');
		
	  }
	
	function sliderLoaded(args) {
		slideComplete(args);
		slideChange(args);
	}
    
	
  });
</script>
    <?php 
  endif;
endif;