<ul id="slides-default" class="slides">
	<li class="item" school="Standard Collection"><img src="http://abi.clseifert.com/Sliderimages/abi-banner.jpg" alt="test"></li>
	<li class="item" school="Solbergagymnasiet"><img src="http://abi.clseifert.com/Sliderimages/abi-banner.jpg" alt="1234"></li>
	<li class="item" school="Bromma"><img src="http://abi.clseifert.com/Sliderimages/abi-banner.jpg" alt="asdf"></li></ul>
</ul>