<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="grid_3 alpha">
    <section class="block-subscribe"> 
        <h3><?php echo $this->__('Newsletter') ?></h3> 
        <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
            <div class="block-content">
                <p>
                    <label for="newsletter"><?php echo $this->__('Sign Up for Our Newsletter:') ?></label>
                </p>
                <div class="input-box">
                    <input type="text" name="email" placeholder="<?php echo $this->__('Enter Your Email') ?>" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
                </div>
                <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
                <div class="clear"></div>
            </div>
        </form>
        <script type="text/javascript">
        //<![CDATA[
            var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
        //]]>
        </script>
    </section>
</div>