<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    //$_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $fancybox = MAGE::helper('ThemeOptions')->getThemeOptions('fancybox' );
    $grid = MAGE::helper('ThemeOptions')->getThemeOptions('grid' );
	
	$useProductCategorization = Mage::getStoreConfig('catalogcategory/catalogcategorygroup/catalogcategoryfield'); 
	
	//$selectedSchoolId = Mage::getSingleton('core/session')->getSelectedSchoolId();
	//$selectedSchool = Mage::getSingleton('core/session')->getSelectedSchool();
		/*
		
		if (!is_null($selectedSchool)) {
		    //$this->_getProductCollection()->addAttributeToFilter('school', array('eq' => $selectedSchool));
			//$this->_getProductCollection()->addFieldToFilter('school', $selectedSchool);
			//$this->_getProductCollection()->addAttributeToSelect('school');
			$this->_getProductCollection()->getSelect()->join( array('cpe'=> 'catalog_product_entity_int'), 'cpe.entity_id = main_table.entity_id', array('school' => 'cpe.value'));
			$this->_getProductCollection()->getSelect()->where("cpe.value = ?", $selectedSchool);
		}
		$this->_getProductCollection()->load();
		echo $this->_getProductCollection()->getSelect();
		echo "<br>";echo "<br>";
		foreach ($this->_getProductCollection() as $product) {
		    var_dump($product->getData());
			echo "<br>";
			echo "<br>";
		}
		
		Mage::getSingleton('core/session')->unsSelectedSchool();*/
?>           
<?php

$storeRootCategoryId = Mage::app()->getStore()->getRootCategoryId();
$categories  = Mage::getModel('catalog/category')
				->getCollection()
				->addAttributeToSelect(array('name'))
				->addAttributeToFilter('is_active', 1)
				->addAttributeToFilter('parent_id', $storeRootCategoryId)
				->addAttributeToSort('position', 'asc');
				
$timeOutIncrement = 0;
?>
<?php foreach($categories as $category): ?>

<div id="category<?php echo $category->getId() ?>-page-title" class="page-title"><a href="<?php echo $category->getUrl() ?>"><h2><?php echo $category->getName() ?></h2></a></div>
<div id="category<?php echo $category->getId() ?>-page-loader" class="homelist-loader"></div>
<section class="category-products home-category-products">
<ul id="category<?php echo $category->getId() ?>-products-grid" class="products-grid" style="display:none">
</ul>
</section>
<!--<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>-->
		
<script type="text/javascript">
jQuery(document).ready(function(){
	setTimeout(function() 
	{
		new Ajax.Updater('category<?php echo $category->getId() ?>-products-grid', '<?php echo $this->getUrl('overrides/'); ?>', {
			method: 'post',
			parameters: {category_id:'<?php echo $category->getId() ?>'},
			onLoading: function() {	  
			},
			async: true,
			evalScripts: true,
			onComplete: function(transport) {
				
				if ('' != transport.responseText) 
				{
					jQuery('#category<?php echo $category->getId() ?>-page-loader').fadeOut('fast', function() 
					{
					    decorateGeneric($$('ul.products-grid'), ['odd','even','first','last']);
						jQuery('#category<?php echo $category->getId() ?>-page-title').fadeIn();
						jQuery('ul#category<?php echo $category->getId() ?>-products-grid').fadeIn();
					});
				}
				else 
				{
				    jQuery('#category<?php echo $category->getId() ?>-page-loader').fadeOut('fast', function() 
					{
					    jQuery('#category<?php echo $category->getId() ?>-page-title').fadeOut();
					});
				}
			}
		});
	
	},<?php echo $timeOutIncrement ?>);
});
</script>

<?php $timeOutIncrement+= 500; endforeach; ?>