<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/webgl/popup/save_hat_setup.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/webgl/popup/clipboard.min.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/webgl/popup/save_hat_setup.css') ?>">

<?php
$storeId = Mage::app()->getStore()->getId();
$popupMessage = Mage::getStoreConfig('picaris/picaris_savedcapsetup/picaris_savedcapsetup_popup_message', $storeId);
$popupSuccessMessage = Mage::getStoreConfig('picaris/picaris_savedcapsetup/picaris_savedcapsetup_popup_success_message', $storeId);
$loggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
?>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#allow_display').change(function(){
            var capimageid = jQuery('#hat_screenshot').attr('data-capid');
            hatsetup.methods.toggleDisplayToGallery(this.checked, capimageid);
        });
        
        jQuery('#save-hat-trigger , .group-button , .next').click(function() {
            var messages = jQuery('.product-detail ul.messages');
            if(messages.length) {
                messages.remove();
            }
        });
    });
    
    var clipboard = new Clipboard('.btn-copy-link');

    clipboard.on('success', function(e) {
        jQuery('.copy-notif').addClass('copy-success').html("Copied").show();
        
        setTimeout(function() {
            jQuery('.copy-notif').fadeOut('slow');
            jQuery('.copy-notif').removeAttr('style').html('');
        },1000);
        
    });

    clipboard.on('error', function(e) {
        jQuery('.copy-notif').addClass('copy-error').html("Failed to copy. Please press CTRL + C").show();
        setTimeout(function() {
            jQuery('.copy-notif').fadeOut('slow');
            jQuery('.copy-notif').removeAttr('style').html('');
        },1000);
    });
</script>

<div id="save-hat-setup-wrapper" style="display: none;">
    <div class="save-hat-setup-container">
        <?php if(isset($_GET['caprendermode']) && intval($_GET['caprendermode']) == 1): $isHidden = true;?>
        <div class="saving-options" style="text-align: center;">
            <p><?php echo $this->__('How do you want to save your cap?')?></p><br>
            <div class="btn-container">
                <a href="javascript:hatsetup.methods.downloadScreenshot()" id="fancy-yes"><?php echo $this->__('Download Image')?></a>
                <a href="javascript:hatsetup.methods.proceed_saving()" id="fancy-no"><?php echo $this->__('Save Cap Design')?></a>
            </div>
        </div>
        <?php endif;?>
        <div class="saving-form-wrapper" <?php if($isHidden):?>style="display: none"<?php endif;?>>
            <p><?php echo $popupMessage?></p>
            <p><input type="text" name="link_title" id="save-hat-setup-link-title" placeholder="Add title to this setup link"/></p>
            <?php if(!$loggedIn):?>
            <p><input type="text" name="email_address" id="email_address" placeholder="Enter your e-mail address"/></p>
            <?php endif;?>
            <span class="invalid-notif"></span>
            <div class="btn-container">
                <a href="javascript:hatsetup.methods.save_hatsetup(1,0)" id="fancy-yes"><?php echo $this->__('Yes')?></a>
                <a href="javascript:hatsetup.methods.fancy_hide()" id="fancy-no"><?php echo $this->__('No')?></a>
                <?php if(!$loggedIn):?>
                <a href="javascript:hatsetup.methods.fb_login()" id="fb_login"><?php echo $this->__('Continue with Facebook')?></a>
                <?php endif;?>
            </div>
        </div>
    </div>

    <div id="success" style="display: none;">
        <p><?php echo $popupSuccessMessage?></p>
        <p style="text-align: center;">
            <label for="allow_display" id="allow_display_wrapper">
                <input type="checkbox" name="allow_display" id="allow_display"/>
                <?php echo $this->__('Display this image in the gallery')?>
            </label>
            <input type="text" name="shared_link" id="save-hat-setup-link" value=""/>
            <span class="copy-notif"></span>
            <button class="btn-copy-link" data-clipboard-action="copy" data-clipboard-target="#save-hat-setup-link"><?php echo $this->__('Copy Link')?></button>
        </p>
    </div>
</div>
<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('webgl/product/popup/facebook_share.phtml')->toHtml(); ?>