<?php
/* NOTE TO FUTURE DEVELOPERS :)
 * please do copy all css overrides at custom_layout.css after development in this renderer
 */
?>

<?php
$renderer_params =  $this->getRendererParams();
$extraClass 	 = $this->getRendererExtraClass();
$product 		 = $this->getProduct();
$attribute 		 = $this->getAttrToRender();
$attId 		     = $attribute['attribute_id'];

/* use only for sorting */
$searchChars  = array('Æ', 'æ', 'Ø', 'ø', 'Å', 'å', 'Ä', 'ä', 'Ö', 'ö');
$replaceChars = array('|1', '|1', '|2', '|2', '|3', '|3', '|4', '|4', '|5', '|5');
$sortName 	  = array();

foreach ($attribute['options'] as $key => $option) {
	$sortName[$key] = trim(strtolower(str_replace($searchChars, $replaceChars, $option['config']['label'])));
}

array_multisort($sortName, SORT_ASC, $attribute['options']);

$optionsJSON = array();

foreach ($attribute['options'] as $option) {
	$optionsJSON[] = array(
		'value' => $option['config']['label'],
		'data'  => $option['option_id']
	);
}
?>

<style type="text/css">
    #attribute-primary-label-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #attribute-price-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #li-<?php echo $attribute['attribute_id']; ?>{
        position: relative;
    }
    #group-wrapper-<?php echo $attribute['group_id'] ?> .helptext{
        display:none;
    }
    #li-<?php echo $attribute['attribute_id']; ?> .helptext{
        display:none;
    }
</style>

<div id="autocomplete-wrapper-<?php echo $attribute['attribute_id']; ?>" class="autocomplete-wrapper">
	<div class="autocomplete-trigger">
		<a id="autocomplete-icon-<?php echo $attribute['attribute_id']; ?>" class="autocomplete-icon" href="#autocomplete-renderer-dropdown-<?php echo $attribute['attribute_id']; ?>">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 512 512">
				<g id="icomoon-ignore"></g>
				<path d="M496.131 435.698l-121.276-103.147c-12.537-11.283-25.945-16.463-36.776-15.963 28.628-33.534 45.921-77.039 45.921-124.588 0-106.039-85.961-192-192-192s-192 85.961-192 192 85.961 192 192 192c47.549 0 91.054-17.293 124.588-45.922-0.5 10.831 4.68 24.239 15.963 36.776l103.147 121.276c17.661 19.623 46.511 21.277 64.11 3.678s15.946-46.449-3.677-64.11zM192 320c-70.692 0-128-57.308-128-128s57.308-128 128-128 128 57.308 128 128-57.307 128-128 128z"></path>
			</svg>
			<p id="autocomplete-search-label-<?php echo $attribute['attribute_id']; ?>" class="autocomplete-search-label"><?php echo $this->__('Search school') ?></p>
		</a>
	</div>

	<div id="autocomplete-renderer-dropdown-<?php echo $attribute['attribute_id']; ?>" class="autocomplete-renderer-dropdown" style="display: none;">
		<input type="text" id="autocomplete-input-<?php echo $attribute['attribute_id']; ?>" class="autocomplete-input" />
		<div id="autocomplete-results-<?php echo $attribute['attribute_id']; ?>" class="autocomplete-results"></div>
	</div>
</div>

<script type="text/javascript">
(function ($) {
	var BP = 980;

	var win = $(window),
	wrapper = $('#autocomplete-wrapper-<?php echo $attId; ?>'),
	inputBox = $('#autocomplete-input-<?php echo $attId; ?>'),
	inputLabel = $('#autocomplete-search-label-<?php echo $attId; ?>'),
	dropdown = $('#autocomplete-renderer-dropdown-<?php echo $attId; ?>'),
	trigger = $('#autocomplete-icon-<?php echo $attId; ?>'),
	instanceType = 'block';

	//hide dropdown first if width is changing between breakpoint
	win.resize(function() {
		if (!dropdown.is(':hidden') && instanceType == 'block' && win.width() <= BP) {
			dropdown.hide();
		}
		else if (!dropdown.is(':hidden') && instanceType == 'modal' && win.width() > BP) {
			$.fancybox.close(true);
		}
	});

	win.load(function() {
		//reset events of textbox before initiating autocomplete
		inputBox.unbind().autocomplete({
			lookup: <?php echo json_encode($optionsJSON) ?>,
			onSelect: function(suggestion, a, b) {
				inputLabel.html(suggestion.value);
				$('#<?php echo $attId; ?>').val(suggestion.data).trigger('change');

				if ($(window).width() > BP) {
					dropdown.hide();
				}
				else {
					$.fancybox.close(true);
				}
			},
			appendTo: '#autocomplete-results-<?php echo $attId; ?>',
			showNoSuggestionNotice : true,
			noSuggestionNotice: '<?php echo Mage::getStoreConfig('schoolslist/schoolslist_general/schoolsearchnoresult', Mage::app()->getStore()->getId())?>',
			triggerSelectOnValidInput: false,
			onSearchComplete: function() {
				$.fancybox.reposition();
			}
		});

		//add click event to icon
		trigger.click(function(e) {
			e.preventDefault();

			//toggle dropdown if visible
			if (!dropdown.is(':hidden') && instanceType == 'block') {
				dropdown.hide();

				return;
			}

			//reset dropdown before initializing it again
			dropdown = dropdown.detach();

			if (dropdown) {
				wrapper.append(dropdown);
			}

			//large viewport
			if ($(window).width() > BP) {
				dropdown.show();
				instanceType = 'block';
			}
			//mobile devices
			else {
				trigger.fancybox({
					height: 'auto',
					live: false,
					padding: 20,
					tpl: {
						wrap: '<div class="fancybox-wrap autocomplete-fancybox fancybox-has-close-btn" tabIndex="-1">' +
								'<div class="fancybox-outer">' +
									'<div class="fancybox-inner"></div>' +
								'</div>' +
							'</div>'
					},
					afterClose: function() {
						$(document).undelegate('#autocomplete-icon-<?php echo $attId; ?>', 'click.fb-start');
					}
				});

				instanceType = 'modal';
			}
		});
	});
})(jQuery);
</script>

<!-- 3rd gen codes -->

<div class="text" data-group-id="<?php echo $group['group_id']; ?>" style="width:0px !important; height:0px !important; position:absolute !important; left: -9999px;">

    <select style="width:0px !important; height:0px !important; position:absolute !important;" name="<?php echo $attribute['attribute_id']; ?>"
            id="<?php echo $attribute['attribute_id']; ?>"
            class=" attr-control
                    <?php echo 'class-'.$attribute['attribute_id']; ?>
                   <?php if($attribute['config']['required']=== '1'){ ?>required-entry<?php } ?>"
            <?php foreach($attribute['config'] as $configkey => $configval){
                if(is_array($configval)){ ?>
                    data-conf-<?php echo $configkey ?>='<?php echo json_encode($configval); ?>'
                <?php } else{ ?>
                    data-conf-<?php echo $configkey ?>="<?php echo $configval; ?>"
                <?php }
            } ?>
            onchange="if(jQuery('#<?php echo $option['attribute_id']; ?>').prop('disabled')) return false;
                        jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','none');
                        if(jQuery('#<?php echo $attribute['attribute_id']; ?> option:selected').attr('data-procprice').trim().length){
                            jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html(jQuery('#<?php echo $attribute['attribute_id']; ?> option:selected').attr('data-procprice'));
                            jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','inline');
                        }
                        redisplayPossibleCustomPrice();
                       "
        >
            <?php foreach($attribute['options'] as $option){ ?>
                <option value="<?php echo $option['option_id']; ?>"
                        data-threeddata="<?php echo $option['threed_data']; ?>"
                        <?php
                        switch(Mage::app()->getStore()->getCode()){
                            case 'da':
                                $currentSchool = Mage::getSingleton('core/session')->getCurrentSchoolEducDa();
                                break;
                            case 'sv':
                                $currentSchool = Mage::getSingleton('core/session')->getCurrentSchoolEducSv();
                                break;
                            case 'fi':
                                $currentSchool = Mage::getSingleton('core/session')->getCurrentSchoolEducFi();
                                break;
                        }
                        if($attribute['config']['default'] == $option['option_id'] ||
                            $option['option_id'] == $currentSchool['option_id'] )
                              {
                        ?>
                        selected="selected"
                        <?php } ?>
                        <?php
                        foreach($option['config'] as $configkey => $configval){
                            if(is_array($configval)){ ?>
                                    data-conf-<?php echo $configkey ?>='<?php echo json_encode($configval); ?>'
                                <?php } else{ ?>
                                    data-conf-<?php echo $configkey ?>='<?php echo $configval; ?>'
                                <?php }
                        } ?>
                        data-procprice ="<?php if(!in_array($attribute['attribute_id'],$ignoredPrices)
                                && (floatval($option['config']['price']) > 0.00
                                || floatval($attribute['config']['price']['amount']) > 0.00)){
                        switch($attribute['config']['price']['behavior']){
                            case 'd':
                                    echo strval(floatval($option['config']['price']) + floatval($attribute['config']['price']['amount']));
                                break;
                            case 's':
                                    if(floatval($option['config']['price']) > 0.00 ){
                                        echo strval(floatval($option['config']['price']));
                                    }else{
                                        echo strval(floatval($attribute['config']['price']['amount']));
                                    }
                                break;
                        }
                        } ?>"
                        >
                        <?php echo $option['config']['label']; ?>
                </option>
            <?php } ?>
    </select>
</div>
