<?php 
/* NOTE TO FUTURE DEVELOPERS :)
 * please do copy all css overrides at custom_layout.css after development in this renderer 
 */
?>

<?php 
$renderer_params =  $this->getRendererParams();
$extraClass = $this->getRendererExtraClass();
$product = $this->getProduct();
$attribute = $this->getAttrToRender();
?>

<style type="text/css">
    #attribute-primary-label-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #attribute-price-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #li-<?php echo $attribute['attribute_id']; ?>{
        margin-top: -5px;
        position: relative;
        left: -6%;
        width: 112%;
    }
    
    #group-wrapper-<?php echo $attribute['group_id'] ?> .helptext{
        display:none;
    }
    
    #li-<?php echo $attribute['attribute_id']; ?> .helptext{
        display:none;
    }
</style>
<div <?php echo $renderer_params; ?> class="options 
<?php if(isset($attribute['config']['image_selection_layout']) 
        && intval($attribute['config']['image_selection_layout']) == 1){ ?>
    layout45
<?php } ?> <?php echo $extraClass; ?>" 
id="image-options-<?php echo $attribute['attribute_id']; ?>" 
data-group-id="<?php echo $group['group_id']; ?>">
<?php foreach($attribute['options'] as $option){ ?>
   <div class="option col-2-renderer-image" 
        <?php if(isset($attribute['config']['image_selection_layout']) 
        && intval($attribute['config']['image_selection_layout']) == 1){ ?>
        style="word-break:keep-all;"
        <?php } ?>
        >
       <span class="<?php if($attribute['config']['default'] == $option['option_id']){?> selected <?php } ?>">

           <?php if($product->getData('picaris_not_hat')){  ?>
           <script type="text/javascript">
               jQuery(document).ready(function(){
                   if(typeof jQuery('#<?php echo $attribute['attribute_id']; ?>').attr('data-conf-image_nogl_set_prod_img') !== 'undefined' && jQuery('#<?php echo $attribute['attribute_id']; ?>').attr('data-conf-image_nogl_set_prod_img') === '1'){
                       if(!picarisprodattr.haswebgl){
                           jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>')
                               .data('noGlChangeImage',function(){
                               jQuery('#no-gl-mobile-image').attr('src',jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').attr('src'));  
                           });
                       }
                   }
               });
           </script>
           <?php } ?>

           <img src="<?php echo $option['config']['image']; ?>"
                id="image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>"
                data-threeddata="<?php echo $option['threed_data']; ?>"
                data-optionid = "<?php echo $option['option_id']; ?>"
                class= "image-input-<?php echo $attribute['attribute_id']; ?>
                        picaris-image-input-<?php echo $attribute['attribute_id']; ?>
                       <?php if($attribute['config']['default'] == $option['option_id']){?> 
                        default-selection
                        selected-image
                       <?php } ?>
                       <?php if($product->getData('picaris_not_hat')
                               && isset($attribute['config']['image_nogl_set_prod_img']) 
                               && $attribute['config']['image_nogl_set_prod_img'] == '1'){ ?>
                       image-nogl-set-prod-img
                       <?php } ?>
                       itemimg"
                alt = "<?php echo $option['config']['label']; ?>" 
                title = "<?php echo $option['config']['label']; ?>"
                data-error-retries = "0"
                onerror = "
                   if(parseInt(jQuery(this).attr('data-error-retries')) <= 2){
                       jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').addClass('dynamic-image-option');
                       jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').attr('dynamic-image',procParametized3DData('<?php echo $option['config']['image']; ?>'));
                       jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').attr('src',procParametized3DData('<?php echo $option['config']['image']; ?>'));
                       jQuery(this).attr('data-error-retries',String(parseInt(jQuery(this).attr('data-error-retries')) + 1));
                   }
               "
               <?php foreach($option['config'] as $configkey => $configval){
                   if(is_array($configval)){ ?>
                       data-conf-<?php echo $configkey ?>='<?php echo json_encode($configval); ?>'
                   <?php } else{ ?>
                       data-conf-<?php echo $configkey ?>="<?php echo $configval; ?>"
                   <?php }
               } ?>

               onclick="if(jQuery('#<?php echo $option['attribute_id']; ?>').prop('disabled')) return false;
                           jQuery('#<?php echo $option['attribute_id']; ?>').val(jQuery(this).attr('data-optionid'));
                           jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','none');
                           jQuery('.image-input-<?php echo $attribute['attribute_id']; ?>').parent().removeClass('selected');
                           jQuery('.image-input-<?php echo $attribute['attribute_id']; ?>').removeClass('selected-image');
                           jQuery(this).parent().addClass('selected');
                           jQuery(this).addClass('selected-image');

                           <?php if($product->getData('picaris_not_hat')){  ?>
                               setTimeout(function(){
                                   jQuery('img.image-nogl-set-prod-img.selected-image').data('noGlChangeImage')(); 
                               },1);
                           <?php } ?>

                           <?php  if(!in_array($attribute['attribute_id'],$ignoredPrices) 
                                   && (floatval($option['config']['price']) > 0.00 
                                   || floatval($option['config']['price']['amount']) > 0.00)){ 
                               switch($attribute['config']['price']['behavior']){
                                   case 'd':
                                       ?>
                                       jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html('<?php 
                                           echo strval(floatval($option['config']['price']) + floatval($attribute['config']['price']['amount']));
                                       ?>');
                                       <?php
                                       break;
                                   case 's':
                                       if(floatval($option['config']['price']) > 0.00){ ?>
                                               jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html('<?php echo strval(floatval($option['config']['price'])); ?>');                                                                   
                                           <?php
                                       }else{ ?>
                                               jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html('<?php echo strval(floatval($attribute['config']['price']['amount'])); ?>'); 
                                           <?php
                                       }
                                       break;
                               } ?>
                               jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','inline');

                           <?php } ?>
                           redisplayPossibleCustomPrice(); "
              <?php if(!isset($attribute['config']['image_selection_layout']) 
                   && intval($attribute['config']['image_selection_layout']) == 0){ ?>
               style="max-width:60px; max-height: 60px;"
                   <?php
               }
               ?>
               />

               <script type="text/javascript">
                    picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>'] = [];
                    picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['hasowl'] = false;
                    picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['resizefunc'] = function(){
                        var wdth = $jQuery(window).width();
                        if(wdth <= 980){
                            if(!picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['hasowl']){
                                
                                picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['hasowl'] = true;
                                $jQuery('#image-options-<?php echo $attribute['attribute_id']; ?>').owlCarousel({
                                    autoWidth: true,
                                    onInitialized: fixOwl,
                                    onRefreshed: fixOwl,
                                    items: <?php echo count($attribute['options']) % 4 ? 4 : 2; ?>,
                                    pagination: false,
                                    mouseDrag: true,
                                    touchDrag: true,
                                    loop: true,
                                    responsive:false
                                });
                                jQuery('#li-<?php echo $attribute['attribute_id']; ?>').css('left','inherit');
                               
                                for(var i =0; i < jQuery('#li-<?php echo $attribute['attribute_id']; ?> .option.col-2-renderer-image').length; i++){
                                     jQuery('#li-<?php echo $attribute['attribute_id']; ?> .option.col-2-renderer-image')[i].style.setProperty( 'width', 'auto', 'important' );
                                }
                                $jQuery('#li-<?php echo $attribute['attribute_id']; ?>').css('left',0);
                            }
                        }
                        else{
                        
                            var owlin = $jQuery('#image-options-<?php echo $attribute['attribute_id']; ?>');
                            owlin.trigger('destroy.owl.carousel').removeClass('owl-carousel owl-loaded');
                            owlin.find('.owl-stage-outer').children().unwrap();
                            picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['hasowl'] = false;
                            jQuery('#li-<?php echo $attribute['attribute_id']; ?>').css('left','-6%');
                            
                            for(var i =0; i < jQuery('#li-<?php echo $attribute['attribute_id']; ?> .option.col-2-renderer-image').length; i++){
                                jQuery('#li-<?php echo $attribute['attribute_id']; ?> .option.col-2-renderer-image')[i].style.setProperty( 'width', '50%', 'important' );
                            }
                            $jQuery('#li-<?php echo $attribute['attribute_id']; ?>').css('left','-6%');
                        }
                    };
                   
                   jQuery(document).ready(function(){
                       jQuery('#group-button-<?php echo $group['group_id']; ?>').click(function(){
                            jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').attr('src',procParametized3DData('<?php echo $option['config']['image']; ?>'));
                       });
                       jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').error(function(){
                            jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').addClass('dynamic-image-attribute');
                            jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').attr('data-dynimg',procParametized3DData('<?php echo $option['config']['image']; ?>'));
                            jQuery('#image-input-<?php echo $attribute['attribute_id']; ?>-<?php echo $option['option_id']; ?>').attr('src',procParametized3DData('<?php echo $option['config']['image']; ?>'));
                       });
                       
                        picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['resizefunc']();

                        jQuery(window).resize(picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['resizefunc']);

                   });
               </script>

       </span>
       <span class="image-label-<?php echo $attribute['attribute_id'].'-'.str_replace(' ', '',$option['option_id']); ?> itemlabel">
           <?php echo $option['config']['label']; ?>
       </span>
       <span class="image-label-<?php echo $attribute['attribute_id'].'-'.str_replace(' ', '',$option['option_id']); ?> itemprice">
           +<?php echo $option['config']['price']; ?><?php echo $this->getCurrencySymbol(); ?>
       </span>
   </div>
<?php } ?>
<input  name="<?php echo $attribute['attribute_id']; ?>"
       id="<?php echo $attribute['attribute_id']; ?>" 
       value="<?php echo $attribute['config']['default']; ?>" 
       type="hidden"
       class=" attr-control 
               <?php echo 'class-'.$attribute['attribute_id']; ?>
              <?php if($attribute['config']['required']=== '1'){ ?> required-entry <?php } ?>"
       <?php foreach($attribute['config'] as $configkey => $configval){
           if(is_array($configval)){ ?>
               data-conf-<?php echo $configkey ?>='<?php echo json_encode($configval); ?>'
           <?php } else{ ?>
               data-conf-<?php echo $configkey ?>="<?php echo $configval; ?>"
           <?php }
       } ?>
   >
</div>

