<?php 
/* NOTE TO FUTURE DEVELOPERS :)
 * please do copy all css overrides at custom_layout.css after development in this renderer 
 * 
 * Text-Type Renderers
 * Required to put common-classes to input and it's span sibling
 * Input Class: text-type-renderer-input
 * Span Class:  text-type-renderer-label
 */
?>

<?php 
$renderer_params =  $this->getRendererParams();
$extraClass = $this->getRendererExtraClass();
$product = $this->getProduct();
$attribute = $this->getAttrToRender();
?>

<style type="text/css">
    #attribute-primary-label-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #attribute-price-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #li-<?php echo $attribute['attribute_id']; ?>{
        margin-top: -5px;
        position: relative;
        left: -6%;
        width: 112%;
    }
    
    #group-wrapper-<?php echo $attribute['group_id'] ?> .helptext{
        display:none;
    }
    
    #li-<?php echo $attribute['attribute_id']; ?> .helptext{
        display:none;
    }
</style>

<div data-attributeid="<?php echo $attribute['attribute_id']; ?>" id="col-left-renderer-text-<?php echo $attribute['attribute_id']; ?>" class="col-left-renderer-text text-type-renderer text-type-renderer-<?php echo $attribute['attribute_id']; ?>">
    <div class="itemimg">
        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>frontend/base/default/images/pen.svg">
    </div>
    <p class="itemlabel">
        <span class="curinput"></span>
        <?php
        $attribute_label = explode('|',$attribute['label']);
        echo $attribute_label[0];
        ?>
        <?php if($attribute['config']['required'] == '1'){ ?> * <?php } ?>
    </p>
    <p class="itemprice"></p>
</div>

<script type="text/javascript">
    picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>'] = [];

    jQuery(window).load(function(){
        setTimeout(function(){
            jQuery('#col-left-renderer-text-<?php echo $attribute['attribute_id']; ?> .itemlabel .curinput').text(jQuery('#<?php echo $attribute['attribute_id']; ?>').val());
        },1500);
    });
</script>

<!-- 3rd gen codes -->
<div class="text col-left-renderer-text-3rd-gen hide-3rd-gen-element" data-group-id="<?php echo $group['group_id']; ?>" id="group-element-<?php echo $attribute['attribute_id']; ?>">
    <input type="text" 
           id="<?php echo $attribute['attribute_id']; ?>"
           name="<?php echo $attribute['attribute_id']; ?>"
           maxlength="<?php echo $attribute['config']['maxmin']['max']; ?>"
           value="<?php echo $attribute['config']['default']; ?>"
           class="  text-type-renderer-input
                    hide-3rd-gen-element
                    attr-control
                    <?php echo 'class-'.$attribute['attribute_id']; ?>
                    <?php if($attribute['config']['required'] == '1'){ ?> required-entry <?php } ?>"
            <?php foreach($attribute['config'] as $configkey => $configval){
                if(is_array($configval)){ ?>
                    data-conf-<?php echo $configkey ?>='<?php echo json_encode($configval); ?>'
                <?php } else{ ?>
                    data-conf-<?php echo $configkey ?>="<?php echo $configval; ?>"
                <?php }
            } ?>
            <?php if(!in_array($attribute['attribute_id'],$ignoredPrices)
                    && floatval($attribute['config']['price']['amount']) > 0){ ?>
                    onkeyup="if(jQuery(this).val().length > 0){
                            jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','inline');
                            <?php
                            switch($attribute['config']['price']['behavior']){
                                case 'd':
                                    ?>
                                    jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html(String(jQuery('#<?php echo $attribute['attribute_id']; ?>').val().length * parseFloat(<?php echo floatval($attribute['config']['price']['amount']); ?>)));
                                    <?php
                                    break;
                                case 's':
                                    ?>
                                    jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html('<?php echo floatval($attribute['config']['price']['amount']); ?>');
                                    <?php
                                    break;
                            } ?>
                       }else{
                           jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','none');                                                               
                           jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html('');
                       } 
                       redisplayPossibleCustomPrice();"
             <?php } ?>
    />

    <?php if(isset($attribute['config']['maxmin']['max']) && intval($attribute['config']['maxmin']['max']) > 0){ ?>
    <script type="text/javascript">
        picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['maxlength']  = <?php echo strval($attribute['config']['maxmin']['max']); ?>;
    </script>
    <span class="text-type-renderer-label" id="maxlen-col-left-renderer-text-3rd-gen-<?php echo $attribute['attribute_id']; ?>" style=" font-size: 12px; position: absolute; right: 5%; bottom: 35%; color: #bbb;">
        <?php
            echo strval($attribute['config']['maxmin']['max']);
        ?>
    </span>
    <?php } ?>
 
</div>
