<?php
/* NOTE TO FUTURE DEVELOPERS :)
 * please do copy all css overrides at custom_layout.css after development in this renderer
 */
?>

<?php
$renderer_params =  $this->getRendererParams();
$extraClass = $this->getRendererExtraClass();
$product = $this->getProduct();
$attribute = $this->getAttrToRender();
?>

<style type="text/css">
    #attribute-primary-label-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #attribute-price-<?php echo $attribute['attribute_id']; ?>{
        display:none !important;
    }
    #li-<?php echo $attribute['attribute_id']; ?>{
        margin-top: -5px;
        position: relative;
        left: -6%;
        width: 112%;
    }
	#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?> .itemtext{
		width: 50%;
		float: left;
		text-align: center;
		border: 1px solid #f2f3f3;
		cursor: pointer;
		position: relative;
		font-size: 20px !important;
	}

    #group-wrapper-<?php echo $attribute['group_id'] ?> .helptext{
        display:none;
    }

    #li-<?php echo $attribute['attribute_id']; ?> .helptext{
        display:none;
    }
    #advice-required-entry-<?php echo $attribute['attribute_id'] ?> {
        background: red;
        font-size: 0;
        min-height: 2px;
        width: 200px;
        padding: 0;
        margin: 0;
    }
</style>

<div id="slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?>" class="slide-renderer-dropdown">
<?php
$ctri = 0;
foreach($attribute['options'] as $option){
    ?>
        <div class="itemtext" data-value="<?php echo $option['option_id']; ?>" data-ctri="<?php echo $ctri; ?>">
            <?php echo $option['config']['label']; ?>
        </div>
    <?php
    $ctri++;
}
?>
</div>

<script type="text/javascript">




picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>'] = [];    
picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['resizefunc'] = function(){
    var wdth = $jQuery(window).width();
    if(wdth <= 980){
		
        jQuery('#li-<?php echo $attribute['attribute_id']; ?>').css('left',0);
		//Init carousel for slider with slide
		widthBlocks(jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?>"), jQuery(".itemtext"), '33');
    }
    else{
        jQuery('#li-<?php echo $attribute['attribute_id']; ?>').css('left','-6%');
    }
};  
						  
						  


jQuery(document).ready(function(){
						  
//    $jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?>").owlCarousel({
//        autoWidth:true,
//        onInitialized: fixOwl,
//        onRefreshed: fixOwl,
//        items: <?php echo count($attribute['options']) > 2 ? 3 : 2; ?>,
//        pagination: false,
//        mouseDrag: true,
//        touchDrag: true,
//        loop: true,
//        responsive: false
//    });
	

    jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?> .itemtext").click(function(){
        $jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?> .itemtext").removeClass('itemtextactive');
        $jQuery(this).addClass('itemtextactive');
        jQuery('#<?php echo $attribute['attribute_id']; ?>').val($jQuery(this).attr('data-value'));
        jQuery('#<?php echo $attribute['attribute_id']; ?>').trigger('change');
    });
    
    picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['resizefunc']();
    jQuery(window).resize(picarisprodattr.renderers['<?php echo $attribute['attribute_id']; ?>']['resizefunc']);

});
jQuery(window).load(function(){
    setTimeout(function(){
        var curvalue = jQuery('#<?php echo $attribute['attribute_id']; ?>').val();
        jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?> .itemtext").removeClass('itemtextactive');
        
        jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?> div[data-value='" + curvalue + "']").addClass('itemtextactive');
        
        var elemindex = $jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?> div[data-value='" + curvalue + "']").attr('data-ctri');
        jQuery("#slide-renderer-dropdown-<?php echo $attribute['attribute_id']; ?>").trigger('to.owl.carousel', [parseInt(elemindex), 0, true]);
        
    },1300);

});
</script>

<!-- 3rd gen codes -->

<div class="text" data-group-id="<?php echo $group['group_id']; ?>">
                                                
    <select style="width:0px !important; height:0px !important; position:absolute !important;  opacity: 0.01 !important;" name="<?php echo $attribute['attribute_id']; ?>" 
            id="<?php echo $attribute['attribute_id']; ?>"
            class=" attr-control
                    <?php echo 'class-'.$attribute['attribute_id']; ?>
                   <?php if($attribute['config']['required']=== '1'){ ?>required-entry<?php } ?>"
            <?php foreach($attribute['config'] as $configkey => $configval){
                if(is_array($configval)){ ?>
                    data-conf-<?php echo $configkey ?>='<?php echo json_encode($configval); ?>'
                <?php } else{ ?>
                    data-conf-<?php echo $configkey ?>="<?php echo $configval; ?>"
                <?php }
            } ?>
            onchange="if(jQuery('#<?php echo $option['attribute_id']; ?>').prop('disabled')) return false;
                        jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','none');
                        if(jQuery('#<?php echo $attribute['attribute_id']; ?> option:selected').attr('data-procprice').trim().length){
                            jQuery('#attribute-price-text-<?php echo $attribute['attribute_id']; ?>').html(jQuery('#<?php echo $attribute['attribute_id']; ?> option:selected').attr('data-procprice'));
                            jQuery('#attribute-price-<?php echo $attribute['attribute_id']; ?>').css('display','inline');
                        }
                        redisplayPossibleCustomPrice();
                       "
        >
            <?php foreach($attribute['options'] as $option){ ?>
                <option value="<?php echo $option['option_id']; ?>"
                        data-threeddata="<?php echo $option['threed_data']; ?>"
                        <?php
                        switch(Mage::app()->getStore()->getCode()){
                            case 'da':
                                $currentSchool = Mage::getSingleton('core/session')->getCurrentSchoolEducDa();
                                break;
                            case 'sv':
                                $currentSchool = Mage::getSingleton('core/session')->getCurrentSchoolEducSv();
                                break;
                            case 'fi':
                                $currentSchool = Mage::getSingleton('core/session')->getCurrentSchoolEducFi();
                                break;
                        }
                        if($attribute['config']['default'] == $option['option_id'] ||
                            $option['option_id'] == $currentSchool['option_id'] )
                              {
                        ?>
                        selected="selected"
                        <?php } ?>
                        <?php
                        foreach($option['config'] as $configkey => $configval){
                            if(is_array($configval)){ ?>
                                    data-conf-<?php echo $configkey ?>='<?php echo json_encode($configval); ?>'
                                <?php } else{ ?>
                                    data-conf-<?php echo $configkey ?>='<?php echo $configval; ?>'
                                <?php }
                        } ?>
                        data-procprice ="<?php if(!in_array($attribute['attribute_id'],$ignoredPrices)
                                && (floatval($option['config']['price']) > 0.00
                                || floatval($attribute['config']['price']['amount']) > 0.00)){
                        switch($attribute['config']['price']['behavior']){
                            case 'd':
                                    echo strval(floatval($option['config']['price']) + floatval($attribute['config']['price']['amount']));
                                break;
                            case 's':
                                    if(floatval($option['config']['price']) > 0.00 ){
                                        echo strval(floatval($option['config']['price']));
                                    }else{
                                        echo strval(floatval($attribute['config']['price']['amount']));
                                    }
                                break;
                        }
                        } ?>"
                        >
                        <?php echo $option['config']['label']; ?>
                </option>
            <?php } ?>
    </select>

</div>
