

<form id="co-billing-form" name="co-billing-form" action="" class="normalversion float">


  <fieldset id="billing-new-address-form" class="cboth" >   
  

<div class="row">

    <div class="customer-name">
        <?php $navn = Mage::getBlockSingleton('customer/widget_name')->setObject($this->getAddress())->getObject(); ?>     
        <div class="customer-name">

            <div class="styled-wrap left">
                <div class="field name-firstname styled-input">
                    
                    <input type="text" class="required-entry" title="<?php echo $this->__('First Name');?>" value="<?php echo $this->htmlEscape($navn->getFirstname())?>" name="billing[firstname]" id="billing:firstname" required />
                    <label for="billing:firstname"><?php echo $this->__('First Name');?><em>*</em></label>
                    <span></span>
                </div>
            </div>

            <div class="styled-wrap right">
                <div class="field name-lastname styled-input">
                    <input type="text" class="required-entry" title="<?php echo $this->__('Last Name');?>" value="<?php echo $this->htmlEscape($navn->getLastname());?>" name="billing[lastname]" id="billing:lastname" required />
                    <label for="billing:lastname"><?php echo $this->__('Last Name');?><em>*</em></label>
                    <span></span>
                </div>
            </div>  

        </div>

    </div>
</div>


  

    
 
 
    
    <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />            
         

    <!--              

      <?php $navn = Mage::getBlockSingleton('customer/widget_name')->setObject($this->getAddress())->getObject(); ?>                

 
    -->    	
 <!--                 

      <?php $navn = Mage::getBlockSingleton('customer/widget_name')->setObject($this->getAddress())->getObject(); ?>                

     
  -->  
  
<div class="row" id="firmean">

  	
<div class="styled-wrap left">
        <div class="field styled-input">
    <input type="email" name="billing[email]" id="billing:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="validate-email required-entry" maxlength="128" required />
        
            <label for="billing:email"><?php echo $this->__('Email Address') ?> <span class="required">*</span></label>
     <span></span>
        </div>
             </div>            

<div class="styled-wrap right">
        <div class="field styled-input">
    <input type="tel" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class=" billing-input validate-digits required-entry" id="billing:telephone" maxlength="1024" required />
        
            <label for="billing:telephone"><?php echo $this->__('Telephone') ?> <span class="required">*</span></label>
     <span></span>
        </div>
             </div>                        
   
</div>



<div class="row street">
    
<div class="styled-wrap full">
        <div class="field styled-input">
            <input type="text" title="<?php echo $this->__('Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="required-entry" required />
        
            <label for="billing:street1"><?php echo $this->__('Address') ?> <span class="required">*</span></label>
     <span></span>
        </div>
             </div> 

    <input type="hidden" title="<?php echo $this->__('Address') ?>" name="billing[street][]" id="billing:street2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" />
    
<!--div class="styled-wrap full">
        <div class="field styled-input">
    <input type="text" title="<?php echo $this->__('Address') ?>" name="billing[street][]" id="billing:street2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" />
        
            <label for="billing:street2"><?php echo $this->__('Address') ?> <span class="required">*</span></label>
     <span></span>
        </div>
             </div-->     
    
	
</div>

  	


<div class="row"> 
    
    <div class="styled-wrap left">
        <div class="field styled-input">
            <input type="number" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="validate-zip-international validate-digits required-entry postcode" required />
        
            <label for="billing:postcode"><?php echo $this->__('Zip/Postal Code') ?> <span class="required">*</span></label>
     <span></span>
        </div>
             </div>            

<div class="styled-wrap right">
        <div class="field styled-input">
    <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="required-entry " id="billing:city" required/>
        
            <label for="billing:city"><?php echo $this->__('City') ?> <span class="required">*</span></label>
     <span></span>
        </div>
             </div>  
    
	
<!-- 
	<div class="field region">
		<label for="billing:region"><?php echo $this->__('State/Province ') ?> <span class="required">*</span></label>
		<div class="input-box-132">
			<input type="text" title="<?php echo $this->__('State/Province ') ?>" name="billing[region]" id="billing:region" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>" class="required-entry input-text"/>
		</div>
	</div>
 -->	
</div>
                 
<div class="row last">   

	<div class="styled-wrap left" id="chk-block-country">
        <div class="field styled-input">
            <div class="overf"><?php echo $this->getCountryHtmlSelect('billing', "required") ?>  </div>
        
            <label for="billing:country_id"><?php echo $this->__('Country') ?> <span class="required">*</span></label>
     <span></span>
        </div>
	 </div>            
<?php
$schools = Mage::helper('schoolslist')->readSchoolCheckoutCsv(Mage::app()->getStore()->getCode());
if($schools){
?>  
	<div class="styled-wrap right" id="chk-block-school">
        <div class="field styled-input">
            <div class="overf"><select tabindex="-1" name='school' id='sel-school' class="required-entry" required>
                <option value="">
                    <?php // echo $this->__('No School'); ?>
                </option>
            <?php foreach($schools as $rowl){ ?>
                <option value="<?php echo $rowl[0]; ?>">
                    <?php echo $rowl[3]; ?>
                </option>               
            <?php } ?>
                </select>
                <label for="billing:school"><?php echo $this->__('School') ?> <span class="required">*</span></label>
            </div>
        
     <span></span>
        </div>
	 </div>  
    
</div>
  <input type="checkbox" value="0" id="school_not_on_the_list"/>
        <label style="vertical-align: -18%; font-size:13px; color:#000;" for="school_not_on_the_list"><?php echo $this->__('School not on the list'); ?></label>    



        
        
        <script type='text/javascript'>
            
            jQuery(document).ready(function(){
                
                if(jQuery('.overf select:valid')){
                   
                    jQuery('.overf select:valid').parent('.overf').addClass('valid'); 
                }
                
                
                
                jQuery('#billing\\:country_id').attr('required','required');
                jQuery('.overf').click(function(){
                   jQuery('select:valid').parent().addClass('valid'); 
                   jQuery('select:invalid').parent().removeClass('valid'); 
                });
                
                
                
                
                jQuery('.overf select').click(function(){
                    jQuery(this).parent('.overf').addClass('focus'); 
                    
                });
                
                  jQuery('.overf select').blur(function(){
                    jQuery(this).parent('.overf').removeClass('focus'); 
                    
                });
      
                
                window.loadRealSchoolSessionStartCheckout = function(){                    
                    jQuery.ajax({
                        url: "<?php echo rtrim(Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB),'/').'/'.Mage::app()->getStore()->getCode().'/schoolslist/index/realSchoolSession' ?>",
                        dataType: "json",
                        cache: false,
                        data:{
                            url: document.URL,
                            jsonp: 0
                        },
                        timeout : 10000,
                        success: function(rsp){
                            if(rsp !== null){
                                jQuery('#sel-school').val(rsp['option_id']);
                            }
                        },
                        error:function(){} 
                    });
                };
                window.loadRealSchoolSessionStartCheckout();

                jQuery('#school_not_on_the_list').click(function(){
                    if(jQuery(this).is(':checked')){
                        jQuery('#sel-school').val('<?php echo Mage::getStoreConfig('schoolslist/schoolslist_option/schoolslist_option_selected_no_school'); ?>');
                          jQuery('#sel-school').parent().addClass('valid'); 
                    }
                    else{
                        jQuery('#sel-school').prop('selectedIndex', 0);
                          jQuery('#sel-school').parent().removeClass('valid'); 
                    }
                });
            });
        </script>
    

<?php } ?>
  

<!--div class="row">   
    
           <div class="field firmanavn" <?php //if (!isset($groupId) || $groupId == $private_gid || $groupId != $erhv_gid):?>style="display: none;"<?php //endif;?>>
            <label for="billing:company"><?php //echo $this->__('Company Name') ?> <span class="required">*</span></label>
            <div class="input-box-279">
                <input type="text" class="input-text input-firmanavn required-entry" title="<?php //echo $this->__('Company Name') ?>" value="<?php //echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" name="billing[company]" id="billing:company">
            </div>
        </div>
    
    </div-->
    

        <?php /*if(!$this->isCustomerLoggedIn()):*/ ?>                        

  

    

    <?php /*endif*/ ?>                                            

    <?php if(!$this->isCustomerLoggedIn()): ?>

    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>

    <?php if ($_dob->isEnabled()): ?>            

    <div>                

      <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())                    ->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>            

    </div>

    <?php endif ?>

    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>

    <?php if ($_taxvat->isEnabled()): ?>            

    <div>                

      <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())                    ->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>            

    </div>

    <?php endif ?>            

    <?php endif ?>            






  
     
    <!--div style="clear:left; float:left; width:100%; margin-top:80px;">
        <?php //echo $this->getChildHtml('agreements') ?>
    </div-->
    
   
        

     
               

    </fieldset>
        
    
    <div class="billing-for-display"></div>
    
     <?php //if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                     <div class="no-display"><input type="hidden" name="billing[create_account]" value="0" /></div>
          <?php /*else:?>
      
                               <div class="divopret"> 
                        <input type="checkbox" name="billing[create_account]" value="1" title="<?php echo $this->__('Sign up for later use.') ?>" id="billing:create_account"  class="checkbox"  checked="checked"

       />
      <label for="billing:create_account" ><?php echo $this->__('Sign up for later use.') ?></label>
                   </div>
      
       <?php  endif;*/ ?>
     

<input type="checkbox" style="display: none;" name="billing[save_in_address_book]" value="1" id="billing:save_in_address_book"></input>    
   
    	  
    	      
    
            <?php if ($this->canShip()): ?>            

         
            <div class="divlevering-same">                

              <input class="dnone fleft" type="checkbox" name="billing[use_for_shipping_soh]" id="billing:use_for_shipping_soh" value="false" onclick="toggleElems($('billing:use_for_shipping'), $('checkout-step-shipping'), 1);">                

              <input class="fleft checkbox" type="checkbox" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="1"  onclick="toggleElems($('billing:use_for_shipping'), $('checkout-step-shipping'), 0);" checked="checked">

              <label for="billing:use_for_shipping" ><?php echo $this->__('Same shipping address'); ?></label>   

            </div>

           

                          

              <input type="hidden" name="billing[use_po_box]" id="billing:use_po_box" value="1" onclick="if($('billing:use_for_shipping').checked!=true){ $('billing:use_for_shipping').checked=true; } if($('billing:use_po_box').checked == false && $('billing:use_for_shipping_soh').checked == false){ $('billing:use_for_shipping').checked=false; $('billing:use_for_shipping').value=1; } toggleElems($('billing:use_for_shipping'), $('checkout-step-shipping'), 0);">&nbsp;

           

      <script>                                     

      
                function toggleElems(elem1,elem2,soh) {                       

                    if(elem1.checked){   

                        elem1.value="1";             


                        elem2.style.display="none";
                        
                        jQuery('.billing-actions').show();
                        jQuery('.shipping-actions').hide();
                    } else {                             

                        elem1.value="0";                            


                        elem2.style.display="block";            

                        jQuery('.billing-actions').hide();
                        jQuery('.shipping-actions').show();
                        
                        jQuery('html, body').animate({
                            scrollTop: jQuery('#checkout-step-shipping').offset().top
                        }, 700);

                    }
                        
                    // 1902_JC 2016/01/18
                    checkout.reloadSMBlock($('billing:country_id').value);
                }               

                      </script>            

                 

            <?php else: ?>            

            <p class="no-display">

              <input type="hidden" name="billing[use_for_shipping]" value="1" />

            </p>        

            <?php endif; ?>    
    
    <div class="billing-actions">
        <button type="button" class="continue-btn"><?php echo $this->__('Continue')?></button>
    </div>
      
</form>

     
   


     

<script type="text/javascript"> 


    
 
//<![CDATA[    
var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>', '<?php echo $this->getUrl('checkout/onepage/getDefaultBilling') ?>');    var billingForm = new VarienForm('co-billing-form');    //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);    //var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions);
//]]>

</script>

<?php 
$hide_on_store_codes = array('da','sv','foa');
if(in_array(Mage::app()->getStore()->getCode(),$hide_on_store_codes)){
?>
<script type="text/javascript">
    jQuery(document).ready(function(){
        shipOnDifferentAddressVisibility();
        jQuery('select[name=billing\\[country_id\\]]').on('change',function(){
            shipOnDifferentAddressVisibility();
            checkout.reloadSMBlock($('billing:country_id').value);
        });

    });
    
    function shipOnDifferentAddressVisibility(){
        var hide_on_country_codes = ['dk','se'];
        var country_id = jQuery('select[name=billing\\[country_id\\]]').val().toLowerCase();
        
        if(jQuery.inArray(country_id, hide_on_country_codes) >= 0){
            jQuery('.divlevering-same').css({'display':'none'});
			jQuery('#checkout-step-shipping').css({'display':'none'});
            jQuery('#billing\\:use_for_shipping').prop('checked', true);
        }
        else{
            jQuery('.divlevering-same').css({'display':''});
			jQuery('#checkout-step-shipping').css({'display':'none'});
        }
        
    }
</script>
<?php } ?>

<?php 
if(Mage::app()->getStore()->getCode() == 'foa'){
?>

<!--<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) . 'foaCheck.js' ?>"></script>-->
<script type="text/javascript">

var initiateFOARequest = true;
var customerBday = '';
var customerBmonth = '';
var customerByear = '';
var customerFOA = '';

function initFOAValidation() 
{	
	if (initiateFOARequest) 
	{
		initiateFOARequest = false;
		
		var foaId = jQuery('input[name="review\\[foa_id\\]"]');
		if ('' != foaId.val()) 
		{
			var foaDate = jQuery('#review-customer-dob-day option:selected');
			var foaMonth = jQuery('#review-customer-dob-month option:selected');
			var foaYear = jQuery('#review-customer-dob-year option:selected');
			
			if ('' != foaDate.val() && '' != foaMonth.val() && '' != foaYear.val()) 
			{
				if (customerFOA != foaId.val() || customerBday != foaDate.val() || customerBmonth != foaMonth.val() || customerByear != foaYear.val()) 
				{
					customerFOA = foaId.val();
					customerBday = foaDate.val();
					customerBmonth = foaMonth.val();
					customerByear = foaYear.val();
					
					var dob = customerByear+'-'+customerBmonth+'-'+customerBday;
					
					validateFoa(customerFOA, dob);
				}
				else 
				{
				    initiateFOARequest = true;
				}
			}
			else 
			{
			    initiateFOARequest = true;
			}
		}
		else 
		{
		    initiateFOARequest = true;
		}
	}
	
	
	return false;
}

function validateFoa(foaId, birthdate) 
{
    jQuery.ajax({
		url: "<?php echo $this->getUrl('foavalidation/index/validateFOAItems') ?>",
		data: { foa_id:foaId, dob:birthdate },
		type: "POST",
		success: function(response) 
		{
		    initiateFOARequest = true;
			checkout.reloadReviewBlock();
			var obj = jQuery.parseJSON(response);
			/*
			if (obj.success) 
			{
			    if (0 < obj.invalid_items) 
				{
				    jQuery('#review-buttons-container .btn-checkout').attr('onclick', '');
				    jQuery('#review-buttons-container .btn-checkout').addClass('invalid-foa');
				}
				else 
				{
				    jQuery('#review-buttons-container .btn-checkout').attr('onclick', 'review.save()');
					jQuery('#review-buttons-container .btn-checkout').removeClass('invalid-foa');
				}
			}
			else 
			{
			    jQuery('#review-buttons-container .btn-checkout').attr('onclick', '');
				jQuery('#review-buttons-container .btn-checkout').addClass('invalid-foa');
			}
			*/
		}
	});
}

jQuery('input[name="review\\[foa_id\\]"]').focusout(function() 
{
    initFOAValidation();
});

jQuery('input[name="review-customer-dob-day"]').focusout(function() 
{
    initFOAValidation();
});

jQuery('input[name="review-customer-dob-month"]').focusout(function() 
{
    initFOAValidation();
});

jQuery('input[name="review-customer-dob-year"]').focusout(function() 
{
    initFOAValidation();
});



</script>


<?php }


