<div id="checkout-foa-form-wrapper">
	<form method="post" action="<?php echo $this->getUrl() ?>" class="checkout-foa-form">

	<fieldset class="cboth" >   

		<div class="row">
			<label class="no-display"><?php echo $this->__('FOA Medlemsnummer - uden bindestreg') ?></label>
			<div class="input-box">
				<input type="text" title="<?php echo $this->__('FOA Medlemsnummer - uden bindestreg') ?>" name="review[foa_id]" id="review:foa_id" value="" class="input-text"/>
			</div>
		</div>
		<div class="row row-2">
		<label><?php echo $this->__('Fødselsdagsdato') ?></label>
		</div>
		<div class="row">
			<div class="input-box customer-dob">
			
				<div class="dob-day">
					 <label class="customer-dob-label"><?php echo $this->__('DD') ?></label>
					 <select id="review-customer-dob-day" name="review-customer-dob-day" onchange="updateFoaField('day')">
					 <option value=""><?php echo $this->__('Day') ?></option>
					 <?php for ($i = 1; $i <= 31; $i++) : ?>
					 <?php $i = (10 <= $i) ? $i : '0'.$i; ?>
					 <option value="<?php echo $i ?>"><?php echo $i ?></option>
					 <?php endfor; ?>
					 </select>
				 </div>
			
				<div class="dob-month">
					 <label class="customer-dob-label"><?php echo $this->__('MM') ?></label>
					 <select id="review-customer-dob-month" name="review-customer-dob-month" onchange="updateFoaField('month')">
					 <option value=""><?php echo $this->__('Month') ?></option>
					 <?php for ($i = 1; $i <= 12; $i++) : ?>
					 <?php $i = (10 <= $i) ? $i : '0'.$i; ?>
					 <option value="<?php echo $i ?>"><?php echo $i ?></option>
					 <?php endfor; ?>
					 </select>
				 </div>
			
				<div class="dob-year">
					 <label class="customer-dob-label"><?php echo $this->__('YYYY') ?></label>
					 <select id="review-customer-dob-year" name="review-customer-dob-year" onchange="updateFoaField('year')">
					 <option value=""><?php echo $this->__('Year') ?></option>
					 <?php $lowestYearAllowed = '1945'; ?>
					 <?php for ($i = date('Y'); $i >= $lowestYearAllowed; $i--) : ?>
					 <option value="<?php echo $i ?>"><?php echo $i ?></option>
					 <?php endfor; ?>
					 </select>
				 </div>
				 
			</div>
		</div>
		
		<script type="text/javascript">
			
			function updateFoaField(field)
			{
				var fieldValue = jQuery('#review-customer-dob-'+field).val();
				
				if ('month' == field) 
				{
					var birthdateField = jQuery('#review-customer-dob-day');
					birthdateField.children('option').removeClass('no-display');
					
					var birthdateFieldValue = birthdateField.val();
					var resetDateField = false;
					
					switch (fieldValue) 
					{
						case '02':
						birthdateField.children('option[value="30"]').addClass('no-display');
						birthdateField.children('option[value="31"]').addClass('no-display');
						if ('30' == birthdateField.val() || '31' == birthdateField.val()) { resetDateField = true; } 
						break;
						
						case '04':
						case '06':
						case '09':
						case '11':
						birthdateField.children('option[value="31"]').addClass('no-display');
						if ('31' == birthdateField.val()) { resetDateField = true; } 
						break;
						
						default:
						break;
					}
					
					if (resetDateField) 
					{
						document.getElementById('review-customer-dob-day').selectedIndex = 0;
						jQuery('input[name="billing[day]"]').val('');
					}
				}
				
				jQuery('input[name="billing['+field+']"]').val(fieldValue);
				initFOAValidation();
			}
			
			jQuery(document).ready(function(){
			
				jQuery('input[name="review[foa_id]"]').focusout(function() 
				{
					jQuery('input[name="billing[foa_id]"]').val(jQuery('input[name="review[foa_id]"]').val());
					initFOAValidation();
				});
				
			});
		</script>

	</fieldset>

	</form>
	<div class="checkout-foa-logo">
	    <img alt="<?php echo $this->__('FOA Logo') ?>" title="<?php echo $this->__('FOA Logo') ?>" src="<?php echo $this->getSkinUrl('images/foa-checkout.png') ?>" />
	</div>
</div>
