<form id="co-shipping-form" action="" class="normalversion float">

<?php /* if ($this->customerHasAddresses()): 

   <p><?php echo $this->__('Select a shipping address from your address book or enter a new address.') </p>

   <p><?php echo $this->getAddressesHtmlSelect('shipping') </p>

<?php endif */?>



<fieldset id="shipping-new-address-form" class="cboth">

        <input type="hidden" class="newAddressElement" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
        <input class="hiddenctype" type="hidden" id="shipping:pakkeshop" name="shipping[pakkeshop]" value="0" />
        <input class="hiddenctype" type="hidden" id="shipping:pakkeshopstreet" name="shipping[pakkeshopstreet]" value="0" />

    <div class="row">
            
        <div class="customer-name">
            <div class="customer-name"> 

                <div class="styled-wrap left">
                    <div class="field name-firstname styled-input">
        <?php $navn = Mage::getBlockSingleton('customer/widget_name')->setObject($this->getAddress())->getObject(); ?>
                        <input title="<?php echo $this->__('First Name') ?>" type="text" name="shipping[firstname]" id="shipping:firstname" value="" class="required-entry" required/>
                        <label for="shipping:firstname"><?php echo $this->__('First Name') ?><em>*</em></label>
                        <span></span>
		</div>
    </div>
   
                <div class="styled-wrap right">
                    <div class="field name-lastname styled-input">
                        <input title="<?php echo $this->__('Last Name') ?>" type="text" name="shipping[lastname]" id="shipping:lastname" value="" class="irequired-entry" required/>
                        <label for="lastname"><?php echo $this->__('Last Name') ?><em>*</em></label>
                        <span></span>
	    </div>
   </div>
            
  </div> 
        </div>   
  
    </div> 
 

    <div class="row street">
        <div class="styled-wrap full">
            <div class="field styled-input">
                <input type="tel" name="shipping[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="required-entry input-text validate-digits" id="shipping:telephone" maxlength="1024" required/>
                <label for="shipping:telephone"><?php echo $this->__('Telephone') ?><span class="required">*</span></label>
                <span></span>
		</div>
    </div>
    </div>
        
       
  <div class="row street">
      
    <div class="styled-wrap full">
        <div class="field styled-input">
            <input type="text" title="<?php echo $this->__('Address') ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="required-entry input-text shipping-input" required/>
            <label for="shipping:street1"><?php echo $this->__('Address') ?><span class="required">*</span></label>
            <span></span>
      </div>
    </div>
      
    <div class="input-box-279" style="display:none;">
		<input type="text" title="<?php echo $this->__('Address') ?>" name="shipping[street][]" id="shipping:street2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" class="input-text shipping-input row2" />
      </div>

  </div>
        
 <div class="row">

     <div class="styled-wrap left">
     
        <div class="field shipping-city-div styled-input">
            <input type="number" title="<?php echo $this->__('Zip/Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="validate-zip-international validate-digits required-entry input-text shipping-postcode newAddressElement" required/>
	    <label for="shipping:postcode"><?php echo $this->__('Zip/Postal Code') ?> <span class="required">*</span></label>
            <span></span>
	    </div>
         
	  </div>
                                          
     <div class="styled-wrap right">
     
        <div class="field shipping-postcode-div styled-input">
            <input type="text" title="<?php echo $this->__('City') ?>" name="shipping[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="required-entry input-text newAddressElement" id="shipping:city" required/>
            <label for="shipping:city"><?php echo $this->__('City') ?> <span class="required">*</span></label>
            <span></span>
            </div>	
         
	 </div>    
</div>
          
  <div class="row last" id="chk-block-country2">
      
    <div class="styled-wrap full">
        <div class="field styled-input">
            <div class="overf">
    	<?php echo $this->getCountryHtmlSelect('shipping',"style=''") ?>
    </div>	
            <label for="shipping:country_id"><?php echo $this->__('Country') ?> <span class="required">*</span></label>
            <span></span>
  </div>
    </div>
    
  </div>

   <div style="display:none;" class="input-boxes fleft dnone">      

        <label for="shipping:comment">
        <strong><span style="padding:0 0 10px 0; display:block;"><?php echo $this->__('Add comments to your order') ?></span></strong>
      </label> 
      <textarea rows="5" cols="60" name="shipping[comment]" value="" class="input-textarea shipping-input" id="shipping:comment"></textarea>

    </div>
   
    <script>
        Event.observe('shipping:country_id','change',function(event){
            if(!$('billing:use_for_shipping').checked){
                checkout.reloadSMBlock($('shipping:country_id').value);
            }
        });
    </script>



   

<?php if(!$this->isCustomerLoggedIn()): ?>

<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>

<?php if ($_dob->isEnabled()): ?>

            <div>

                <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())

                    ->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?>

            </div>

<?php endif ?>



<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>

<?php if ($_taxvat->isEnabled()): ?>

            <div>

                <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())

                    ->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?>

            </div>

<?php endif ?>



            <?php endif ?>

            <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>

                <div class="row checkbox"><input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" onchange="shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> /> <label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></div>

            <?php else:?>

                <div class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></div>

            <?php endif;?>

</fieldset>
<div class="shipping-for-display"></div>
<fieldset id="shipping-new-po-box-form" class="dnone">

        <div>&nbsp;</div>

        <input type="hidden" class="poBoxElement" name="shippingpo[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shippingpo:address_id" />

            <div><?php //echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?></div>

            <div class="input-boxes fleft">

                <?php $navn = Mage::getBlockSingleton('customer/widget_name')->setObject($this->getAddress())->getObject(); ?>

                <label for="name"><?php echo $this->__('Navn') ?> <span class="required shipping-star">*</span></label><br />

                <input type="text" name="shippingpo[name]" id="shippingpo:name" value="" class="input-text shipping-input poBoxElement" />

            </div>

 

          
            <div>

                <div class="cboth">&nbsp;</div>

                <div class="input-box">

                    <label for="shipping:country_id"><?php echo $this->__('Land') ?> <span class="required">*</span></label><br />

                    <?php echo $this->getCountryHtmlSelect('shipping',"style='width:287px; height:21px;'") ?>

                </div>

                <script>

                    Event.observe('shipping:country_id','change',function(event){

                        if($('billing:use_for_shipping').checked){

                            checkout.reloadSMBlock($('shipping:country_id').value);
                            //shippingMethod.save();

                        }

                    });

                </script>

            </div>

            <div class="cboth">&nbsp;</div>

          

            <div>&nbsp;</div>

            <div style="clear:both; display:none;">

                <div class="input-box">

                   <label for="shipping:fax"><?php echo $this->__('Fax') ?></label><br/>

                   <input type="text" name="shippingpo[fax]" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text poBoxElement" id="shippingpo:fax" style="height:21px; width:282px;" />

                </div>

            </div>

            <?php if(!$this->isCustomerLoggedIn()): ?>



<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>

<?php if ($_dob->isEnabled()): ?>

            <div>

                <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())

                    ->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?>

            </div>

<?php endif ?>



<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>

<?php if ($_taxvat->isEnabled()): ?>

            <div>

                <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())

                    ->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?>

            </div>

<?php endif ?>



            <?php endif ?>

            <?php if (false)://$this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>

                <div><input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" onchange="shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> /> <label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></div>

            <?php else:?>

                <div class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></div>

            <?php endif;?>

</fieldset>
<br />


</form>

<script type="text/javascript">

//<![CDATA[

    var shipping = new Shipping('co-shipping-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveShipping') ?>',

        '<?php echo $this->getUrl('checkout/onepage/shippingMethod') ?>');

    var shippingForm = new VarienForm('co-shipping-form');

    //shippingForm.extraChildParams = ' onchange="shipping.setSameAsBilling(false);"';

    //shippingForm.setElementsRelation('shipping:country_id', 'shipping:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');

    $('shipping-address-select') && shipping.newAddress(!$('shipping-address-select').value);



    //var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions);

//]]>

</script>

