<header id="header">
<?php if($this->getChildHtml('header_block')): ?>
    <div class="header-block-wrapper <?php echo $bgPatern ?> <?php echo $paternurl; ?>">
        <div class="container_12">
            <div class="grid_12">
                <div class="checkpoint-wrapper">
                    <div class="checkpoint-2-button" id="checkpoint-2"></div>
                </div>
                <?php echo $this->getChildHtml('header_block'); ?>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <?php endif; ?>
    <?php if($this->getChildHtml('grid_2')): ?>
    <div class="grid-2-wrapper">
        <div class="container_12">
            <div class="grid_12">
                <?php echo $this->getChildHtml('grid_2'); ?>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <?php endif; ?>
</header>