<div id="header" class="header">
    <div class="container_12">
	
	    <div class="header-leaves"></div>
		
		<a href="<?php echo $this->getBaseUrl() ?>" class="header-logo">
		<h1><img src="<?php echo $this->getSkinUrl('images/landing/logo.png') ?>" /></h1>
		</a>
		
		<a href="#" class="country-toggle">
		<span><?php echo $this->__('change country') ?></span>
		</a>
		
		<div class="header-text header-submain-text">
		<span><?php echo $this->__('studentmössor & klädkolektion') ?></span>
		</div>
		
		<div class="header-text header-main-text">
		<span><?php echo $this->__('student') ?></span>
		</div>
		
		<div class="header-text header-sommar-text">
		<span><?php echo $this->__('sommar 2014') ?></span>
		</div>
		
		<div class="header-text webshop-button">
		<span><a href="#" class=""><?php echo $this->__('ga till webshop') ?></a></span>
		</div>
		
		<div class="header-text video-button">
		    <div class="video-button-img"></div>
		    <a href="#" class=""><?php echo $this->__('video') ?></a>
		</div>
		
		<div class="header-text payment-cards"></div>
		
		<div class="header-text down-button">
		    <span><a href="#" class="down-button-img"></a></span>
		</div>
		
	</div>
<!--<img src="<?php echo $this->getSkinUrl('images/landing/bg.jpg') ?>" />-->
</div>