<?php
$categoryCustom =  $this->getCategoryCustom();
//$_productCollection=$this->getLoadedProductCollection();
//Zend_Debug::dump($categoryCustom);

$productCollection = array();

foreach($categoryCustom as $key => $val){
	$thisProd = array();
	$thisProd['packtext'] = $val['packtext'];
	$thisProd['packsave'] = $val['packsave'];
	$thisProd['captext'] = $val['captext'];
	if(strpos($key,'full')!== false){ //full mode
		$thisProd['mode'] = 'full';
	}
	else if(strpos($key,'half')!== false){
		$thisProd['mode'] = 'half';
	}
	
	if(isset($val['pack'])){
		$thisProd['pack'] = Mage::getModel('catalog/product')->load($val['pack']);
	}
	
	if(isset($val['cap'])){
		$thisProd['cap'] = Mage::getModel('catalog/product')->load($val['cap']);
	}
	
	$productCollection[] = $thisProd;
}


//Zend_Debug::dump($productCollection);
?>
<link href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/css/responsivecategory.css'; ?>" type="text/css" rel="stylesheet" />
<style type="text/css">
	
    .rsp-category-div-full .rsp-category-div-inner .right-wing .cap-info-area:hover{
        background:#FAFAF8 url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/arrow-fit.png'; ?>) top left no-repeat;
        background-size:40px 100%;
        font-family:raleway;
    }
    
        
    .rsp-category-div-full .rsp-category-div-inner .right-wing .package-info-area:hover{
        background:#FAFAF8 url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/arrow-fit.png'; ?>) top left no-repeat;
        background-size:40px 100%;
        font-family:raleway;
    
    }
	
</style>

<?php /* if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: */ ?>

<?php 
$isLeft = true;
foreach($productCollection as $prod){
	$thisProd = $prod;
	if($prod['mode'] === 'full'){
                if(isset($thisProd['pack'])){
                    $prodpack = $thisProd['pack'];
                }
                if(isset($thisProd['cap'])){
                    $prodcap = $thisProd['cap'];
                }
		
		?>
		
<div class="rsp-category-div-full">
	<div class="rsp-category-div-inner">
		<div class="left-wing">
                    <div class="left-wing-product-image">
                            <?php if(isset($thisProd['pack'])){ ?>
                                <img class="product-image" src="<?php echo $this->helper('catalog/image')->init($prodpack, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>">
                            <?php }elseif(isset($thisProd['cap'])){ ?>
                                <img class="product-image" src="<?php echo $this->helper('catalog/image')->init($prodcap, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>">
                            <?php } ?>
                    </div>
                    <div class="left-wing-product-image-packcap-buttons">
                            <?php if(isset($thisProd['pack']) && isset($thisProd['cap'])){ ?>
                                <ul>
                                    <li><img class="haticobtn" data-store-image="<?php echo $this->helper('catalog/image')->init($prodcap, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/hat_ico.png'; ?>" ></li>
                                    <li><img class="packicobtn" data-store-image="<?php echo $this->helper('catalog/image')->init($prodpack, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/box_ico.png'; ?>" ></li>
                                </ul>
                            <?php } ?>
                    </div>
		</div>
		
		<div class="right-wing">
                        <?php if(isset($thisProd['pack'])){ ?>
                            <a href="<?php echo Mage::getBaseUrl().$prodpack->getUrlPath(); ?>">
                                <h2>   
                                    <?php echo $prodpack->getName(); ?>   
                                </h2>
                            </a>
                        <?php }elseif(isset($thisProd['cap'])){ ?>
                            <a href="<?php echo Mage::getBaseUrl().$prodcap->getUrlPath(); ?>">
                                <h2>
                                    <?php echo $prodcap->getName(); ?>
                                </h2>
                            </a>
                        <?php } ?>
			
                        <?php if(isset($thisProd['pack'])){ ?>
                        	<a href = "<?php echo Mage::getBaseUrl().$prodpack->getUrlPath(); ?>">
                            <div class="package-info-area" data-store-image="<?php echo $this->helper('catalog/image')->init($prodpack, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>">
                                    <h3><?php echo $this->__('Package'); ?>&nbsp;&nbsp;&nbsp;<strong><?php echo Mage::helper('core')->currency($prodpack->getFinalPrice(),true,false); ?></strong></h3>
                                    <h4><?php echo $prod['packsave']; ?></h4>
                                    <h5><?php echo $prod['packtext']; ?></h5>
                                            <div class="package-buy-button packagecap-buy-button">
                                                    <?php echo $this->__('Buy Package'); ?>
                                            </div>
                            </div>
                            </a>
                        <?php } ?>
			
                        <?php if(isset($thisProd['cap'])){ ?>
                            <a href = "<?php echo Mage::getBaseUrl().$prodcap->getUrlPath(); ?>">
                            <div class="cap-info-area" data-store-image="<?php echo $this->helper('catalog/image')->init($prodcap, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>">
                                    <h3><?php echo $this->__('Cap'); ?>&nbsp;&nbsp;&nbsp;<strong><?php echo Mage::helper('core')->currency($prodcap->getFinalPrice(),true,false); ?></strong></h3>
                                    <h5><?php echo $prod['captext']; ?></h5>
                                            <div class="cap-buy-button packagecap-buy-button_cap">
                                                    <?php echo $this->__('Buy Cap'); ?>
                                            </div>
                            </div>
                            </a>
                        <?php } ?>
			
		</div>
		
	</div>
</div>
		
		<?php
	}
	elseif($prod['mode'] === 'half'){
		if($isLeft){
                    if(isset($thisProd['pack'])){
                        $prodpack = $thisProd['pack'];
                    }
                    if(isset($thisProd['cap'])){
                        $prodcap = $thisProd['cap'];
                    }
                    ?>
<div class="rsp-category-div-halfleft">
	<div class="rsp-category-div-inner">
		<div class="left-product-image">
			<?php if(isset($thisProd['pack'])){ ?>
                            <img class="product-image" src="<?php echo $this->helper('catalog/image')->init($prodpack, 'small_image')->keepFrame(false)->constrainOnly(true)->resize(235,260) ?>">
                        <?php }elseif(isset($thisProd['cap'])){ ?>
                            <img class="product-image" src="<?php echo $this->helper('catalog/image')->init($prodcap, 'small_image')->keepFrame(false)->constrainOnly(true)->resize(235,260) ?>">
                        <?php } ?>
		</div>
		
		<div class="left-wing-product-image-packcap-buttons">
                        <?php if(isset($thisProd['pack']) && isset($thisProd['cap'])){ ?>
			<ul>
				<li><img class="haticobtn2" data-store-image="<?php echo $this->helper('catalog/image')->init($prodcap, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/hat_ico.png'; ?>" ></li>
				<li><img class="packicobtn2" data-store-image="<?php echo $this->helper('catalog/image')->init($prodpack, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/box_ico.png'; ?>" ></li>
			</ul>
                        <?php } ?>
		</div>
                
                <?php if(isset($thisProd['pack'])){ ?>
                <a href="<?php echo Mage::getBaseUrl().$prodpack->getUrlPath(); ?>">
			<h2><?php echo $prodpack->getName(); ?></h2>
		</a>  
		<?php }elseif(isset($thisProd['cap'])){ ?>
		<a href="<?php echo Mage::getBaseUrl().$prodcap->getUrlPath(); ?>">
			<h2><?php echo $prodcap->getName(); ?></h2>
		</a>
                <?php } ?>
		
                <?php if(isset($thisProd['pack'])){ ?>
		<!-- Package -->
		<h3>
			<?php echo $this->__('Package'); ?>&nbsp;&nbsp;&nbsp;<strong><?php echo Mage::helper('core')->currency($prodpack->getFinalPrice(),true,false); ?></strong> 
		</h3>
		<h4>
			<?php echo $prod['packsave']; ?>
		</h4>
		<h5>
			<?php echo $prod['packtext']; ?>
		</h5>
		<a href = "<?php echo Mage::getBaseUrl().$prodpack->getUrlPath(); ?>">
			<div class="package-buy-button packagecap-buy-button2">
				<?php echo $this->__('Buy Package'); ?>
			</div>
		</a>
		<?php } ?>
                
                <?php if(isset($thisProd['pack']) && isset($thisProd['cap'])){ ?>
		<br/>
		<?php } ?>
                
                <?php if(isset($thisProd['cap'])){ ?>
		<h3>
			<?php echo $this->__('Cap'); ?>&nbsp;&nbsp;&nbsp;<strong><?php echo Mage::helper('core')->currency($prodcap->getFinalPrice(),true,false); ?></strong> 
		</h3>
		<h5>
			<?php echo $prod['captext']; ?>
		</h5>
		<a href = "<?php echo Mage::getBaseUrl().$prodcap->getUrlPath(); ?>">
			<div class="package-buy-button packagecap-buy-button2_cap">
				<?php echo $this->__('Buy Cap'); ?>
			</div>
		</a>
                <?php } ?>
	</div>
</div>
			<?php
			
			$isLeft = false;
		}
		else{
                    if(isset($thisProd['pack'])){
                        $prodpack = $thisProd['pack'];
                    }
                    if(isset($thisProd['cap'])){
                        $prodcap = $thisProd['cap'];
                    }
			?>
			

<div class="rsp-category-div-halfright">
	
	<div class="rsp-category-div-inner">
		<div class="right-product-image">
                        <?php if(isset($thisProd['pack'])){ ?>
                            <img class="product-image" src="<?php echo $this->helper('catalog/image')->init($prodpack, 'small_image')->keepFrame(false)->constrainOnly(true)->resize(235,260) ?>">
                        <?php }elseif(isset($thisProd['cap'])){ ?>
                            <img class="product-image" src="<?php echo $this->helper('catalog/image')->init($prodcap, 'small_image')->keepFrame(false)->constrainOnly(true)->resize(235,260) ?>">
                        <?php } ?>
		</div>
		
		<div class="left-wing-product-image-packcap-buttons">
                        <?php if(isset($thisProd['pack']) && isset($thisProd['cap'])){ ?>
			<ul>
				<li><img class="haticobtn2" data-store-image="<?php echo $this->helper('catalog/image')->init($prodcap, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/hat_ico.png'; ?>" ></li>
				<li><img class="packicobtn2" data-store-image="<?php echo $this->helper('catalog/image')->init($prodpack, 'image')->keepFrame(false)->constrainOnly(true)->resize(402,450) ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/base/default/images/box_ico.png'; ?>" ></li>
			</ul>
                        <?php } ?>
		</div>
		
		<?php if(isset($thisProd['pack'])){ ?>
                <a href="<?php echo Mage::getBaseUrl().$prodpack->getUrlPath(); ?>">
			<h2><?php echo $prodpack->getName(); ?></h2>
		</a>  
		<?php }elseif(isset($thisProd['cap'])){ ?>
		<a href="<?php echo Mage::getBaseUrl().$prodcap->getUrlPath(); ?>">
			<h2><?php echo $prodcap->getName(); ?></h2>
		</a>
                <?php } ?>
            
		<?php if(isset($thisProd['pack'])){ ?>
		<!-- Package -->
		<h3>
			<?php echo $this->__('Package'); ?>&nbsp;&nbsp;&nbsp;<strong><?php echo Mage::helper('core')->currency($prodpack->getFinalPrice(),true,false); ?></strong> 
		</h3>
		<h4>
			<?php echo $prod['packsave']; ?>
		</h4>
		<h5>
			<?php echo $prod['packtext']; ?>
		</h5>
		
		<a href = "<?php echo Mage::getBaseUrl().$prodpack->getUrlPath(); ?>">
			<div class="package-buy-button packagecap-buy-button2">
				<?php echo $this->__('Buy Package'); ?>
			</div>
		</a>
                <?php } ?>
                
                <?php if(isset($thisProd['pack']) && isset($thisProd['cap'])){ ?>
		<br/>
		<?php } ?>
                
                <?php if(isset($thisProd['cap'])){ ?>
		<h3>
			<?php echo $this->__('Cap'); ?>&nbsp;&nbsp;&nbsp;<strong><?php echo Mage::helper('core')->currency($prodcap->getFinalPrice(),true,false); ?></strong> 
		</h3>
		<h5>
			<?php echo $prod['captext']; ?>
		</h5>
		<a href = "<?php echo Mage::getBaseUrl().$prodcap->getUrlPath(); ?>">
			<div class="package-buy-button packagecap-buy-button2_cap">
				<?php echo $this->__('Buy Cap'); ?>
			</div>
		</a>
                <?php } ?>
		
	</div>
	
</div>
			<?php
			
			$isLeft = true;
			
		}
	}
}
?>


<?php /*endif;*/ ?>

<script type="text/javascript">
	jQuery(document).ready(function(){
		/*
		jQuery('.haticobtn').mouseover(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().next().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.packicobtn').mouseover(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});
		*/
		
		jQuery('.haticobtn').click(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().next().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.packicobtn').click(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		/*
		jQuery('.haticobtn2').mouseover(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().next().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.packicobtn2').mouseover(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});
		*/

		jQuery('.haticobtn2').click(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().next().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.packicobtn2').click(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().parent().parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('img').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.package-info-area').mouseover(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.parent().prev().find('.packicobtn').css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('.haticobtn').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.cap-info-area').mouseover(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.parent().prev().find('.haticobtn').css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('.packicobtn').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.package-info-area').click(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.parent().prev().find('.packicobtn').css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('.haticobtn').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.cap-info-area').click(function(){
			var thisElem = jQuery(this);
			//alert main image
			thisElem.parent().prev().find('.product-image').attr('src',thisElem.attr('data-store-image'));
			thisElem.parent().prev().find('.haticobtn').css({'opacity':'1','filter': 'alpha(opacity=100)'});
			thisElem.parent().prev().find('.packicobtn').css({'opacity':'0.4','filter': 'alpha(opacity=40)'});
		});

		jQuery('.packagecap-buy-button2').mouseover(function(){ 
			jQuery(this).parent().parent().find('.packicobtn2').trigger('click');
		});

		jQuery('.packagecap-buy-button2_cap').mouseover(function(){
			jQuery(this).parent().parent().find('.haticobtn2').trigger('click');
		});

	});
</script>



