<?php $product = Mage::registry('current_product') ?>
<div class="product-3d-button-wrapper">
    <!--<a href="#3d" alt="<?php echo $this->__('Real 3D view') ?>" onclick="toggle3DView(<?php echo $product->getId() ?>)"><?php echo $this->__('Real 3D view') ?></a>-->
	<div class="product-3d-name-wrapper">
	    <div class="product-3d-button-details">
		    <span><?php echo $product->getName() ?></span>
			<?php echo $this->getPriceHtml($product, true) ?>
		</div>
	</div>
</div>