<div id="unitywrapper-window" class="unitywrapper-window" style="position: relative;
left: 0px;
display: block !important;
width: 100%;"></div>

<script src="<?php echo $this->getSkinUrl('js/unity3dhatfunctions.js') ?>" type="text/javascript"></script>
<script type="text/javascript">

var unityWindowOpened = false;

var customOptionHolder = new Array();
var customOptionHolderCtr = 0;

function init3dView(productId) 
{
    show3dContainer();
    load3dView(productId);
	
}

function load3dView(productId) 
{
    //unityWindowOpened = false;
	if (unityWindowOpened) 
	{
	    show3dContainer();
	}
	else 
	{
	    unityWindowOpened = true;
		
		new Ajax.Updater('unitywrapper-window', '<?php echo $this->getUrl('unitywrapper/index/index'); ?>?id='+productId, {
			method: 'get',
			//parameters: {product_id:product_id, item_id:item_id, qty:qty, value:value},
			onLoading: function() {	  
				//showLoading();
			},
			async: true,
			evalScripts: true,
			onComplete: function() {
				jQuery('.unity-product-option-wrapper').attr('style', 'display:none!important;');
				jQuery('#unity-menu').attr('style', 'display:none;margin: 0px auto;');
				jQuery('#unitywrapper-window .content').attr('style', 'float: none;margin: 0px auto;');
				jQuery('.unity-camera-form-wrapper').attr('style', 'display: block; float: none; margin: 10px auto;');
				jQuery(".product-option-wrapper-3d .product-custom-option").each(function( index, element ) {
					/*
					var oldCustomOptionInputId = jQuery(this).attr('id');
					var newCustomOptionInputId = jQuery(this).attr('id') + '_3d';
					jQuery(this).attr('id', newCustomOptionInputId);
					//jQuery('#'+newCustomOptionInputId).attr('onchange', jQuery('#'+oldCustomOptionInputId).attr('onchange'));
					
					jQuery(this).siblings('span').children('label').attr('for', newCustomOptionInputId);
					
					if (jQuery(this).is('select')) 
					{
						jQuery('#'+newCustomOptionInputId+" option").removeAttr("selected"); //deselect all options
						jQuery('#'+newCustomOptionInputId+" option[value='"+jQuery('#'+oldCustomOptionInputId).find(":selected").val()+"']").attr("selected","selected");
					}
					else if ('radio' == jQuery(this).attr('type')) 
					{
						if (jQuery('#'+oldCustomOptionInputId).is(':checked')) 
						{
						    jQuery('#'+newCustomOptionInputId).attr('checked','checked');
						}
					}
					else 
					{
					    jQuery(this).val(jQuery('#'+oldCustomOptionInputId).val());
					}
					
					jQuery(this).change(function() 
					{
						if (jQuery(this).is('select')) 
						{
							jQuery('#'+oldCustomOptionInputId+" option").removeAttr("selected"); //deselect all options
							jQuery('#'+oldCustomOptionInputId+" option[value='"+jQuery(this).find(":selected").val()+"']").attr("selected","selected").change();
						}
						else 
						{
						    jQuery('#'+oldCustomOptionInputId).attr('checked','checked').change();
						}
						
					});
					*/
				});
				
				customOptionHolder = new Array();
				customOptionHolderCtr = 0;
				//initCustomOption3dCalls();
				
				if (typeof unityObject != "undefined")
				{
					unityObject.embedUnity("unityPlayer", "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'unity/WebPlayer.unity3d' ?>", 600, 450);
					//unityObject.embedUnity("unityPlayer", "/skin/frontend/meigeetheme/default/js/clausconrad_tests/WebPlayer.unity3d", 600, 450);
					
					
				}
				
			}
		});
	}
	
}

function show3dContainer() 
{
    jQuery('#unitywrapper-overlay').height(jQuery(document).height());
	jQuery('#unitywrapper-overlay').show();
    jQuery('#unitywrapper-window').show();
}

function hide3dView() 
{
	jQuery('#unitywrapper-overlay').hide();
    jQuery('#unitywrapper-window').hide();
}

function add3dCall(el, target) 
{
	if (jQuery(el).is(':radio')) 
	{
		if(typeof target != 'undefined')
		{
		    var textureUrl = jQuery(el).siblings('span').children('label').children('img').attr('src');
			textureUrl = textureUrl.replace("/K", "/");
			loadTexture(textureUrl, target);
		}
    }
}


function initializeHat() 
{
	showDebugPanel(false);
	//document.getElementById("controlsFrame").src = "SceneControls.html";

	setSceneCurtain(true);
	setSimpleQualityLevel();
	sendUnityMessage("<msg type='LoadAsset' cleanCache='true' url='/files/unity/1.1.4/Assets/dk.unity3d' asset='dk' />");
	showModel('0');
	//initializeHatOptions();
	jQuery('.hat-3d-view-close').attr('style', 'display:none !important;');
		
	setCameraRotationEnabled(true);
	setCameraZoomEnabled(true);


	setCameraZoom(22);
	setCameraRotation(160, 0);
	
	setSceneCurtain(false);
	setQueueEnabled(false);
	startQueue();
	jQuery('#unitywrapper-window').removeClass('loading');
	jQuery('.unity-product-option-wrapper .custom-option-nav-btn').removeClass('no-display');
	//jQuery('.unity-camera-form-wrapper').fadeIn();
}

function initializeHatOptions() 
{
	jQuery(".product-option-wrapper-3d .product-custom-option").each(function( index, element ) {
		
		if (jQuery(this).is('select')) 
		{
			if (0 < jQuery(this).children('option').length) 
			{
				jQuery(this).change();
			}
		}
		else if ('radio' == jQuery(this).attr('type')) 
		{
			if (jQuery(this).is(':checked')) { jQuery(this).change(); }
		}
		else 
		{
		jQuery(this).val(jQuery(this).val()).change();
		}
	});
}

function setCategoryCameraView(zoom, x, y) 
{
    setCameraZoom(zoom);
	setCameraRotation(x, y);
}

function initCustomOption3dCalls() 
{
    jQuery(".product-option-wrapper-3d .product-custom-option").each(function( index, element ) {
		
		customOptionHolder[customOptionHolderCtr++] = jQuery(this).attr('name');
	});
	
	var customOptionParam = customOptionHolder.join(':');
	
	jQuery.ajax({
		url: "<?php echo $this->getUrl('unitywrapper/index/initCustomOption3dCalls') ?>",
		data: {'option' : customOptionParam},
		type: "post",
		success: function(response) 
		{	
			var resp = jQuery.parseJSON(response);			
			
			if (0 < resp.options.length) 
			{
				resp.options.forEach(function(customOptionEntry) {
					
					if (jQuery("input[name='options["+customOptionEntry.product_custom_option_id+"]']").length) 
					{
					    customOptionElement = jQuery(".product-option-wrapper-3d input[name='options["+customOptionEntry.product_custom_option_id+"]']");
					}
					else
					{
					    customOptionElement = jQuery(".product-option-wrapper-3d select[name='options["+customOptionEntry.product_custom_option_id+"]']");
					}
					customOptionElement = jQuery(".unity-product-option-wrapper [name='options["+customOptionEntry.product_custom_option_id+"]']");
					customOptionElement.change(function() { eval(customOptionEntry.function_to_call); });
					//jQuery(".product-option-wrapper-3d [name='options["+customOptionEntry.product_custom_option_id+"]']:checked").change();
					bindDependentOptionsUpdate(customOptionEntry.dependent_options);
				});
			}
		}
	});
}

function bindDependentOptionsUpdate(dependentOptionsString) 
{
    if ('' != dependentOptionsString) 
	{
		var dependentOptionsArray = Array();
		dependentOptionsArray = dependentOptionsString.split(':');
		
		if (0 < dependentOptionsArray.length) 
		{
			dependentOptionsArray.forEach(function(dependentOptionId) {
				if ('' != dependentOptionId) 
				{
					customOptionElement.change(function() 
					{
						jQuery('.unity-product-option-wrapper [name="options['+dependentOptionId+']"]:checked').change();
					});
				}
			});
		}
	}
}




function customOptionCategoryMenuFunction(seletedCategory) 
{
  if ('' != seletedCategory && 0 < seletedCategory) 
  {
	  
	  jQuery('#unity-menu .custom-option-category-menu').removeClass('current');
	  jQuery('#unity-menu #custom-option-category-menu-'+seletedCategory).addClass('current');
	  
	  jQuery('.unity-product-option-wrapper .custom-option-category').hide();
	  jQuery('.unity-product-option-wrapper #custom-option-category-'+seletedCategory).fadeIn();
	  
	  
  }
  return false;
}


function toggleOptionCategory(seletedCategory, currentCategory) 
{
  if ('' != seletedCategory && 0 < seletedCategory) 
  {
	  var OptionCategoryIsValid = true;
	  jQuery('.unity-product-option-wrapper #custom-option-category-'+currentCategory+' .product-custom-option').each(function( index, element ) {
		  if (!Validation.validate(document.getElementById(jQuery(this).attr('id')))) 
		  {
		      OptionCategoryIsValid = false;
			  jQuery(this).addClass('validation-failed');
		  }
	  });
	  
	  if (OptionCategoryIsValid) 
	  {
		  jQuery('#unity-menu .custom-option-category-menu').removeClass('current');
		  jQuery('#unity-menu .custom-option-category-menu').removeClass('before-current');
		  jQuery('#unity-menu #custom-option-category-menu-'+currentCategory).addClass('passed-category');
		  jQuery('#unity-menu #custom-option-category-menu-'+currentCategory).addClass('before-current');
		  jQuery('#unity-menu #custom-option-category-menu-'+currentCategory).attr('onclick', "customOptionCategoryMenuFunction("+currentCategory+");");
		  jQuery('#unity-menu #custom-option-category-menu-'+seletedCategory).addClass('current');
		  
		  jQuery('.unity-product-option-wrapper .custom-option-category').hide();
		  jQuery('.unity-product-option-wrapper #custom-option-category-'+seletedCategory).fadeIn('fast');
	  }
	  
	  
  }
  return false;
}

function submit3dWindow(currentCategory) 
{
  if ('' != currentCategory && 0 < currentCategory) 
  {
	  var submitOptionCategoryIsValid = true;
	  jQuery('.unity-product-option-wrapper #custom-option-category-'+currentCategory+' .product-custom-option').each(function( index, element ) {
		  if (!Validation.validate(document.getElementById(jQuery(this).attr('id')))) 
		  {
		      submitOptionCategoryIsValid = false;
			  jQuery(this).addClass('validation-failed');
		  }
	  });
	  
	  if (submitOptionCategoryIsValid) 
	  {
		  jQuery('button.btn-cart').click();
	  }
	  
	  
  }
  return false;
}



function initCameraRotation()
{
	var x = document.getElementById("rotX").value;
	var y = document.getElementById("rotY").value;
	setCameraRotation(x, y);
}

function initCameraZoom()
{
	var z = document.getElementById("zoom").value;
	setCameraZoom(z);
}

jQuery(document).ready(function() {
    
	jQuery('.content-wrapper .container_12 .grid_3').attr('style', 'display:none !important;');
	jQuery('.content-wrapper .container_12 .grid_9').attr('style', 'width:100%;');
	
	//jQuery('#unitywrapper-window').attr('style', 'width:100%; left:0px;');
	init3dView(1);
	jQuery('#unitywrapper-overlay').click(function() 
	{
	    hide3dView();
	});
	
});
</script>