<?php $product = Mage::registry('product') ?>
<?php $hat_model = $product->getAttributeText('hat_model') ?>
<?php $hatTextColors = Mage::helper('hatviewoptions')->get2dTextColorArray(); ?>
<div id="unitywrapper-overlay" class="unitywrapper-overlay"></div>
<div id="unitywrapper-window" class="unitywrapper-window"></div>

<script src="<?php echo $this->getSkinUrl('js/unity3dhatfunctions.js') ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('js/hatInitialsFunctions.js') ?>" type="text/javascript"></script>
<script type="text/javascript">

var unityWindowOpened = false;

var productCustomOptions = new Array();
var customOptionHolder3d = new Array();
var productCustomOptionsCtr = 0;
var customOptionHolder3dCtr = 0;
var broderiColor = '#000000';

function toggle3DView(productId) 
{
	/*
	jQuery('aside.sidebar').fadeOut('fast', function() 
	{
	
	});
    jQuery('.product-view').fadeOut('fast', function() 
	{
		show3dContainer();
		load3dView(productId);
	});
	*/
	
	/*

    
    jQuery('.main-container').addClass('hat-3d-view',function() 
	{
		show3dContainer();
		load3dView(productId);
	});
	*/
	if (jQuery('.hat-wrapper img#image').is(':visible')) 
	{
		jQuery('.hat-wrapper img#image').fadeOut('fast',function() 
		{
			jQuery('.product-3d-button-wrapper a').text('<?php echo $this->__('Hide 3D view') ?>');
			jQuery('.hat-wrapper .hat-view-wrapper').hide();
			show3dContainer();
			load3dView(productId);
		});
	}
	else 
	{
		jQuery('.hat-wrapper #unitywrapper-window').fadeOut('fast',function() 
		{
			jQuery('.product-3d-button-wrapper a').text('<?php echo $this->__('Real 3D view') ?>');
			jQuery('.hat-wrapper .hat-view-wrapper').show();
			jQuery('.hat-wrapper img#image').show();
		});
	
	}

}

function load3dView(productId) 
{
    //unityWindowOpened = false;
	if (unityWindowOpened) 
	{
	    show3dContainer();
	}
	else 
	{
	    unityWindowOpened = true;
		
		new Ajax.Updater('unitywrapper-window', '<?php echo $this->getUrl('unitywrapper/', array('_store' => 1)); ?>?id='+productId, {
			method: 'get',
			//parameters: {product_id:product_id, item_id:item_id, qty:qty, value:value},
			onLoading: function() {	  
				//showLoading();
			},
			async: true,
			evalScripts: true,
			onComplete: function() {
				
				jQuery(".product-option-wrapper-3d .product-custom-option").each(function( index, element ) {
					
					//var oldCustomOptionInputId = jQuery(this).attr('id');
					//var newCustomOptionInputId = jQuery(this).attr('id') + '_3d';
					//jQuery(this).attr('id', newCustomOptionInputId);
					//jQuery('#'+newCustomOptionInputId).attr('onchange', jQuery('#'+oldCustomOptionInputId).attr('onchange'));
					/*
					jQuery(this).siblings('span').children('label').attr('for', newCustomOptionInputId);
					
					if (jQuery(this).is('select')) 
					{
						jQuery('#'+newCustomOptionInputId+" option").removeAttr("selected"); //deselect all options
						jQuery('#'+newCustomOptionInputId+" option[value='"+jQuery('#'+oldCustomOptionInputId).find(":selected").val()+"']").attr("selected","selected");
					}
					else if ('radio' == jQuery(this).attr('type')) 
					{
						if (jQuery('#'+oldCustomOptionInputId).is(':checked')) 
						{
						    jQuery('#'+newCustomOptionInputId).attr('checked','checked');
						}
					}
					else 
					{
					    jQuery(this).val(jQuery('#'+oldCustomOptionInputId).val());
					}
					jQuery(this).change(function() 
					{
						if (jQuery(this).is('select')) 
						{
							jQuery('#'+oldCustomOptionInputId+" option").removeAttr("selected"); //deselect all options
							jQuery('#'+oldCustomOptionInputId+" option[value='"+jQuery(this).find(":selected").val()+"']").attr("selected","selected").change();
						}
						else 
						{
						    jQuery('#'+oldCustomOptionInputId).attr('checked','checked').change();
						}
						
					});
					*/
				});
				customOptionHolder3d = new Array();
				customOptionHolder3dCtr = 0;
				initCustomOption3dCalls();
				
				if (typeof unityObject != "undefined")
				{
					unityObject.embedUnity("unityPlayer", "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'unity/WebPlayer.unity3d' ?>", 600, 450);
				}
			}
		});
	}
	
}

function show3dContainer() 
{
    //jQuery('#unitywrapper-overlay').height(jQuery(document).height());
	//jQuery('#unitywrapper-overlay').show();
    jQuery('#unitywrapper-window').show();
}

function hide3dView() 
{
	jQuery('#unitywrapper-overlay').hide();
    jQuery('#unitywrapper-window').fadeOut('fast',function() 
	{
	    jQuery('.main-container').removeClass('hat-3d-view');
	});
}

function add3dCall(el, target) 
{
	if (jQuery(el).is(':radio')) 
	{
		if(typeof target != 'undefined')
		{
		    var textureUrl = jQuery(el).siblings('span').children('label').children('img').attr('src');
			textureUrl = textureUrl.replace("/K", "/");
			loadTexture(textureUrl, target);
		}
    }
}

function initializeHat() 
{
	showDebugPanel(false);
	//document.getElementById("controlsFrame").src = "SceneControls.html";

	setSceneCurtain(true);
	setSimpleQualityLevel();
	sendUnityMessage("<msg type='LoadAsset' cleanCache='true' url='<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) ?>unity/Assets/<?php echo $hat_model ?>.unity3d' asset='<?php echo $hat_model ?>' />");
	showModelByName('<?php echo $hat_model ?>');
	initializeHatOptions();
		
	setCameraRotationEnabled(true);
	setCameraZoomEnabled(true);


	setCameraZoom(22);
	setCameraRotation(160, 0);
	
	setSceneCurtain(false);
	setQueueEnabled(false);
	startQueue();
	jQuery('#unitywrapper-window').removeClass('loading');
	jQuery('.unity-product-option-wrapper .custom-option-nav-btn').removeClass('no-display');
	//jQuery('.unity-camera-form-wrapper').fadeIn();
}

function initializeHatOptions() 
{
	jQuery("#product-options-wrapper .product-custom-option").each(function( index, element ) {
		
		var tempEl = this;
		//setTimeout(function() {
		
			if (jQuery(tempEl).is('select')) 
			{
				if (0 < jQuery(tempEl).children('option').length) 
				{
					jQuery(tempEl).change();
				}
			}
			else if ('radio' == jQuery(tempEl).attr('type')) 
			{
				if (jQuery(tempEl).is(':checked')) { jQuery(tempEl).change(); }
			}
			else 
			{
			jQuery(tempEl).val(jQuery(tempEl).val()).change();
			}

		//}, 5);
	});
}

function setCategoryCameraView(zoom, x, y) 
{
    setCameraZoom(zoom);
	setCameraRotation(x, y);
}

function initCustomOption3dCalls() 
{
    jQuery("#product-options-wrapper .product-custom-option").each(function( index, element ) {
		
		customOptionHolder3d[customOptionHolder3dCtr++] = jQuery(this).attr('name');
	});
	/*
    jQuery("#unitywrapper-window .engraving-checkbox input").change(function () {
        if (!jQuery(this).attr("checked")) {
            jQuery("#unitywrapper-window .engraving-line input").val("").change();
        }
    });
    jQuery("#unitywrapper-window .engraving-line input").change(function () {
        jQuery("#unitywrapper-window .engraving-line input").each(function () {
            if (jQuery(this).val()) {
                jQuery("#unitywrapper-window .engraving-checkbox input").attr("checked", "checked").change();
            }
        })
    });
	*/
	var customOptionParam3d = customOptionHolder3d.join(':');
	
	jQuery.ajax({
		url: "<?php echo $this->getUrl('unitywrapper/index/initCustomOption3dCalls', array('_store' => 1)) ?>",
		data: {'option' : customOptionParam3d},
		type: "post",
		success: function(response) 
		{	
			var resp = jQuery.parseJSON(response);			
			
			if (0 < resp.options.length) 
			{
				resp.options.forEach(function(customOptionEntry) {
					/*
					if (jQuery("input[name='options["+customOptionEntry.product_custom_option_id+"]']").length) 
					{
					    customOptionElement = jQuery(".product-option-wrapper-3d input[name='options["+customOptionEntry.product_custom_option_id+"]']");
					}
					else
					{
					    customOptionElement = jQuery(".product-option-wrapper-3d select[name='options["+customOptionEntry.product_custom_option_id+"]']");
					}
					*/
					customOptionElement = jQuery("#product-options-wrapper [name='options["+customOptionEntry.product_custom_option_id+"]']");
					
					if ('text' == customOptionElement.attr('type'))
					{
					    customOptionElement.on('keyup', function() { eval(customOptionEntry.function_to_call); });
					    customOptionElement.change(function() { eval(customOptionEntry.function_to_call); });
					}
					else 
					{
					    customOptionElement.change(function() { eval(customOptionEntry.function_to_call); });
					}
					
					//jQuery(".product-option-wrapper-3d [name='options["+customOptionEntry.product_custom_option_id+"]']:checked").change();
					bindDependentOptionsUpdate(customOptionEntry.dependent_options);
				});
			}
		}
	});
}

function bindDependentOptionsUpdate(dependentOptionsString) 
{
    if ('' != dependentOptionsString) 
	{
		var dependentOptionsArray = Array();
		dependentOptionsArray = dependentOptionsString.split(':');
		
		if (0 < dependentOptionsArray.length) 
		{
			dependentOptionsArray.forEach(function(dependentOptionId) {
				if ('' != dependentOptionId) 
				{
					customOptionElement.change(function() 
					{
						jQuery('#product-options-wrapper [name="options['+dependentOptionId+']"]:checked').change();
					});
				}
			});
		}
	}
}




function customOptionCategoryMenuFunction(seletedCategory) 
{
  if ('' != seletedCategory && 0 < seletedCategory) 
  {
	  
	  jQuery('#unity-menu .custom-option-category-menu').removeClass('current');
	  jQuery('#unity-menu #custom-option-category-menu-'+seletedCategory).addClass('current');
	  
	  jQuery('.unity-product-option-wrapper .custom-option-category').hide();
	  jQuery('.unity-product-option-wrapper #custom-option-category-'+seletedCategory).fadeIn();
	  
	  
  }
  return false;
}


function toggleOptionCategory(seletedCategory, currentCategory) 
{
  if ('' != seletedCategory && 0 < seletedCategory) 
  {
	  var OptionCategoryIsValid = true;
	  jQuery('.unity-product-option-wrapper #custom-option-category-'+currentCategory+' .product-custom-option').each(function( index, element ) {
		  if (!Validation.validate(document.getElementById(jQuery(this).attr('id')))) 
		  {
		      OptionCategoryIsValid = false;
			  jQuery(this).addClass('validation-failed');
		  }
	  });
	  
	  if (OptionCategoryIsValid) 
	  {
		  jQuery('#unity-menu .custom-option-category-menu').removeClass('current');
		  jQuery('#unity-menu .custom-option-category-menu').removeClass('before-current');
		  jQuery('#unity-menu #custom-option-category-menu-'+currentCategory).addClass('passed-category');
		  jQuery('#unity-menu #custom-option-category-menu-'+currentCategory).addClass('before-current');
		  //jQuery('#unity-menu #custom-option-category-menu-'+currentCategory).attr('onclick', "customOptionCategoryMenuFunction("+currentCategory+");");
		  jQuery('#unity-menu #custom-option-category-menu-'+seletedCategory).addClass('current');
		  
		  jQuery('.unity-product-option-wrapper .custom-option-category').hide();
		  jQuery('.unity-product-option-wrapper #custom-option-category-'+seletedCategory).fadeIn('fast');
	  }
	  
	  
  }
  return false;
}

function submit3dWindow(currentCategory) 
{
  if ('' != currentCategory && 0 < currentCategory) 
  {
	  var submitOptionCategoryIsValid = true;
	  jQuery('.unity-product-option-wrapper #custom-option-category-'+currentCategory+' .product-custom-option').each(function( index, element ) {
		  if (!Validation.validate(document.getElementById(jQuery(this).attr('id')))) 
		  {
		      submitOptionCategoryIsValid = false;
			  jQuery(this).addClass('validation-failed');
		  }
	  });
	  
	  if (submitOptionCategoryIsValid) 
	  {
		  jQuery('button.btn-cart').click();
	  }
	  
	  
  }
  return false;
}



function initCameraRotation()
{
	var x = document.getElementById("rotX").value;
	var y = document.getElementById("rotY").value;
	setCameraRotation(x, y);
}

function initCameraZoom()
{
	var z = document.getElementById("zoom").value;
	setCameraZoom(z);
}

function broderiColorToHex(tempBroderiColor) 
{
	if ('colorband' == tempBroderiColor) 
	{
	    if(typeof jQuery("#product-options-wrapper .type-colorband select.product-custom-option option:selected").attr('data-sku') != 'undefined')
		{
			tempBroderiColor = jQuery("#product-options-wrapper .type-colorband select.product-custom-option option:selected").attr('data-sku');
		}
	}
	
	switch (tempBroderiColor) 
	{
	    <?php foreach ($hatTextColors as $hatTextColorKey => $hatTextColor): ?>
		case '<?php echo $hatTextColorKey ?>' : broderiColor = '<?php echo $hatTextColor ?>'; break;
		<?php endforeach; ?>
		
		default : broderiColor = false; break;
	}
}

function initProductCustomOption() 
{
    jQuery("#product-options-wrapper .product-custom-option").each(function( index, element ) {
		
		productCustomOptions[productCustomOptionsCtr++] = jQuery(this).attr('name');
	});
	
	var customOptionParam = productCustomOptions.join(':');
	
    jQuery.ajax({
		url: "<?php echo $this->getUrl('unitywrapper/index/initProductOption', array('_store' => 1)) ?>",
		type: "post",
		data: {'option' : customOptionParam},
		success: function(response) 
		{	
			setInitialsFunction();
			var obj = jQuery.parseJSON(response);
			if (obj.option != null)
			{	
				/*
				for (var productOptionId in obj.option) {
				   if (obj.option.hasOwnProperty(productOptionId)) {
				   
					  var productOption = obj.option[productOptionId];
					  var productOptionSku = productOption['sku'];
					  var productOptionValue = productOption['value'];
					  var productOptionTemplateOptionId = productOption['template_option_id'];
					  var productOptionHatViewOption = productOption['hat_view_option'];
					  var productOptionHatTextLimit = productOption['hat_text_limit'];
					  var productOptionHatTextColorOption = productOption['hat_text_color_option'];
					  
					if (jQuery('[data-sku="'+productOptionSku+'"]').length) 
					{
						if ('radio' == jQuery('[data-sku="'+productOptionSku+'"]').attr('type')) 
						{
							jQuery('[name="'+jQuery('[data-sku="'+productOptionSku+'"]').attr('name')+'"]').removeAttr('checked');
							jQuery('[data-sku="'+productOptionSku+'"]').attr('checked', 'checked').change();
						}
						else
						{
							productOptionParentEl = jQuery('[data-sku="'+productOptionSku+'"]').parent();
							productOptionParentEl.children('option').removeAttr('selected');
							jQuery('[data-sku="'+productOptionSku+'"]').attr('selected', 'selected').change();
						}
					}
					else 
					{
						if ('text' == jQuery('[name="options['+productOptionId+']"]').attr('type')) 
						{
							jQuery('[name="options['+productOptionId+']"]').val(productOptionValue).change();
							//if (false != productOption.hat_text_limit) jQuery('[name="options['+productOptionId+']"]').attr('maxlength', productOption.hat_text_limit);
						}
					}
					
					if (false != productOptionHatTextColorOption) 
					{
						if ('text' == jQuery('[name="options['+productOptionId+']"]').attr('type')) 
						{
							jQuery('[name="options['+productOptionId+']"]').focus(function()
							{
								broderiColorToHex(jQuery('[name="options['+obj.optionChildParentHolder[productOptionHatTextColorOption]+']"] option:selected').attr('data-sku'));
							});
						}
						else
						{
							jQuery('[name="options['+productOptionId+']"]').change(function()
							{
								broderiColorToHex(jQuery(this).find('option:selected').attr('data-sku'));
								initSetHatImage(jQuery('[name="options['+obj.optionChildParentHolder[productOptionHatTextColorOption]+']"]'));
							});	
						}
					}
					
					
					if (jQuery('[name="options['+productOptionId+']"]').length) 
					{
						if(productOption.hasOwnProperty("hat_view_option") && false != productOptionHatViewOption)
						{
							jQuery('[name="options['+productOptionId+']"]').bind('click', function() 
							{
								if (0 < jQuery('.hat-view-box').length) 
								{
									jQuery('.hat-view-box-'+productOptionHatViewOption).click();
								}
							});
						}
					}
					
					  
				   }
				}
				*/
				
				jQuery.each( obj.option, function( productOptionId, productOption ) 
				{
				    var productOptionEl;
				    var productOptionParentEl;
					
					if (jQuery('[name="options['+productOptionId+']"]').length) 
					{
					    /*
						if (productOption.hasOwnProperty('value')) 
						{
							if (jQuery('[name="options['+productOptionId+']"]').is('select')) 
							{
								if (0 < jQuery('[name="options['+productOptionId+']"]').find('option[value="'+productOption.value+'"]').length) 
								{
									jQuery('[name="options['+productOptionId+']"]').children('option').removeAttr('selected');
									jQuery('[name="options['+productOptionId+']"] option[value="'+productOption.value+'"]').attr('selected', 'selected').change();
								}
							}
							else if ('radio' == jQuery('[name="options['+productOptionId+']"]').attr('type')) 
							{
								if (0 < jQuery('input[name="options['+productOptionId+']"][value="'+productOption.value+'"]').length) 
								{
									jQuery('input[name="options['+productOptionId+']"]').removeAttr('checked');
									jQuery('input[name="options['+productOptionId+']"][value="'+productOption.value+'"]').attr('checked', 'checked').change();
								}
							}
							else 
							{
								if ('' != productOption.value && false != productOption.value) 
								{
								    jQuery('[name="options['+productOptionId+']"]').val(productOption.value).change();
								}
							}
						}
						*/
						
						if (productOption.hasOwnProperty("hat_text_template_id") && false != productOption.hat_text_template_id) 
						{
							if (jQuery('[name="options['+productOptionId+']"]').is('select')) 
							{
								jQuery('[name="options['+productOptionId+']"]').change(function()
								{
									initSetHatImageWithText(jQuery(this));
								});
							}
						}
						
						if (productOption.hasOwnProperty("hat_text_color_option") && false != productOption.hat_text_color_option) 
						{
							if ('text' == jQuery('[name="options['+productOptionId+']"]').attr('type')) 
							{
								jQuery('[name="options['+productOptionId+']"]').focus(function()
								{
									broderiColorToHex(jQuery('[name="options['+obj.optionChildParentHolder[productOption.hat_text_color_option]+']"] option:selected').attr('data-sku'));
								});
							}
							else if (jQuery('[name="options['+productOptionId+']"]').is('select') && 0 < jQuery('[name="options['+productOptionId+']"]').find('option').length) 
							{
								jQuery('[name="options['+productOptionId+']"]').change(function()
								{
									broderiColorToHex(jQuery(this).find('option:selected').attr('data-sku'));
								});	
								
								var hat_text_color_option_temp = productOption.hat_text_color_option.split(':');
								
								jQuery.each( hat_text_color_option_temp, function( index, value ){
								
									jQuery('[name="options['+productOptionId+']"]').change(function()
									{
										initSetHatImage(jQuery('[name="options['+obj.optionChildParentHolder[value]+']"]'));
									});	
								});
							}
						}
						
						if(productOption.hasOwnProperty("hat_view_option") && false != productOption.hat_view_option)
						{
							jQuery('[name="options['+productOptionId+']"]').click(function() 
							{
								if (0 < jQuery('.hat-view-box').length) 
								{
								    if (productOption.hat_view_option != getCurrentHatView()) 
									{
									    jQuery('.hat-view-box-'+productOption.hat_view_option).click();
									}
								}
							});
						}
					}
					
					/*
					if (jQuery('[data-sku="'+productOption.sku+'"]').length) 
					{
					    if ('radio' == jQuery('[data-sku="'+productOption.sku+'"]').attr('type')) 
						{
						    jQuery('[name="'+jQuery('[data-sku="'+productOption.sku+'"]').attr('name')+'"]').removeAttr('checked');
							jQuery('[data-sku="'+productOption.sku+'"]').attr('checked', 'checked').change();
						}
						else
						{
							productOptionParentEl = jQuery('[data-sku="'+productOption.sku+'"]').parent();
							productOptionParentEl.children('option').removeAttr('selected');
							jQuery('[data-sku="'+productOption.sku+'"]').attr('selected', 'selected').change();
						}
					}
					else 
					{
					    if ('text' == jQuery('[name="options['+productOptionId+']"]').attr('type')) 
						{
							jQuery('[name="options['+productOptionId+']"]').val(productOption.value).change();
						    //if (false != productOption.hat_text_limit) jQuery('[name="options['+productOptionId+']"]').attr('maxlength', productOption.hat_text_limit);
						}
					}
					
					if (false != productOption.hat_text_color_option) 
					{
					    if ('text' == jQuery('[name="options['+productOptionId+']"]').attr('type')) 
						{
							jQuery('[name="options['+productOptionId+']"]').focus(function()
							{
								broderiColorToHex(jQuery('[name="options['+obj.optionChildParentHolder[productOption.hat_text_color_option]+']"] option:selected').attr('data-sku'));
							});
						}
						else
						{
						    jQuery('[name="options['+productOptionId+']"]').change(function()
							{
								broderiColorToHex(jQuery(this).find('option:selected').attr('data-sku'));
								initSetHatImage(jQuery('[name="options['+obj.optionChildParentHolder[productOption.hat_text_color_option]+']"]'));
							});	
						}
					}
					
					if (jQuery('[name="options['+productOptionId+']"]').length) 
					{
						if(productOption.hasOwnProperty("hat_view_option") && false != productOption.hat_view_option)
						{
							jQuery('[name="options['+productOptionId+']"]').click(function() 
							{
								if (0 < jQuery('.hat-view-box').length) 
								{
								    jQuery('.hat-view-box-'+productOption.hat_view_option).click();
								}
							});
						}
					}
					*/
				});
				/*
				jQuery('.custom-option-category').each(function(element){
					
					checkRequiredOptions(jQuery(this).attr('id').replace("custom-option-category-", ""));
				});
				*/
				if (false != getCurrentHatView()) 
				{
					jQuery('.hat-view-box-selected').click();
				}
				
				
			}
		}
	});
}
function initSetHatImageWithText(optionEl) 
{
    var optionText = jQuery(optionEl).find('option:selected').text();
    var optionTextValue = jQuery(optionEl).find('option:selected').attr('value');
	optionTextSchool = optionText.split(' +'); // remove amount
	var textToSend = optionTextSchool[0];
	
	if ('' != textToSend) 
	{
		if ('' == optionTextValue) textToSend = '';
		if ('utan skolbrodyr' == textToSend.trim().toLowerCase() || 'intet skolebroderi' == textToSend.trim().toLowerCase()) textToSend = '';
		
		jQuery.ajax({
			url: "<?php echo $this->getUrl('hatviewoptions/hatviewoptions/setImage', array('_store' => 1)) ?>",
			data: {'img' : getHatPreviewImage(), 'txt': textToSend, 'option' : jQuery(optionEl).attr('name'), 'product': '<?php echo $product->getId() ?>'  },
			type: "post",
			success: function(response) 
			{
				var resp = jQuery.parseJSON(response);
				
				if (resp.status) 
				{
					jQuery(".product-view .product-essential img#image_temp").attr("src", '<?php echo $this->getUrl('hatviewoptions/hatviewoptions/productImage', array('_store' => 1)) ?>'+'?img='+resp.url+'&view='+getCurrentHatView()+'&product=<?php echo $product->getId() ?>'+'&model=<?php echo $hat_model ?>'+'&ctr='+resp.ctr);
				}
			}
		});
	}
	
}

function reset2DHatTexts(productOptionId) 
{
    if (jQuery('[name="'+productOptionId+'"]').is(':visible')) 
	{
	    var optionParentCategory = jQuery('[name="'+productOptionId+'"]').parents(".custom-option-category");
		var textToResetArray = new Array();
		var textToResetArrayCtr = 0;
		optionParentCategory.find('input[type="text"].product-custom-option').each(function( index, element ) {
		
			if (!jQuery(element).is(':visible') && '' != jQuery(element).val()) 
			{
			    jQuery(element).val('').change();
				textToResetArray[textToResetArrayCtr++] = jQuery(element).attr('name');
			}
		});
		
		if (0 < textToResetArray.length) 
		{
			jQuery.ajax({
				url: "<?php echo $this->getUrl('unitywrapper/index/resetTexts', array('_store' => 1)) ?>",
				data: {'options' : textToResetArray.join(":")},
				type: "post",
				success: function(response) 
				{	
					//var resp = jQuery.parseJSON(response);			
				}
			});
		}
	}
}

function saveProductCustomOption(productOptionId, productOptionValue, productOptionDataSku) 
{
	reset2DHatTexts(productOptionId);
	
	jQuery.ajax({
		url: "<?php echo $this->getUrl('unitywrapper/index/saveProductOption', array('_store' => 1)) ?>",
		data: {'option' : productOptionId, 'value' : productOptionValue, 'sku' : productOptionDataSku},
		type: "post",
		success: function(response) 
		{	
			//var resp = jQuery.parseJSON(response);			
		}
	});
}

jQuery(document).ready(function() {
    
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { jQuery('.product-3d-button-wrapper').hide(); }
	
	jQuery('#unitywrapper-overlay').click(function() 
	{
	    hide3dView();
	});
	
	jQuery("#product-options-wrapper .product-custom-option").each(function( index, element ) {
	    jQuery(this).bind('change', function() 
		{
		    jQuery('.product-view .price-box .price').trigger('hatpriceupdate');

			if (jQuery(this).is('select')) 
			{
			    //saveProductCustomOption(jQuery(this).attr('name'), jQuery(this).val(), jQuery(this).find(':selected').attr('data-sku'));
			}
			else
			{
			    //saveProductCustomOption(jQuery(this).attr('name'), jQuery(this).val(), jQuery(this).attr('data-sku'));
			}		    
		});
	});
	initProductCustomOption();
});
</script>