<div class="header-category-menu-wrapper">
    <div class="header-category-menu-inner">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header_category_menu')->toHtml() ?>
        <div class="clear"></div>
    </div>
</div>

