<?php
$product = Mage::registry('current_product');
$category = Mage::registry('current_category');
$productId = (!is_null($product)) ? $product->getId(): false;
?>
<?php if (!is_null($product)) : ?>
<?php 
$procutCategoryUrl = '#';
$categoryIds = $product->getCategoryIds();
if(count($categoryIds)) $procutCategoryUrl = Mage::getModel('catalog/category')->load($categoryIds[0])->getUrl() . '?limit=all&mode=list';
?>
<div id="product-mobile-header">
<a class="home-link" href="<?php echo $this->getBaseUrl() ?>">
<div class="product-mobile-header-block"><?php echo $this->__('C.L. Seifert'); ?></div>
</a>
<a class="category-link" href="<?php echo '#productcategorytoggle'//$procutCategoryUrl ?>" onclick="toggleProductCategoryItemList()">
<div class="product-mobile-header-block"><?php echo $product->getName(); ?></div>
<div class="product-mobile-header-block">(<?php echo $this->getPriceHtml($product, true) ?>)</div>
</a>
</div>
<?php elseif (!is_null($category)) : ?>
<div id="product-mobile-header">
<a class="home-link" href="<?php echo $this->getBaseUrl() ?>">
<div class="product-mobile-header-block"><?php echo $this->__('C.L. Seifert'); ?></div>
</a>
<div class="product-mobile-header-block"><?php echo $category->getName(); ?></div>
</div>
<?php endif; ?>
<script type="text/javascript">
var productCategoryItemListIsNotLoaded = true;
function toggleProductCategoryItemList() 
{
    if (jQuery('.mobile-product-category-list-wrapper').is(':visible')) 
	{
	    jQuery('.mobile-product-category-list-wrapper').fadeOut('fast', function() 
		{
		    jQuery('.main-container .product-view').fadeIn('fast');
		});
	    
	}
	else 
	{
	    jQuery('.main-container .product-view').fadeOut('fast', function() 
		{
		    if (productCategoryItemListIsNotLoaded) 
		    {
			    productCategoryItemListIsNotLoaded = false;
				
				new Ajax.Updater('mobile-product-category-list-wrapper', '<?php echo $this->getUrl('customoptioncategory/', array('_store' => 1)); ?>', {
					method: 'get',
					parameters: {'product': '<?php echo $productId ?>'},
					onLoading: function() 
					{
					},
					async: true,
					evalScripts: true,
					onComplete: function() 
					{
						jQuery('.mobile-product-category-list-wrapper').fadeIn('fast');
					}
				});
				
			}
			else 
			{
			    jQuery('.mobile-product-category-list-wrapper').fadeIn('fast');
			}
		});
	}
}

jQuery(document).ready(function()
{
    jQuery('#product-mobile-header .price-box').children(":first").attr('id', jQuery('#product-mobile-header .price-box').children(":first").attr('id')+'-mobile');	
	jQuery('.product-view .price-box .price').bind('hatpriceupdate', function() {
	    jQuery('#product-mobile-header .price-box .price').text(jQuery(this).text());
	});
	
    jQuery('#header-bottom-product-detail .price-box').children(":first").attr('id', jQuery('#header-bottom-product-detail .price-box').children(":first").attr('id')+'-header');
	jQuery('.product-view .price-box .price').bind('hatpriceupdate', function() {
	    jQuery('#header-bottom-product-detail .price-box .price').text(jQuery(this).text());
	});
	
});
</script>