<?php
if ($productId = $this->getRequest()->getParam('product', false)) :
$_helper = $this->helper('catalog/output');
$fancybox = MAGE::helper('ThemeOptions')->getThemeOptions('fancybox' );
$grid = MAGE::helper('ThemeOptions')->getThemeOptions('grid' );
$_iterator = 0;

$product = Mage::getModel('catalog/product')->load($productId);
$_productCollection = false;

if (!is_null($product)) :

$categoryIds = $product->getCategoryIds();
$currentCategory = false;

foreach($categoryIds as $categoryId) 
{
	if ($category = Mage::getModel('catalog/category')->load($categoryId)) 
	{
		if (2 == (int)$category->getLevel()) $currentCategory = $category->getId();
	}
}
if ($currentCategory) 
{
	$currentCategoryModel = Mage::getModel('catalog/category')->load($currentCategory);//->getProductCollection()->addAttributeToFilter('status', 1)->addAttributeToFilter('visibility', 4);
	
	$_productCollection = Mage::getResourceModel('catalog/product_collection')
	->joinField('category_id','catalog/category_product','category_id','product_id=entity_id',null,'left')
	->addAttributeToFilter('entity_id', array('neq' => $productId))
	->addAttributeToFilter('status', array('eq' => 1))
	->addAttributeToFilter('visibility', array('eq' => 4))
	->addAttributeToFilter('category_id', array('in' => $currentCategory))
	->addAttributeToSelect('*');
	$_productCollection->load();
}

if ($_productCollection && 0 < count($_productCollection)) : 
?>
<ol class="products-list" id="products-list">
<?php foreach ($_productCollection as $_product): ?>
	<?php $_product = Mage::getModel('catalog/product')->load($_product->getId()) ?>
	<li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
		<?php // Product Image ?>
		<div class="grid_3 alpha">
			<div class="product-img-box">
				<?php /* Label New */ echo MAGE::helper('ThemeOptions')->getProductNewLabel($_product); ?>
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><div class="hover-box"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(520, null); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><?php /* Hover Image */ echo MAGE::helper('ThemeOptions')->getHoverImage($_product, 520); ?></div></a>
				<?php // Fancybox
				if ($fancybox['fancybox_status'] && $fancybox['fancybox_listing'] == 1): ?>
					<a class="fancybox category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>">&nbsp;</a>
				<?php endif; // End Fancybox ?>
				<div class="img-shadow"><div><div></div></div></div>
			</div>
		</div>
		<?php // Product description ?>
		<div class="grid_6 omega">
			<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
			
			<?php echo Mage::helper('customoptioncategory')->getProductComparisonHtml($product->getFinalPrice(), $_product->getFinalPrice()) ?>
			<?php //echo $this->getPriceHtml($_product, true) ?>
			
			<?php if($_product->getRatingSummary()): ?>
			<?php echo $this->getReviewsSummaryHtml($_product) ?>
			<?php endif; ?>
			<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
			<?php if(!$_product->isSaleable()): ?>
				<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
			<?php endif; ?>
			<div class="clear"></div>
			<div class="desc std">
				<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
			</div>
			<ul class="add-to-links">
				<?php if ($this->helper('wishlist')->isAllow()) : ?>
					<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
				<?php endif; ?>
			</ul>
			<?php if($_product->isSaleable()): ?>
				<p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>                                    
			<?php endif; ?>
					
					<div class="actions-mobile">
						<div class="actions-mobile-button actions-mobile-info"><a href="#none"><span><?php echo $this->__('Info') ?></span></a></div>
						<div class="actions-mobile-button actions-mobile-status"><a href="<?php echo $_product->getProductUrl() ?>"><span><?php echo $this->__('Välg denne') ?></span></a></div>
					</div>
		</div>            
	</li>
<?php endforeach; ?>
</ol>
<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
<?php else : ?>
<div style="margin: 50px auto; text-align: center; font-weight: bold;"><span><?php echo $this->__('No Product Available') ?></span></div>
<?php endif; ?>

</div>
	
<?php endif; ?>
<?php endif; ?>