<!--
<ul class="static-header-links">
    <li><a href="#"><span><?php echo $this->__('shop') ?></span></a></li>
    <li><a href="#"><span><?php echo $this->__('om oss') ?></span></a></li>
    <li><a href="#"><span><?php echo $this->__('kontakt') ?></span></a></li>
</ul>
-->
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header_static_menu')->toHtml(); ?> 