<?php
    $_productCollection = $this->getMyCollection();
    $category = $this->catName();
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $this->productsAmount();
    $_columnCount = 4; //$this->getColumnCount();
    
    $fancybox = MAGE::helper('ThemeOptions')->getThemeOptions('fancybox' );
?>
<?php // Grid Mode ?>
<div class="checkpoint-3-button" id="checkpoint-3"></div>
<div class="home-container grid-container">
    <div class="meigee-widget">        
        <?php if($this->getLayout()->createBlock('cms/block')->setBlockId('grid_2_text_box')->toHtml()): ?>
	<div class="grid-text-box grid_6 alpha">
	    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('grid_2_text_box')->toHtml() ?>
	</div>
    <?php endif; ?>
    <div class="<?php if($this->getLayout()->createBlock('cms/block')->setBlockId('grid_2_text_box')->toHtml()){echo ' grid_6 omega';}else{echo ' no-static-block grid_12';} ?>">    
        <ul class="products-grid widget-grid widget-grid-2">
        <?php $i=0; foreach ($_productCollection as $_product): ?>
			<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
            <li class="grid_3 item <?php if($i%2){echo 'odd omega';}else{echo 'alpha';} ?>">
                <div class="product-img-box">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(TRUE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(420, null); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><?php /* Label New */ echo MAGE::helper('ThemeOptions')->getProductNewLabel($_product); ?><span class="image-box"></span><?php /* Hover Image */ echo MAGE::helper('ThemeOptions')->getHoverImage($_product, 420); ?></a>
                    <div class="img-shadow"><div><div></div></div></div>
                    <a href="<?php echo $_product->getProductUrl() ?>" class="icon-product-details"></a>
                    <?php // Fancybox
                    if ($fancybox['fancybox_status'] && $fancybox['fancybox_listing'] == 1): ?>
                        <a class="fancybox" rel="category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>">&nbsp;</a>
                    <?php endif; // End Fancybox ?>
                </div>
                <div class="clear"></div> 
            </li>
        <?php if ($i+1 == $_collectionSize ) break; $i++; endforeach ?>        
        </ul>        
    </div>
    <div class="clear"></div>
    </div>
</div>
<div class="checkpoint-4-button"></div>
<div id="checkpoint-4"></div>