<?php
/*
 * The MIT License
 *
 * Copyright 2016 vConnect.dk
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * @category Magento
 * @package Vconnect_AllInOne
 * @author vConnect
 * @email kontakt@vconnect.dk
 * @template app/design/frontend/base/default/template/vconnect/aio/commercial/tabScripts.phtml
 */
$deliveries = Mage::helper('vc_aio')->getFelxDeliveryByMethodCode($this->getCode());
$config = $this->getConfig();
?>


<script>
    
    jQuery(function($){
        
        
        $('.all-in-one-container').on('submit_before_<?php echo $this->getCode()?>',function(){
            var flexDeliveries = <?php echo json_encode($deliveries)?>;
            var desc = '';
            pointinfo = '';

            <?php if(!empty($config['delivery_time'])): ?>
             pointinfo += '<b><?php echo $this->__("Label arrival time commercial:") ?></b><br /><?php echo $config['delivery_time']; ?> <br />';
            <?php endif;?>

            var arrival = $('[data-code=<?php echo $this->getCode()?>] input[name=arrival][checked]');
            if(arrival.length){
                desc += ('' + arrival.val()); 
                pointinfo += ('<b><?php echo $this->__("Label arrival commercial:") ?></b><br />' + arrival.parent().find('.label-text').text() + '<br/>'); 
            }
            var flexDelivery = false;
            var delivery = $('[data-code=<?php echo $this->getCode()?>] input[name=delivery][checked]');
            if(delivery.length){
                desc += (' / ' + delivery.val());
                pointinfo += ('<b><?php echo $this->__("Label delivery commercial:") ?></b><br />' + delivery.parent().find('.label-text').text() + '<br/>'); 
                if($.inArray(delivery,flexDeliveries)){
                    flexDelivery = (delivery.val() == "Other place" || delivery.val() == 'Utan kvittens (paketet ställs utanför dörren)')?$('textarea[name=other]',closest).val():delivery.val();
                }
                if(delivery.val() == "Other place" || delivery.val() == 'Utan kvittens (paketet ställs utanför dörren)'){
                    var closest = delivery.closest('.aino-inner-tabs');
                    var otherText =  $('textarea[name=other]',closest).val();
                    var escaped = $('<div/>').text(otherText).html();
                    desc += (" - " + escaped);
                    pointinfo += (" - " + escaped);
                }
            }
            
            
            
            var obj = {
                code            : '<?php echo $this->getCode()?>',
                arrival         : arrival.length?arrival.val():false,
                delivery        : delivery.length?delivery.val():false,
                flexdelivery    : flexDelivery,
                carrier         : '<?php echo $this->escapeHtml($this->getCarrierTitle())?>',
                description     : desc,
                pointinfo       : pointinfo
            };
            $('.aino-deliver-to li.ui-state-active').data('shipping',obj);
        });
        
    });
    
    
</script>




