<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 *
 *
 *
 * Template for Mage_Page_Block_Html
 */
?>
<?php 
/*****/
$sidebarPosition = MAGE::helper('ThemeOptions')->getThemeOptions('sidebar'); 
$custompatern = MAGE::helper('ThemeOptions')->getThemeOptions('custompatern');
$bgPatern = $paternurl = $mediaurl = "";
if (!$custompatern):
    $bgPatern = MAGE::helper('ThemeOptions')->getThemeOptions('patern');
else:
    $mediaurl = MAGE::helper('ThemeOptions')->getThemeOptions('mediaurl');
    $paternurl = 'style="background:url('.$mediaurl.$custompatern.') center top repeat;"';
endif;
/*****/
?>
<?php 
//1902 - esantos 20140224
// add product name on header bottom bar
$product = Mage::registry('current_product');
$attributeSetModel = ($product) ? strtolower(Mage::getModel("eav/entity_attribute_set")->load($product->getAttributeSetId())->getAttributeSetName()) : false;
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>

<?php $category = MAGE::helper('ThemeOptions')->meigeeCategoriesTitle(); ?>

<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>
<?php echo $this->getChildHtml('header') ?>
<?php if(!$category and $this->getChildHtml('breadcrumbs')): ?>
<div class="breadcrumbs-wrapper">
    <div class="container_12">
        <div class="grid_12">
            <?php echo $this->getChildHtml('breadcrumbs'); ?>
			<?php if ($product && 'hat' == $attributeSetModel) : ?>
			<div id="header-bottom-product-detail" class="no-display grid_9 alpha omega right">
			
				<div class="header-bottom-product-name"><span><?php echo $product->getName() ?></span></div>
				&nbsp;
				<div class="header-bottom-product-price"><?php echo Mage_Catalog_Block_Product::getPriceHtml($product, true) ?></div>
				
			</div>
			<?php endif ; ?>
        </div>
        <div class="clear"></div>
    </div>
</div>
<?php endif; ?>
<div class="content-wrapper<?php echo $this->getBodyClass()?' '.$bgPatern:'' ?> for-title" <?php echo $paternurl; ?>>
<?php if($category): ?>
<div class="category-wrapper">
    <div class="container_12">
        <div class="grid_12">
            <div class="grid_9 alpha omega right">
			    <?php echo $this->getChildHtml('breadcrumbs'); ?>
			</div>
            <?php echo '<div class="category">'.$category.'</div>'; ?>
			<?php if ($product && 'hat' == $attributeSetModel) : ?>
			<div id="header-bottom-product-detail" class="no-display grid_9 alpha omega right">
			
				<div class="header-bottom-product-name"><span><?php echo $product->getName() ?></span></div>
				&nbsp;
				<div class="header-bottom-product-price"><?php echo Mage_Catalog_Block_Product::getPriceHtml($product, true) ?></div>
				
			</div>
			<?php endif ; ?>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<?php endif; ?>
    <div class="container_12">
        <div class="main-container main-main-container col2-layout">
            <div class="grid_9 col-main <?php if ($sidebarPosition == 'sidebar_left') { ?>main-left<?php } ?>">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('content') ?>
            </div>
            <aside class="grid_3 sidebar <?php if ($sidebarPosition == 'sidebar_right') { ?>sidebar-right<?php } ?>">
                <?php // Predefined Static Block
                    if ($static_html = $this->getChildHtml('sidebar_top_block')):
                        echo '<div class="sidebar-top-block">'.$static_html.'</div>';
                    endif; ?>
                <?php echo $this->getChildHtml('sidebar') ?>
                <?php // Predefined Static Block
                    if ($static_html = $this->getChildHtml('sidebar_bottom_block')):
                        echo '<div class="sidebar-bottom-block">'.$static_html.'</div>';
                    endif; ?>
            </aside>
            <div class="clear"></div>
        </div>    
    </div>
</div>
<?php echo $this->getChildHtml('footer') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>