<script type="text/javascript">
    Event.live = function(s, e, f) {
        Event.observe(document, e, function(event) {
            if (Element.match(event.target, s)) {
                if (!(f.call(event.target, event))) {
                    event.stop();
                }
            }
        });
    }

</script>
<div id="pickupLocation" style="display: none;">
    <p id="pickupLocation-description"><?php echo Mage::getStoreConfig('vconnect_postnord/general/description'); ?></p>
    <p class="postnr-text">
        <?php echo Mage::getStoreConfig('vconnect_postnord/general/postcode'); ?> <span class="required">*</span>
        <input type="text" size="4" value="<?php echo $this->getPostnr() ?>" id="postnord-postnr" class="postcode-validate" style="border: solid 1px; border-color: #cecece;" />
        <div id="postnord-spinner" class="postnord-spinner" style="display: none;"></div>
        <button class="form-button" type="button" id="showMapButton" style="display: none;"><?php echo Mage::getStoreConfig('vconnect_postnord/general/search'); ?></button>
        <input type="text" id="postnordServicePointId" name="postnordServicePointId" value="" class="location-required" style="width: 0; height: 0; visibility: hidden;" />
        <div class="clearer clear"></div>
        <ul id="vc_points_container">
            
        </ul>
		<div id="pickupLocationInfo"></div>
    </p>
</div>
<div id="showMap_background" style="display: none;"></div>
<div id="showMap" style="position: absolute; left: -10000px; height: 0; overflow: hidden;">
    <input type="text" id="mapSeachBox" maxlength="<?php if (Mage::getStoreConfig('vconnect_postnord/general/country') == 'SE') { ?>5<?php } else { ?>4<?php } ?>" placeholder="<?php echo Mage::getStoreConfig('vconnect_postnord/general/different_postcode'); ?>" />
    <?php if (Mage::getStoreConfig('vconnect_postnord/general/country') == 'SE') { ?>
    <img src="<?php echo $this->getSkinUrl('images/vconnect/postdanmark-logo-se.png'); ?>" id="pd-logo"/>
    <?php } else { ?>
    <img src="<?php echo $this->getSkinUrl('images/vconnect/postdanmark-logo.png'); ?>" id="pd-logo"/>
    <?php } ?>
    <div id="map_canvas"></div>
    <div id="pickupLocations" class="pickupLocation-container">
        <div class="map_buttons">
            <div id="closest" style="display: none; position: relative; left: 37%; cursor: pointer; float: left; padding: 2px 5px; font-weight:bold; border: 1px solid #ccc; background:#eee;">
                <span>
                    <span><?php echo Mage::getStoreConfig('vconnect_postnord/general/show_closest'); ?></span>
                </span>
            </div>
            <div class="map-button-save">
                <span>
                    <span><?php echo Mage::getStoreConfig('vconnect_postnord/general/ok'); ?></span>
                </span>
            </div>
            <div class="map-button-close">
                <span>
                    <span><?php echo Mage::getStoreConfig('vconnect_postnord/general/cancel'); ?></span>
                </span>
            </div>
        </div>
        <div>
            <div class="postnord-choose"><strong><?php echo Mage::getStoreConfig('vconnect_postnord/general/address_here'); ?></strong></div>
            <div id="mapAddress"></div>
        </div>
        <div class="clear" style="float: left; margin-top: 10px; width: 100%;"></div>
        <div class="map_buttons">
            <div class="map-button-save" style="margin-left: 10px;">
                <span>
                    <span><?php echo Mage::getStoreConfig('vconnect_postnord/general/ok'); ?></span>
                </span>
            </div>
            <div class="map-button-close">
                <span>
                    <span><?php echo Mage::getStoreConfig('vconnect_postnord/general/cancel'); ?></span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
function showpickupLocations(str) {
    if (postnr == str.replace(/\s/g, '')) {
        return true;
    } else {
        $('showMapButton').hide();
		$('postnordServicePointId').value = '';
		$('pickupLocationInfo').innerHTML = '';

        postnr = str.replace(/\s/g, '');

        if (postnr.length != <?php if (Mage::getStoreConfig('vconnect_postnord/general/country') == 'SE') { ?>5<?php } else { ?>4<?php } ?>) {
            $('mapAddress').innerHTML = '';
            $('map_canvas').hide();
            $('closest').hide();
            return false;
        } else {
            $('postnord-spinner').show();
        }

        new Ajax.Request('<?php echo $this->getUrl() ?>postnord/pickuplocation/index/postnr/' + postnr, {
            onSuccess: function(transport) {
                if (transport.responseText.isJSON()) {
                    $('postnord-spinner').hide();
                    response = transport.responseText.evalJSON();

                    if (response.error) {
                        alert(response.error)
                    } else {
                        $('map_canvas').show();
                        service_points = response;
                        initialize_map(response);
                        html = '<table><tr>';
                        vc_points = '';

                        for (i = 0; i < response.length; i++) {
                            key = i + 1;

                            vc_points += '<li class="vc_radio_point_container" data-servicePointId="' + response[i].servicePointId + '">';
                            vc_points += '<div class="vc_input_radio_container">';
                            vc_points += '<input type="radio" value="' + response[i].servicePointId + '" name="postnordServicePoint" class="vc_radio"/>';
                            vc_points += '</div>';
                            vc_points += '<div>';
                            vc_points += '<span class="vc_address_label" for="postnordServicePoint">';
                            vc_points += response[i].name;
                            vc_points += '</span>';
                            vc_points += '<div class="postnord_address"><span class="street">' + response[i].address + '</span>, <span class="city">' + response[i].city + '</span></div>';
                            vc_points += '</div>';
                            vc_points += '<div class="clearer clear">';
                            vc_points += '</li>';

                            html += '<td class="radio_point_container" data-servicePointId="' + response[i].servicePointId + '">';
                            html += '  <table class="point_table">';
                            html += '    <tr>';
                            html += '      <td class="radio_point"><input type="radio" value="' + response[i].servicePointId + '" name="postnord_pickupLocation" class="radio" />';
                            html += '        <strong>' + key + '. <strong>';
                            html += '      </td>';
                            html += '      <td class="point_info"><strong>' + response[i].name + '</strong>';
                            html += '        <div class="postnord_address"><span class="street">' + response[i].address + '</span><br /><span class="city">' + response[i].city + '</span></div>';
                            html += '        <div class="sp_distance"></div>';
                            html += '      </td>';
                            html += '    </tr>';
                            html += '  </table>';
                            html += '</td>';

                            if (key % 4 == 0 && key != response.length) {
                                html += '</tr><tr>';
                            }
                        }

                        html += '</tr></table>';
                        $('vc_points_container').innerHTML = vc_points;
                        $('mapAddress').innerHTML = html;
                        $('showMapButton').show();
                    }
                }
            }
        });
    }
}

Event.observe(document, 'keypress', function(event) {
    node = (event.target) ? event.target : ((event.srcElement) ? event.srcElement : null);

    if ((event.keyCode == 13) && (node.type == 'text')){
        return false;
    }
});

Validation.addAllThese([
    ['postcode-validate', '<?php echo Mage::getStoreConfig('vconnect_postnord/general/postcode_validate'); ?>', function(v) {
        return !Validation.get('IsEmpty').test(v) || /(^\d{<?php if (Mage::getStoreConfig('vconnect_postnord/general/country') == 'SE') { ?>5<?php } else { ?>4<?php } ?>}$)/.test(v.replace(/\s/g, ""));
    }],
    ['location-required', '<?php echo Mage::getStoreConfig('vconnect_postnord/general/location_required'); ?>', function(v) {
        return !Validation.get('IsEmpty').test(v);
    }]
]);

var postnr;
var markers = [];
var geocoder;
var map;
var startpoint;
var selected;
var closest;
var service_points;
//var google;
var currentIw;
var directionsService;
var directionsDisplay;

function initialize_map(data) {
    var latlng = new google.maps.LatLng(56, 10);
    var lat_max = '';
    var lat_min = '';
    var lng_max = '';
    var lng_min = '';
    markers = [];

    directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();

    map = new google.maps.Map(document.getElementById('map_canvas'), {mapTypeId: google.maps.MapTypeId.ROADMAP});
    google.maps.event.trigger(map, 'resize');
    map.setZoom(map.getZoom());
    geocoder = new google.maps.Geocoder();

    for (i = 0; i < data.length; i++) {
        codeAddress(data[i]);

        if (data[i].lat > lat_max || lat_max === '') {
            lat_max = data[i].lat;
        }

        if (data[i].lat < lat_min || lat_min === '') {
            lat_min = data[i].lat;
        }

        if (data[i].lng > lng_max || lng_max === '') {
            lng_max = data[i].lng;
        }

        if (data[i].lng < lng_min || lng_min === '') {
            lng_min = data[i].lng;
        }
    }

    if (lat_max !== '' && lat_min !== '' && lng_max !== '' && lng_min !== '') {
        map.setCenter(new google.maps.LatLng(
            ((lat_max + lat_min) / 2.0),
            ((lng_max + lng_min) / 2.0)
        ));

        map.fitBounds(new google.maps.LatLngBounds(
            //bottom left
            new google.maps.LatLng(lat_min, lng_min),
            //top right
            new google.maps.LatLng(lat_max, lng_max)
        ));
    }

    directionsDisplay.setMap(map);

    google.maps.event.addListener(map, 'click', function(event) {
        geocoder.geocode({'latLng': event.latLng}, function(results, status) {
            initStartMarker(event.latLng);
        });
    });
}

function addMarker(location, isDestination) {
    var icon;
    if (isDestination) {
        icon = destinationIcon;
    } else {
        icon = originIcon;
    }

    geocoder.geocode({'address': location}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
            bounds.extend(results[0].geometry.location);
            map.fitBounds(bounds);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                icon: icon
            });
            markersArray.push(marker);
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    });
}

function deleteOverlays() {
    for (i = 0; i < markersArray.length; i++) {
        markersArray[i].setMap(null);
    }
    markersArray = [];
}

function calcRoute(start, end) {
    var travelMode = selectTravelMode('');
    var request = {
        origin: start.position,
        destination: end.position,
        travelMode: travelMode
    };
    directionsService.route(request, function(result, status) {
        if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setOptions({
                preserveViewport: true,
                markerOptions: {
                    visible: false
                }
            });
            map.panTo(end.position);
            directionsDisplay.setMap(map);
            directionsDisplay.setDirections(result);
        }
    });
}

function codeAddress(data) {
    if (data.openingHours || data.openingHoursSat) {
        opening = '<div class="infoWindow"><?php echo Mage::getStoreConfig('vconnect_postnord/general/opening_hours'); ?>';

        if (data.openingHours) {
            opening += '<br /><?php echo Mage::getStoreConfig('vconnect_postnord/general/weekdays'); ?> ' + data.openingHours;
        }

        if (data.openingHoursSat) {
            opening += '<br /><?php echo Mage::getStoreConfig('vconnect_postnord/general/weekend'); ?> ' + data.openingHoursSat;
        }

        opening += '</div>';
    } else {
        opening = '';
    }

    var latlng = new google.maps.LatLng(data.lat, data.lng);
    var marker = new google.maps.Marker({
            map: map,
            position: latlng,
            animation: google.maps.Animation.DROP,
            icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (i + 1) + '|ED1B2E|FFFFFF',
            serviceId: data.servicePointId,
            //draggable: true
    });

    var infowindow = new google.maps.InfoWindow({
        content: opening
    });

    markers.push(marker);
    google.maps.event.addListener(marker, 'click', toggleBounce);

    google.maps.event.addListener(marker, 'click', function(){
        if (typeof currentIw !== 'undefined'){
            currentIw.close();
        }

        if (infowindow.content) {
            infowindow.open(map, marker);
            currentIw = infowindow;
        }
    });
}

function toggleBounce() {
    selected = this;
    var x = 0;
    var v = 0;
    while (x < markers.length) {
        if (markers[x].serviceId === this.serviceId) {
            v = x;
        }
        if (x < 20) {
            markers[x].setZIndex(15);
            markers[x].setAnimation(null);
            markers[x].setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (x + 1) + '|ED1B2E|FFFFFF');
        }
        x++;
    }

    this.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (v + 1) + '|336699|FFFFFF');
    this.setZIndex(100);

    if (typeof startpoint !== 'undefined') {
        calcRoute(startpoint, this);
    }

    selectRadioOnMarkerClick(this.serviceId);
}

function selectRadioOnMarkerClick(id) {
    $$('input[name="postnord_pickupLocation"][value="' + id + '"]')[0].checked = true;
    $$('.point_table').invoke('removeClassName', 'sel');
    $$('input[name="postnord_pickupLocation"][value="' + id + '"]')[0].up(3).toggleClassName('sel');
    $('postnordServicePointId').value = id;

	html = '';
	for (i = 0; i < service_points.length; i++) {
		if (service_points[i].servicePointId == id) {
			html = '<b>' + service_points[i].name + '</b>, ' + service_points[i].address + ', ' + service_points[i].postalCode + ', ' + service_points[i].city;
			break;
        }
    }
    $('pickupLocationInfo').innerHTML = html;
}

function initStartMarker(position) {
    if (typeof startpoint !== 'undefined') {
        startpoint.setMap(null);
        directionsDisplay.setMap(null);
    } else {
        $('closest').show();
    }

    startpoint = new google.maps.Marker({
        map: map,
        icon: 'http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png',
        position: position
    });

    calculateDistances();
    if (typeof selected !== 'undefined') {
        calcRoute(startpoint, selected);
    }
}

function calculateDistances() {
    var service = new google.maps.DistanceMatrixService();
    var travelMode = selectTravelMode('');

    var dests = new Array();
    for (i = 0; i < service_points.length; i++) {
        dests[i] = new google.maps.LatLng(service_points[i].lat, service_points[i].lng);
    }
    service.getDistanceMatrix({
        origins: [startpoint.position],
        destinations: dests,
        travelMode: travelMode,
        unitSystem: google.maps.UnitSystem.METRIC
    }, matrix_callback);
}

function matrix_callback(response, status) {
    if (status !== google.maps.DistanceMatrixStatus.OK) {
        alert('Error was: ' + status);
    } else {
        distances = response.rows[0].elements;

        var smallest = distances[0].distance.value;
        closest = service_points[0].servicePointId;

        i = 0;
        $$('#mapAddress .sp_distance').each(function(el) {
            distance = distances[i].distance;

            if (distance.value < smallest) {
                smallest = distance.value;
                closest = service_points[i].servicePointId;
            }

            el.innerHTML = distance.text;
            i++;
        });
    }
}

function selectMarker(id) {
    var bouncex = false;
    var x = 0;
    while (x < markers.length) {
        markers[x].setAnimation(null);
        if (x < 20) {
            markers[x].setZIndex(15);
            markers[x].setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (x + 1) + '|ED1B2E|FFFFFF');
        }
        if (markers[x].serviceId == id) {
            bouncex = x;
        }
        x++;
    }
    if (bouncex !== false) {
        google.maps.event.trigger(markers[bouncex], 'click');
        selected = markers[bouncex];
        markers[bouncex].setZIndex(100);
        markers[bouncex].setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (bouncex + 1) + '|336699|FFFFFF');
    }

    selectRadioOnMarkerClick(id);
}

function selectTravelMode(mode) {
    switch (mode) {
        case 'BICYCLING':
            return google.maps.TravelMode.BICYCLING;
            break;
        case 'WALKING':
            return google.maps.TravelMode.WALKING;
            break;
        default:
            return google.maps.TravelMode.DRIVING;
    }
}

<?php if (Mage::app()->getRequest()->getModuleName() != 'onestepcheckout' && Mage::app()->getRequest()->getModuleName() != 'gomage_checkout') { ?>
var shippingMethod = new ShippingMethod('co-shipping-method-form', "<?php echo $this->getUrl('checkout/onepage/saveShippingMethod') ?>");
<?php } ?>

$$('.map-button-save').invoke('observe', 'click', function(event) {
    if ($('postnordServicePointId').value){
        $('mapPopup').hide();
        $('mapAddress').hide();
        $('showMap_background').hide();
        $('showMap').style.left = '-10000px';
        $('showMap').style.height = '0';
        $('showMap').style.overflow = 'hidden';
        $('showMap').style.position = 'absolute';
        mapWin.destroy();
        delete mapWin;
        <?php if (Mage::app()->getRequest()->getModuleName() != 'onestepcheckout' && Mage::app()->getRequest()->getModuleName() != 'gomage_checkout') { ?>
        shippingMethod.save();
        <?php } ?>
    } else {
		alert('<?php echo Mage::getStoreConfig('vconnect_postnord/general/location_required'); ?>');
	}
});

$$('.map-button-close').invoke('observe', 'click', function(event) {
    $('mapPopup').hide();
    $('mapAddress').hide();
    $('showMap_background').hide();
    $('showMap').style.left = '-10000px';
    $('showMap').style.height = '0';
    $('showMap').style.overflow = 'hidden';
    $('showMap').style.position = 'absolute';
    mapWin.destroy();
    delete mapWin;
    checkout.reloadSMBlock($('billing:country_id').value);
});

$('showMapButton').observe('click', function(event) {
    if (typeof mapWin === 'undefined') {
        $('showMap').style.left = '0';
        $('showMap').style.height = 'auto';
        $('showMap').style.overflow = 'visible';
        $('showMap').style.position = 'relative';
        mapWin = new Window({ id: 'mapPopup', zIndex:21900, destroyOnClose: true, recenterAuto:false, resizable: false, width:780, minimizable: false, maximizable: false, draggable: false, closable: true, closeOnEsc: false});
        mapWin.setContent('showMap', false, false);
        mapWin.showCenter(false, 50);
        $('mapAddress').show();
        $('showMap_background').show();
    }
});

$('postnord-postnr').observe('keyup', function(event) {
    return showpickupLocations(this.getValue());
});

$('mapAddress').observe('click', function(event) {
    clickedRow = event.findElement('td.radio_point_container');

    if (clickedRow) {
        selectMarker(clickedRow.readAttribute('data-servicePointId'));
    }
});

$('closest').observe('click', function(event) {
    if (typeof startpoint !== 'undefined') {
        selectMarker(closest);
    }
});

$('mapSeachBox').observe('keyup', function(event) {
    showpickupLocations(this.getValue());
});

if ($$('label[for*="vconnect_postnord"]')[0]) {
    $$('label[for*="vconnect_postnord"]')[0].insert({
        after: $('pickupLocation')
    });
}

$$('input[type="radio"][name*="shipping_method"]').each(function(el) {
    if (el.checked == true && el.getValue().search('vconnect_postnord') > -1) {
        $('pickupLocation').show();
        showpickupLocations($('postnord-postnr').value);
    }

    Event.observe(el, 'click', function(){
        if (el.checked == true && el.getValue().search('vconnect_postnord') > -1) {
            $('pickupLocation').show();
            showpickupLocations($('postnord-postnr').value);
        } else {
            $('pickupLocation').hide();
        }
   });
});
Event.live('.vc_radio', 'click', function() {
    $('postnordServicePointId').value = this.value;
    return true;
});

//]]>
</script>

<script type="text/javascript">
    var postnordResponsiveRetrigger = true;
    jQuery(document).ready(function(){
        jQuery('#vc_points_container').on('click','input[type=radio][name=postnordServicePoint]:visible',function(){
            setTimeout(function(){
                shippingMethod.save();
            },1);
        });
    });
</script>