<?php
/*
 * The MIT License
 *
 * Copyright 2016 vConnect.dk
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * @category Magento
 * @package Vconnect_AllInOne
 * @author vConnect
 * @email kontakt@vconnect.dk
 * @template app/design/frontend/base/default/template/vconnect/aio_base/dk/commercial/tabHeader.phtml
 */
$config = $this->getConfig();
?>
<div data-code="<?php echo $this->getCode() ?>" class="aio-options">
    <?php if(!empty($config['delivery_time'])): ?>
    <label for="<?php echo $this->getCode() ?>_deliverytime"><?php echo $this->__("Label arrival time commercial:") ?></label><br /><?php echo $config['delivery_time']; ?><br />
    <?php endif;?>

    <?php if (count($config['arrival'])): ?>
    <label for="<?php echo $this->getCode() ?>_arrival"><?php echo $this->__('Label arrival commercial:') ?></label>
    <select id="<?php echo $this->getCode() ?>_arrival" name="<?php echo $this->getCode() ?>_arrival">
        <?php foreach ($config['arrival'] as $value => $label) : ?>
            <option value="<?php echo $value ?>"><?php echo $this->__($label) ?></option> 
        <?php endforeach; ?>
    </select>
    <?php endif; ?>
    <?php if (count($config['delivery'])): ?>
    <label for="<?php echo $this->getCode() ?>_delivery"><?php echo $this->__('Label delivery commercial:') ?></label>
    <select id="<?php echo $this->getCode() ?>_delivery" name="<?php echo $this->getCode() ?>_delivery">
        <?php foreach ($config['delivery'] as $value => $label) : ?>
            <?php if (is_array($label)): ?>
                <optgroup label="<?php echo  $value?>">            
                    <?php foreach ($label as $j=>$k): ?>
                        <option value="<?php echo is_int($j)?$k:$j ?>"><?php echo $this->__($k) ?></option>
                    <?php endforeach; ?>
                 </optgroup>           
            <?php else: ?>
               <option value="<?php echo $value ?>"><?php echo $this->__($label) ?></option> 
            <?php endif; ?>
            
        <?php endforeach; ?>
    </select>
    <br/>
    <textarea name="<?php echo $this->getCode() ?>_other" class="other-txt" placeholder="<?php echo $this->__('Write place') ?>"></textarea>
    <?php endif; ?>
</div>








