<?php $prefix = "gls"; ?>
<div id="<?php echo $prefix."-"; ?>droppoint-form" style="display:none;">
	<div class="<?php echo $prefix."-"; ?>droppoint-description">
		<?php echo $this->__('Få tilsendt dine varer til et afhentningssted nær dig.') ?>
	</div>
	<label for="<?php echo $prefix."-"; ?>postalCode"><?php echo $this->__('Indtast postnummer:'); ?></label>
	<input type="text" size="4" value="<?php echo $this->getPostnr(); ?>" id="<?php echo $prefix."-"; ?>postalCode" name="<?php echo $prefix."-"; ?>postalCode" onkeypress="return <?php echo $prefix; ?>.onEnterGetJson(event)" />
	<input type="hidden" value="<?php echo ($country = Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()->getCountry()) ? $country : 'DK'; ?>" id="<?php echo $prefix."-"; ?>countryCode" name="<?php echo $prefix."-"; ?>countryCode" />
	<button type="button" class="button" onclick="<?php echo $prefix; ?>.loadDroppoints()"><span><span><?php echo $this->__('Søg'); ?></span></span></button>
	<span id='<?php echo $prefix."-"; ?>loading' style='display:none'>
		<img src='<?php echo $this->getSkinUrl($prefix.'/images/ajax-loader.gif') ?>'/>
	</span>
	
	<?php // GLS SPECIFIC ?>
	<br/>
	<label for="<?php echo $prefix."-"; ?>afhenter"><?php echo Mage::helper('gls')->__("Navn på den der afhenter pakken:") ?></label>
	<input type="text" onblur="<?php echo $prefix; ?>.updateAfhenter(this.value)" value="<?php echo $this->getAfhenter() ?>" id="<?php echo $prefix."-"; ?>afhenter" name="<?php echo $prefix."-"; ?>afhenter" class="required-entry" />
	<?php // TEXT CONTAINERS TIL JAVASCRIPTS START ?>
	
	<div id="<?php echo $prefix."-"; ?>selected-droppoint-text-container" style="display:none"><strong><?php echo $this->__('Vælg afhentningssted:'); ?></strong><br/><i>
		<?php echo $this->__("Indtast dit postnummer og tryk søg herover for at vælge et afhentningssted."); ?></i></div>
	<div id="<?php echo $prefix."-"; ?>selected-droppoint-text-container-selected" style="display:none"><strong><?php echo $this->__('Valgt afhentningssted:'); ?></strong><br /></div>
	<?php // TEXT CONTAINERS TIL JAVASCRIPTS END ?>
	<div  class="selected-droppoint" id="<?php echo $prefix."-"; ?>selected-droppoint"><strong><?php echo $this->__('Vælg afhentningssted:'); ?></strong><br/><i>
		<?php echo $this->__("Indtast dit postnummer og tryk søg herover for at vælge et afhentningssted."); ?></i></div>
	<input type="hidden" class="required-entry" name="<?php echo $prefix."-"; ?>droppoint-id" id="<?php echo $prefix."-"; ?>droppoint-id" value=""/>
	<div class="hidden address">
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-name" id="<?php echo $prefix."-"; ?>droppoint-name" value="" />
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-city" id="<?php echo $prefix."-"; ?>droppoint-city" value="" />
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-postalcode" id="<?php echo $prefix."-"; ?>droppoint-postalcode" value="" />
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-streetname" id="<?php echo $prefix."-"; ?>droppoint-streetname" value="" />						
		<input type="hidden" name="<?php echo $prefix."-"; ?>droppoint-streetnumber" id="<?php echo $prefix."-"; ?>droppoint-streetnumber" value="" />						
	</div>
</div>


<div id="<?php echo $prefix."-"; ?>droppoint-overlay">
	<div id="<?php echo $prefix."-"; ?>droppoint-wrapper">
		<div id="<?php echo $prefix."-"; ?>droppoint-header"><h2><?php echo $this->__('Vælg afhentningssted'); ?></h2></div>
		<hr>
		<div id="<?php echo $prefix."-"; ?>droppoint-result">
			<div class="map">
				<div id="<?php echo $prefix."-"; ?>map-canvas"></div>
			</div>
			<div class="<?php echo $prefix."-"; ?>address-container">
				<ul id="<?php echo $prefix."-"; ?>addresses"></ul>
				<div class="clearer"></div>
			</div>
			<div id="<?php echo $prefix."-"; ?>opening-container"></div>
			<div style="display:none">
				<span id="<?php echo $prefix."-"; ?>opening-header-text"><?php echo $this->__("Adresse & Åbningstider"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-text"><?php echo $this->__("Åbningstider"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-mo"><?php echo $this->__("Mandag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-tu"><?php echo $this->__("Tirsdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-we"><?php echo $this->__("Onsdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-th"><?php echo $this->__("Torsdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-fr"><?php echo $this->__("Fredag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-sa"><?php echo $this->__("Lørdag"); ?></span>
				<span id="<?php echo $prefix."-"; ?>opening-hours-weekday-su"><?php echo $this->__("Søndag"); ?></span>
			</div>
		</div>
		<div class="clearer"></div>
		<hr>
		<div class="<?php echo $prefix."-"; ?>droppoint-buttons-set">
			
			<button type="button" id="<?php echo $prefix."-"; ?>close-droppoint-selector-save">
				<?php echo $this->__('Vælg') ?>
			</button>

			<button type="button" id="<?php echo $prefix."-"; ?>close-droppoint-selector-remove">
				<?php echo $this->__('Annullér') ?>
			</button>	
			
		</div>
	</div>
	<div id="<?php echo $prefix."-"; ?>droppoint-bg-overlay">
	</div>
</div>

<div id="<?php echo $prefix."-"; ?>flex-form" style="display:none;">
	<div class="<?php echo $prefix."-"; ?>flex-description">
		<?php echo $this->__('Hvor må pakken stilles?') ?>
	</div>
	<input type="text" size="30" value="" id="<?php echo $prefix."-"; ?>flexmessage" name="<?php echo $prefix."-"; ?>flexmessage" class="required-entry" onkeyup="<?php echo $prefix; ?>.saveFlexmessageInLocalStorage()"/>
</div>

<script type="text/javascript">
    jQuery(window).load(function(){
	<?php echo $prefix; ?> = new GLS();

	baseUrl = "<?php echo $this->getBaseUrl(); ?>";
	lastUpdatedDroppointId = false;
	
	<?php echo $prefix; ?>.idArrayDroppoints = [];
	<?php $droppointsIds = Mage::helper('gls/droppoints')->getDroppointsIds(); ?>
	<?php foreach($droppointsIds as $id) : ?>
		<?php echo $prefix; ?>.idArrayDroppoints.push('<?php echo $id ?>');
	<?php endforeach; ?>

	<?php echo $prefix; ?>.idArrayFlexs = [];
	<?php $flexIds = Mage::helper('gls/droppoints')->getFlexIds(); ?>
	<?php foreach($flexIds as $id) : ?>
		<?php echo $prefix; ?>.idArrayFlexs.push('<?php echo $id ?>');
	<?php endforeach; ?>

	Ajax.Responders.register({
		onComplete: <?php echo $prefix; ?>.checkDroppointShipping
	});
	
	<?php echo $prefix; ?>.checkDroppointShipping();
	<?php echo $prefix; ?>.setDroppointFromLocalStorage();
	<?php echo $prefix; ?>.checkFlexShipping();
	<?php echo $prefix; ?>.setFlexFromLocalStorage();
    });
</script>

<?php
$storeId = Mage::app()->getStore()->getId();
$showIcon = Mage::getStoreConfig('gls/design/gls_showicon', $storeId);
$iconType = Mage::getStoreConfig('gls/design/gls_icontype', $storeId);
$icon = $this->getSkinUrl($prefix.'/images/logo.png');
?>

<script type="text/javascript">
    jQuery(window).load(function(){
	if('<?php echo $showIcon;?>' == 1) {
		
		if('<?php echo $iconType;?>' == 'logo-only-heading') {
			
			// Normal Checkout -----
			if($$('.checkout-onepage-index') != '') {
				$$('.checkout-onepage-index label[for^=s_method_gls_bestway]')[0].up('li').up('ul').up('dd').previous('dt').insert({
					before: '<img width="100" src="<?php echo $icon;?>"/>'
				});				
				$$('.checkout-onepage-index label[for^=s_method_gls_bestway]')[0].up('li').up('ul').up('dd').previous('dt').hide();
				
			// OnePageCheckout -----
			} else if($$('.onestepcheckout-index-index') != '') {
				$$('.onestepcheckout-index-index label[for^=s_method_gls_bestway]')[0].up('dt').previous('dd').insert({
					before: '<img width="100" src="<?php echo $icon;?>"/>'
				});
				$$('.onestepcheckout-index-index label[for^=s_method_gls_bestway]')[0].up('dt').previous('dd').hide();				
			}

		} else if('<?php echo $iconType;?>' == 'logo-heading') {
			
			// Normal Checkout
			if($$('.checkout-onepage-index') != '') {
				$$('.checkout-onepage-index label[for^=s_method_gls_bestway]')[0].up('li').up('ul').up('dd').previous('dt').insert({
					after: '<img width="100" src="<?php echo $icon;?>"/>'
				});
			
			} else if($$('.onestepcheckout-index-index') != '') {
				// OnePageCheckout
				$$('.onestepcheckout-index-index label[for^=s_method_gls_bestway]')[0].up('dt').previous('dd').insert({
					after: '<img width="100" src="<?php echo $icon;?>"/>'
				});
			}
						
		} else if('<?php echo $iconType;?>' == 'bullets') {

			// Normal Checkout
			$$('.checkout-onepage-index label[for^=s_method_gls_bestway]').each(function(value) {
				$(value).insert({
					top: '<img width="50" style="margin-right:8px;display:inline-block;vertical-align: top;" src="<?php echo $icon;?>"/>'
				})
			});
		
			// OnePageCheckout
			$$('.onestepcheckout-index-index label[for^=s_method_gls_bestway]').each(function(value) {
				$(value).insert({
					top: '<img width="50" style="margin-left:2px;margin-right:3px;display:inline-block;vertical-align: top;" src="<?php echo $icon;?>"/>'
				})
			});
		}
	}
    });
</script>

